<div class="modal fade" id="techPopup" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<img src="assets/graphics/images/superpowers.png" title="Superpowers!" height=30> &nbsp;<b><i
						class="fa fa-flask"></i> Technology</b>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" style="padding: 0;">
				<div style="background-color: #ccc;">
					<button id="" (click)="infoFlg=!infoFlg" type="button" class="btn btn-primary roundButton"
						style="font-size: 20px; cursor: help;"><i class="fa fa-info-circle"></i></button>
					<button id="" (click)="descFlg=!descFlg" type="button" class="btn btn-primary roundButton"><i
							class="fa fa-clipboard"></i> Show Descriptions</button>
					<div style="padding: 20px;" *ngIf="infoFlg">
						<div class="borderClass2">
							<p><b>Upgrades:</b> Upgrades can be purchased at any time for 10 coins each. Anti-balistics
								or Advanced Railway. You can use this technology on the same turn that you buy it.</p>
							<p><b>Research:</b> Research you aquire randomly. The cost is 10 coins per research tech and
								you are guaranteed something. For any given type, you will receive Level 1 before Level
								2, before Level 3. You can buy as much research as you want and get to use it the same
								turn that you buy it.</p>
						</div>
					</div>
				</div>


				<div class="blueBgWhite">Upgrades</div>
				<table border=1 width=100% class="spTable">
					<tr>
						<td>
							<app-tech [tech]="superpowersData.techs[18]" [descFlg]="descFlg" [adminFlg]="adminFlg">
							</app-tech>
						</td>
						<td>
							<app-tech [tech]="superpowersData.techs[19]" [descFlg]="descFlg" [adminFlg]="adminFlg">
							</app-tech>
						</td>
					</tr>
				</table>

				<div class="blueBgWhite">Research</div>
				<table border=1 class="spTable" width=100%>
					<tr>
						<th class="hidden-xxs">Type</th>
						<th>Level 1</th>
						<th>Level 2</th>
						<th>Level 3</th>
					</tr>
					<tr class="visible-xxs">
						<td colspan=3><img src="assets/graphics/units/piece6u.png" height=28> Air Power</td>
					</tr>
					<tr>
						<td class="hidden-xxs">
							<div class="blueBgWhite">Air Power</div><img src="assets/graphics/units/piece6u.png"
								width=70>
						</td>
						<td>
							<app-tech [tech]="superpowersData.techs[0]" [descFlg]="descFlg" [adminFlg]="adminFlg">
							</app-tech>
						</td>
						<td>
							<app-tech [tech]="superpowersData.techs[1]" [descFlg]="descFlg" [adminFlg]="adminFlg">
							</app-tech>
						</td>
						<td>
							<app-tech [tech]="superpowersData.techs[2]" [descFlg]="descFlg" [adminFlg]="adminFlg">
							</app-tech>
						</td>
					</tr>
					<tr class="visible-xxs">
						<td colspan=3><img src="assets/graphics/units/piece1u.png" height=28> Warheads</td>
					</tr>
					<tr>
						<td class="hidden-xxs">
							<div class="blueBgWhite">Warheads</div><img src="assets/graphics/units/piece1u.png"
								width=70>
						</td>
						<td>
							<app-tech [tech]="superpowersData.techs[3]" [descFlg]="descFlg" [adminFlg]="adminFlg">
							</app-tech>
						</td>
						<td>
							<app-tech [tech]="superpowersData.techs[4]" [descFlg]="descFlg" [adminFlg]="adminFlg">
							</app-tech>
						</td>
						<td>
							<app-tech [tech]="superpowersData.techs[5]" [descFlg]="descFlg" [adminFlg]="adminFlg">
							</app-tech>
						</td>
					</tr>
					<tr class="visible-xxs">
						<td colspan=3><img src="assets/graphics/units/piece5u.png" height=28> Torpedoes</td>
					</tr>
					<tr>
						<td class="hidden-xxs">
							<div class="blueBgWhite">Torpedoes</div><img src="assets/graphics/units/piece5u.png"
								width=70>
						</td>
						<td>
							<app-tech [tech]="superpowersData.techs[6]" [descFlg]="descFlg" [adminFlg]="adminFlg">
							</app-tech>
						</td>
						<td>
							<app-tech [tech]="superpowersData.techs[7]" [descFlg]="descFlg" [adminFlg]="adminFlg">
							</app-tech>
						</td>
						<td>
							<app-tech [tech]="superpowersData.techs[8]" [descFlg]="descFlg" [adminFlg]="adminFlg">
							</app-tech>
						</td>
					</tr>
					<tr class="visible-xxs">
						<td colspan=3><img src="assets/graphics/units/piece19u.png" height=28> Economy</td>
					</tr>
					<tr>
						<td class="hidden-xxs">
							<div class="blueBgWhite">Economy</div><img src="assets/graphics/units/piece19u.png"
								width=70>
						</td>
						<td>
							<app-tech [tech]="superpowersData.techs[9]" [descFlg]="descFlg" [adminFlg]="adminFlg">
							</app-tech>
						</td>
						<td>
							<app-tech [tech]="superpowersData.techs[10]" [descFlg]="descFlg" [adminFlg]="adminFlg">
							</app-tech>
						</td>
						<td>
							<app-tech [tech]="superpowersData.techs[11]" [descFlg]="descFlg" [adminFlg]="adminFlg">
							</app-tech>
						</td>
					</tr>
					<tr class="visible-xxs">
						<td colspan=3><img src="assets/graphics/units/piece7u.png" height=28> Bombers</td>
					</tr>
					<tr>
						<td class="hidden-xxs">
							<div class="blueBgWhite">Bombers</div><img src="assets/graphics/units/piece7u.png" width=70>
						</td>
						<td>
							<app-tech [tech]="superpowersData.techs[12]" [descFlg]="descFlg" [adminFlg]="adminFlg">
							</app-tech>
						</td>
						<td>
							<app-tech [tech]="superpowersData.techs[13]" [descFlg]="descFlg" [adminFlg]="adminFlg">
							</app-tech>
						</td>
						<td>
							<app-tech [tech]="superpowersData.techs[14]" [descFlg]="descFlg" [adminFlg]="adminFlg">
							</app-tech>
						</td>
					</tr>
					<tr class="visible-xxs">
						<td colspan=3><img src="assets/graphics/units/piece13u.png" height=28> Tactical</td>
					</tr>
					<tr>
						<td class="hidden-xxs">
							<div class="blueBgWhite">Tactical</div><img src="assets/graphics/units/piece13u.png"
								width=70>
						</td>
						<td>
							<app-tech [tech]="superpowersData.techs[15]" [descFlg]="descFlg" [adminFlg]="adminFlg">
							</app-tech>
						</td>
						<td>
							<app-tech [tech]="superpowersData.techs[16]" [descFlg]="descFlg" [adminFlg]="adminFlg">
							</app-tech>
						</td>
						<td>
							<app-tech [tech]="superpowersData.techs[17]" [descFlg]="descFlg" [adminFlg]="adminFlg">
							</app-tech>
						</td>
					</tr>
				</table>

				<div *ngIf="gameObj" style="text-align: center;">
					<div *ngIf="gameObj.players.length>0" style="color: #ccc;">Total Tech Count</div>
					<span *ngFor="let player of gameObj.players" style="color: white;">
						<img src="assets/graphics/images/flag{{player.nation}}.gif" height=15>
						<span *ngIf="player.totalTech && player.totalTech<20">{{player.totalTech}}</span>
						<span *ngIf="player.totalTech && player.totalTech>=20"><i class="fa fa-check"></i></span>
					</span>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
	</div>
</div>