<!------------------top units----------------------------->
<div class="terr-card">
    <div>
        <img *ngFor="let nation of selectedTerritory.flags" src="assets/graphics/images/flag{{nation}}.gif" height=30>
        {{selectedTerritory.name}} units
        <button *ngIf="selectedTerritory.unitCount>0" (click)="unitDetailFlg=!unitDetailFlg" type="button"
            class="btn btn-secondary roundButton"><i class="fa fa-retweet"></i></button>
    </div>
    <div *ngIf="ableToTakeThisTurn && selectedTerritory.id>79 && selectedTerritory.flags.length>1"
        style="font-size: 11px;"> Multiple nations. Change View:
        <img style="cursor: pointer;" ng-click="changeTerrFlag(nation)" *ngFor="let nation of selectedTerritory.flags"
            src="assets/graphics/images/flag{{nation}}.gif" height=30>
    </div>
    <div *ngIf="ableToTakeThisTurn && selectedTerritory.id <= 79 && selectedTerritory.flags.length > 1 && selectedTerritory.owner==currentPlayer.nation && currentPlayer.status=='Attack'"
        style="font-size: 11px;"> Multiple nations. <button ng-click="attackButtonClicked()" id="warButton"
            type="button" class="btnbtn-danger roundButton">Attack!</button></div>

    <div [ngStyle]="ngStyleLogs(selectedTerritory.owner)" style="color: black;">
        <div *ngIf="selectedTerritory.unitCount==0">-None-</div>
        <div *ngIf="!selectedTerritory.fogOfWar">
            <!------------------large img units------------------unitDetailPopup.show(unit, true)----------->
            <div *ngIf="!unitDetailFlg">
                <span *ngFor="let unit of selectedTerritory.militaryUnits2" style="display: inline-block;">
                    <img *ngIf="unit.piece>0" (click)="showUnitPopup(unit)" 
                        src="{{ngUnitSrc(unit.piece, unit.owner)}}" [ngStyle]="ngStyleUnitTop(currentPlayer.status)"
                        title="{{unit.name}}" style="cursor: pointer;">
                    <div style="font-size: 10px;">
                        <span *ngIf="unit.amount>1">({{unit.amount}})</span>
                        <span *ngIf="unit.amount==1">{{unit.name}}</span>
                    </div>

                </span>
            </div>
            <!------------------small img units----------------------------->
            <div *ngIf="unitDetailFlg">
                <span *ngFor="let unit of selectedTerritory.units"
                    style="display: inline-block; margin: 2px; min-width: 40px; text-align: center;">
                    <div *ngIf="!unit.cargoOf || unit.cargoOf==0"><img (click)="unitDetailPopup.show(unit, true)"
                            *ngIf="unit.piece>0" src="{{ngUnitSrc(unit.piece, unit.nation)}}"
                            style="max-height: 20px; max-width: 40px; cursor: pointer;"
                            title="{{superpowersData.units[unit.piece].name}}">
                        <img *ngFor="let cargo of unit.cargo" src="assets/graphics/units/piece{{cargo.piece}}u.png"
                            title="{{superpowersData.units[cargo.piece].name}}" height=10></div>
                    <img src="assets/graphics/images/flag{{unit.nation}}.gif" height="15"
                        title="{{superpowersData.superpowers[unit.owner]}}"> <i class="fa fa-hourglass-half"
                        *ngIf="unit.piece==28 && gameObj.round <= unit.medicRound+1"
                        title="Medic on cooldown">{{unit.medicRound}}</i>
                </span>
            </div>
        </div>
        <!------------------fog----------------------------->
        <div *ngIf="selectedTerritory.fogOfWar">
            <div>-Fog of War-</div>
            <div *ngIf="gameObj.hardFog=='Y'">
                <button ng-click="showInfo()" id="" type="button" class="btn btn-secondary roundButton"><i
                        class="fa fa-info-circle"></i> HardCore Fog
                    of War</button>
                <div class="borderClass2" *ngIf="infoFlg">
                    <p>In Hardcore Fog-of-war mode, you can see all troops in yours and your ally's
                        territories.</p>
                    <p>For all other territories, if you have at least 1 unit that borders the
                        territory, you can see approximate troop counts.</p>
                </div>
            </div>
            <div ng-hide="gameObj.hardFog=='Y'">
                <button ng-click="showInfo()" id="" type="button" class="btn btn-secondary roundButton"><i
                        class="fa fa-info-circle"></i> Fog of War
                    Info</button>
                <div class="borderClass2" *ngIf="infoFlg">
                    <div>With Fog of War enemy units are hidden from view. Instead you will be given an
                        approximate size of their force, without knowing which units are present:</div>
                    <li>1 = 1 unit
                    <li>2 = 2 units
                    <li>3 = 3 units
                    <li>4+ = 4-8 units
                    <li>9+ = 9-24 units
                    <li>25+ = 25-49 units
                    <li>50+ = 50-99 units
                    <li>100+ = 100-199 units
                        <div>etc...</div>
                </div>
            </div>
            <div *ngIf="selectedTerritory.piece<60">({{selectedTerritory.piece}})</div>
        </div>
    </div>
    <!--colored unit section-->
</div>
<!------------------end top units----------------------------->

<app-unit-detail-popup #unitDetailPopup></app-unit-detail-popup>

<div id="unitPopup" class="popupScreenNoPad" style="z-index: 9999; position: absolute; min-width: 320px; cursor: auto;">
    <div class="darkBlueBg" style="height: 44px;">Unit Detail
        <button onClick="closePopup('unitPopup')" type="button" class="btn btn-secondary roundButton" style="float: right;"><i
            class="fa fa-times"></i></button>
    </div>
    <div *ngIf="selectedUnit" style="padding: 10px;">
        <app-unit-detail nation="1" [selectedUnit]="selectedUnit" [hideUnitDetailFlg]="true"></app-unit-detail>
    </div>
</div>
