<!------------------top units----------------------------->
<div class="terr-card">
    <div>
        <img *ngFor="let nation of selectedTerritory.flags" src="assets/graphics/images/flag{{nation}}.gif" height=30 style="cursor: pointer;"
        (click)="switchOwnership(nation)">
        {{selectedTerritory.name}} units
        <button *ngIf="selectedTerritory.unitCount>0" (click)="unitDetailFlg=!unitDetailFlg" type="button"
            class="btn btn-secondary roundButton"><i class="fa fa-retweet"></i></button>
    </div>
    <div *ngIf="ableToTakeThisTurn && selectedTerritory.id <= 79 && selectedTerritory.flags.length > 1 && selectedTerritory.owner==currentPlayer.nation && currentPlayer.status=='Attack'"
        style="font-size: 11px;"> Multiple nations. <button ng-click="attackButtonClicked()" id="warButton"
            type="button" class="btnbtn-danger roundButton">Attack!</button></div>

    <div [ngStyle]="ngStyleLogs(selectedTerritory.owner)" style="color: black;">
        <div *ngIf="selectedTerritory.militaryUnits2.length==0">-None-</div>
        <div *ngIf="!selectedTerritory.fogOfWar">
            <!------------------large img units------------------unitDetailPopup.show(unit, true)----------->
            <div *ngIf="!unitDetailFlg">
                <span *ngFor="let unit of selectedTerritory.militaryUnits2" style="display: inline-block;">
                    <img *ngIf="unit.piece>0" (click)="showUnitPopup(unit)" src="{{ngUnitSrc(unit.piece, unit.owner)}}"
                        [ngStyle]="ngStyleUnitTop(currentPlayer.status)" title="{{unit.name}}" style="cursor: pointer;">
                    <div style="font-size: 10px;">
                        <span *ngIf="unit.amount>1">({{unit.amount}})</span>
                        <span *ngIf="unit.amount==1">{{unit.name}}</span>
                    </div>

                </span>
            </div>
            <!------------------small img units----------------------------->
            <div *ngIf="unitDetailFlg">
                <span *ngFor="let unit of selectedTerritory.units"
                    style="display: inline-block; margin: 2px; min-width: 40px; text-align: center;">
                    <div *ngIf="1 || !unit.cargoOf || unit.cargoOf==0"><img (click)="unitDetailPopup.show(unit, true)"
                            *ngIf="unit.piece>0" src="{{ngUnitSrc(unit.piece, unit.nation)}}"
                            style="max-height: 20px; max-width: 40px; cursor: pointer;"
                            title="{{superpowersData.units[unit.piece].name}}">
                        <span *ngIf="unit.cargoOf>0">.</span>
                        <img *ngFor="let cargo of unit.cargo" src="assets/graphics/units/piece{{cargo.piece}}u.png"
                            title="{{superpowersData.units[cargo.piece].name}}" height=10></div>
                    <img src="assets/graphics/images/flag{{unit.nation}}.gif" height="15"
                        title="{{superpowersData.superpowers[unit.owner]}}">
                </span>
            </div>
        </div>
        <!------------------fog----------------------------->
        <div *ngIf="selectedTerritory.fogOfWar && selectedTerritory.unitCount>0">
            <div>-Fog of War-</div>
            <div *ngIf="selectedTerritory.piece<60 && selectedTerritory.unitCount>0"><img
                    src="{{ngUnitSrc(selectedTerritory.piece, selectedTerritory.owner)}}" height="30">
                <div style="font-size: 12px;">{{selectedTerritory.displayUnitCount}}</div>
            </div>
            <button (click)="infoFlg = !infoFlg" type="button" class="btn btn-secondary roundButton"><i
                    class="fa fa-info-circle"></i> Fog of War</button>

            <div *ngIf="gameObj.hardFog=='Y'">
                <div class="borderClass2" *ngIf="infoFlg">
                    <p><b>Hardcore Fog-of-War:</b> Most enemy units are completely hidden. If you have a military unit
                        bordering an enemy territory, you will see regular fog-of-war counts.</p>
                </div>
            </div>
            <div ng-hide="gameObj.hardFog=='Y'">
                <div class="borderClass2" *ngIf="infoFlg">
                    <div><b>Fog of War:</b> Enemy units are hidden from view. Instead you will be given an
                        approximate size of their force, without knowing specifics:</div>
                    <li>1 = 1 unit
                    <li>2 = 2 units
                    <li>3 = 3 units
                    <li>4+ = 4-8 units
                    <li>9+ = 9-24 units
                    <li>25+ = 25-49 units
                    <li>50+ = 50-99 units
                    <li>100+ = 100-199 units
                        <div>etc...</div>
                </div>
            </div>
        </div>
        <!------------------super bs----------------------------->
        <div *ngFor="let unit of selectedTerritory.units">
            <div *ngIf="unit.piece==12" class="spCard">
                <div>
                    <div class="spTitle">Super Battleship</div>
                    <div style="background-color: white; color: black;">
                        <div><img src="assets/graphics/units/piece12u.png" title="Super Battleship" height=40></div>
                        <div><img src="assets/graphics/images/flag{{unit.nation}}.gif" height="20">
                            <b>{{unit.sbName}}</b></div>
                        <div title="Attack {{unit.att}} x {{unit.numAtt}}"><i class="fa fa-bolt"></i>
                            <img src="assets/graphics/dice/diceh{{unit.att}}.png" height="20">
                            <img *ngIf="unit.numAtt>1" src="assets/graphics/dice/diceh{{unit.att}}.png" height="20">
                            <img *ngIf="unit.numAtt>2" src="assets/graphics/dice/diceh{{unit.att}}.png" height="20">
                        </div>
                        <div title="Defend {{unit.def}} x {{unit.numDef}}"><i class="fa fa-shield"></i>
                            <img src="assets/graphics/dice/diceh{{unit.def}}.png" height="20">
                            <img *ngIf="unit.numDef>1" src="assets/graphics/dice/diceh{{unit.def}}.png" height="20">
                            <img *ngIf="unit.numDef>2" src="assets/graphics/dice/diceh{{unit.def}}.png" height="20">
                        </div>
                        <div><img *ngIf="unit.adCount>0" src="assets/graphics/units/piece13u.png" height=20><img
                                *ngIf="unit.adCount>1" src="assets/graphics/units/piece13u.png" height=20></div>
                        <div>HP:
                            <img src="assets/graphics/misc/green.png" height="25">
                            <img *ngIf="unit.bcHp>1 && unit.damage<1" src="assets/graphics/misc/green.png" height="25">
                            <img *ngIf="unit.bcHp>2 && unit.damage<2" src="assets/graphics/misc/green.png" height="25">
                            <img *ngIf="unit.bcHp>1 && unit.damage>0" src="assets/graphics/misc/red.png" height="25">
                            <img *ngIf="unit.bcHp>2 && unit.damage>1" src="assets/graphics/misc/red.png" height="25">
                        </div>
                        <div style="font-size: 10px; color: gray;">(Damage: {{unit.damage}})</div>
                    </div>
                </div>
            </div>
        </div>
        <!--sbs-->

    </div>
    <!--colored unit section-->
</div>
<!------------------end top units----------------------------->

<app-unit-detail-popup #unitDetailPopup></app-unit-detail-popup>

<div id="unitPopup" class="popupScreenNoPad" style="z-index: 9999; position: absolute; min-width: 320px; cursor: auto;">
    <div class="darkBlueBg" style="height: 44px;">Unit Detail
        <button onClick="closePopup('unitPopup')" type="button" class="btn btn-secondary roundButton"
            style="float: right;"><i class="fa fa-times"></i></button>
    </div>
    <div *ngIf="selectedUnit" style="padding: 10px;">
        <app-unit-detail nation="1" [selectedUnit]="selectedUnit" [hideUnitDetailFlg]="true"></app-unit-detail>
    </div>
</div>