<!------------------Production----------------------------->
<div class="terr-card">
    <div>Your Economy</div>
    <table class="spTable" style="color: black;">
        <tr>
            <td>
                <div class="tableHeader">Income</div>
                <div><span class="money2">{{currentPlayer.income}}</span> </div>
                <div class="smallText">(per turn)</div>
            </td>

            <td>
                <div class="tableHeader">Coins</div>
                <div> <span class="money2" id="playerMoneyElementId">{{currentPlayer.money}}</span> </div>
                <div class="smallText">(available)</div>
            </td>
        </tr>
    </table>
</div>

<div class="terr-card">
    <div><img src="assets/graphics/units/piece15u.png" height=20> {{selectedTerritory.name}} Production</div>

    
    <!---------technology--------->
    <div *ngIf="selectedTerritory.factoryCount>0 && (!gameObj.currentCampaign || gameObj.currentCampaign == 0 || gameObj.currentCampaign >= 6)"
        style="background-color: #cdf; border: 1px solid black; border-radius: 5px;">
        <div class="darkBlueBg" style="font-size: 10px;"><i class="fa fa-cogs"></i> Technology</div>
        <table class="spTable" style="color: black;">
            <tr>
                <td>
                    <button [disabled]="currentPlayer.money<10 || currentPlayer.abFlg" *ngIf="!currentPlayer.tech[18]"
                        (click)="addUniToQueue(16,1)" type="button" class="btn btn-primary roundButton"
                        title="Anti-Balistics"><i class="fa fa-shield"></i></button>
                    <div *ngIf="currentPlayer.tech[18]" style="font-size: 18px;"><i class="fa fa-check"
                            style="color: green;"></i><i class="fa fa-shield"></i></div>
                    <div style="font-size: 8px;"><i class="fa fa-wrench"></i> Anti-Balistics</div>
                </td>
                <td>
                    <button [disabled]="currentPlayer.money<10 || currentPlayer.railFlg" *ngIf="!currentPlayer.tech[19]"
                        (click)="addUniToQueue(17,1)" type="button" class="btn btn-primary roundButton"
                        title="Railway"><i class="fa fa-train"></i></button>
                    <div *ngIf="currentPlayer.tech[19]" style="font-size: 18px;"><i class="fa fa-check"
                            style="color: green;"></i><i class="fa fa-train"></i></div>
                    <div style="font-size: 8px;"><i class="fa fa-wrench"></i> Railway</div>
                </td>
                <td>
                    <button [disabled]="currentPlayer.money<10" *ngIf="currentPlayer.techCount<18"
                        (click)="addUniToQueue(18,1)" type="button" class="btn btn-primary roundButton"><i
                            class="fa fa-flask"></i>
                        Research ({{currentPlayer.techCount}})</button>
                    <div *ngIf="currentPlayer.techCount>=18" style="font-size: 18px;"><i class="fa fa-check"
                            style="color: green;"></i><i class="fa fa-flask"></i>
                    </div>
                    <div style="font-size: 8px;"><i class="fa fa-flask"></i> Research</div>
                </td>
                <td>
                    <button (click)="infoFlg=!infoFlg" type="button" class="btn btn-secondary roundButton"><i
                            class="fa fa-info-circle"></i></button>
                    <div style="font-size: 8px;">Info</div>
                </td>
            </tr>
        </table>
        <div class="borderClass2" *ngIf="infoFlg" style="font-size: 12px;">
            <i class="fa fa-flask"></i> <b>Technology:</b> You can purchase upgrades or fund research
            for 10 coins each. See the Technology tab at the top of the board for more info.
        </div>
    </div>
    <!---------queue--------->
    <div style="background-color: #cdf; border: 1px solid black; border-radius: 5px; color: black;">
        <div class="darkBlueBg" style="font-size: 10px;"><i class="fa fa-industry"></i> Production
            Queue
        </div>
        <span style="border: 1px solid black; height: 15px; min-width: 15px;"><span
                *ngIf="selectedTerritory.displayQueue.length==0">&nbsp;</span>
            <span *ngFor="let unit of selectedTerritory.displayQueue"><img *ngIf="unit.piece>0"
                    src="{{ngUnitSrc(unit.piece, 1)}}" height=15><span
                    *ngIf="unit.count>1">({{unit.count}})</span></span>
        </span>
        <button [disabled]="selectedTerritory.displayQueue.length==0" (click)="clearQueue()" type="button"
            class="btn btn-secondary roundButton"><i class="fa fa-times"></i> Clear</button>
    </div>
    <!---------purchase form--------->
    <div class="btn-group" *ngIf="selectedTerritory.factoryCount>0 || adminModeFlg">
        <button (click)="changeProdType(0, selectedTerritory)" [ngClass]="ngClassSegment(segmentIdx,0)" type="button"
            class="btn btn-default"><i class="fa fa-truck"></i> Ground</button>
        <button (click)="changeProdType(1, selectedTerritory)" [ngClass]="ngClassSegment(segmentIdx,1)" type="button"
            class="btn btn-default"><i class="fa fa-plane"></i> Air</button>
        <button (click)="changeProdType(2, selectedTerritory)" [ngClass]="ngClassSegment(segmentIdx,2)" type="button"
            class="btn btn-default"><i class="fa fa-anchor"></i> Sea</button>
        <button *ngIf="adminModeFlg || (!gameObj.restrict_units_flg && user.rank>=4)" (click)="changeProdType(3, selectedTerritory)"
            [ngClass]="ngClassSegment(segmentIdx,3)" type="button" class="btn btn-default"><i class="fa fa-star"></i>
            Sp</button>
    </div>
    <div *ngIf="segmentIdx==2 && selectedTerritory.id<79" style="padding: 20px; color: yellow;">
        <i class="fa fa-exclamation-triangle"></i> Note: You don't build ships here. Instead, click on a sea zone next to this factory to build new ships</div>
    <div *ngIf="segmentIdx!=2 || selectedTerritory.id>=79" class="listborder">
        <table class="spTable">
            <tr>
                <td></td>
                <td style="min-width: 25px;" align=center><img src="assets/graphics/images/coin.png" height=20
                        title="cost"></td>
                <td style="min-width: 25px;" align=center>
                    <font color=black><i class="fa fa-arrows-alt" title="Movement"></i></font>
                </td>
                <td style="min-width: 25px;" align=center>
                    <font color=#900><i class="fa fa-bolt" title="Attack"></i></font>
                </td>
                <td style="min-width: 25px;" align=center>
                    <font color=blue><i class="fa fa-shield" title="Defend"></i></font>
                </td>
                <td></td>
            </tr>
            <tr *ngFor="let unit of productionDisplayUnits">
                <td style="font-size: 8px;" align=center>
                    <img (click)="showUnitPopup(unit)" src="{{ngUnitSrc(unit.id, 1)}}"
                        style="max-width: 60px; max-height: 40px; cursor: pointer;"
                        title="{{unit.name}}"><br>{{unit.name}}</td>
                <td align=center>
                    <font color=#c80 style="font-size: 16px;"><b>{{unit.cost}}</b></font>
                </td>
                <td align=center>
                    <font color=black>{{unit.move}}</font>
                </td>
                <td align=center>
                    <font color=#900>{{unit.att}} <span *ngIf="unit.numAtt>1">x
                            {{unit.numAtt}}</span></font>
                </td>
                <td align=center>
                    <font color=blue>{{unit.def}}</font>
                </td>
                <td>
                    <button *ngIf="unit.id != 19 || allowFactoryFlg" [disabled]="currentPlayer.money<unit.cost || (unit.id==12 && currentPlayer.battleshipCost>0)"
                        id="{{'buy'+unit.id}}" (click)="addUniToQueue(unit.id, 1)" type="button"
                        class="btn btn-primary roundButton"><i class="fa fa-lock" *ngIf="unit.locked"></i><span
                            ng-hide="unit.locked">buy</span></button>
                    <button *ngIf="unit.id != 12 && unit.id != 19 && unit.id != 52" [disabled]="currentPlayer.money<unit.cost*2"
                        id="{{'buy5'+unit.id}}" (click)="addUniToQueue(unit.id, 5)" type="button"
                        class="btn btn-primary roundButton">x5</button>
                </td>
            </tr>
            <!------factory-->
            <tr *ngIf="selectedTerritory.factoryCount==0 && selectedTerritory.id<79 && allowFactoryFlg">
                <td style="font-size: 8px;" align=center><img (click)="showUnitPopup({piece: 15})"
                        src="{{ngUnitSrc(15, 1)}}" style="max-width: 60px; max-height: 40px; cursor: pointer;"
                        title="Factory"><br>Factory</td>
                <td align=center>
                    <font color=#c80>15</font>
                </td>
                <td align=center>
                    <font color=black>0</font>
                </td>
                <td align=center>
                    <font color=#900>0</font>
                </td>
                <td align=center>
                    <font color=blue>0</font>
                </td>
                <td>
                    <button [disabled]="currentPlayer.money<15" id="buy15" (click)="addUniToQueue(15, 1)" type="button"
                        class="btn btn-primary roundButton">buy</button>
                </td>
            </tr>
            <!------emp-->
            <tr *ngIf="segmentIdx==1 && currentPlayer.empCount>0 && currentPlayer.techCount>=18 && gameObj.mmFlg && !currentPlayer.empBoughtFlg" class="tableRowClickable2">
                <td style="font-size: 8px;" align=center><img ng-click="unitPopup(52)"
                        src="assets/graphics/units/piece52u.png" style="max-width: 40px; max-height: 40px;"
                        title="EMP Blast"><br>EMP</td>
                <td align=center>
                    <font color=#c80><b>0</b></font>
                </td>
                <td align=center>
                    <font color=black>1</font>
                </td>
                <td align=center>
                    <font color=#900>36</font>
                </td>
                <td align=center>
                    <font color=blue>-</font>
                </td>
                <td>
                    <button (click)="addUniToQueue(52, 1)" type="button"
                        class="btn btn-primary roundButton">buy</button>
                </td>
            </tr>
        </table>
        <div *ngIf="factoriesInQueue==0 && currentPlayer.money >= 15 && facBombedFlg && segmentIdx==0"><img src="assets/graphics/units/piece103.gif" height=20
                title="Repair bombed factory"> <i class="fa fa-arrow-right"></i>
            <img src="assets/graphics/units/piece15.gif" height=20 title="Repair bombed factory">
            <font color=#fc0>15</font> <button id="" (click)="addUniToQueue(15, 1)" type="button"
                class="btn btn-primary roundButton">buy</button>
        </div>
        <div style="padding: 10px;">
            Coins:&nbsp;<span
                class="money" style="font-size: 26px;">{{currentPlayer.money}}</span>
        </div>
    </div>
</div>
<!------------------end Production----------------------------->

<app-unit-detail-popup #unitDetailPopup></app-unit-detail-popup>

<div id="unitPopup2" class="popupScreenNoPad"
    style="z-index: 9999; position: absolute; min-width: 320px; cursor: auto;">
    <div class="darkBlueBg" style="height: 44px;">Unit Detail
        <button onClick="closePopup('unitPopup2')" type="button" class="btn btn-secondary roundButton"
            style="float: right;"><i class="fa fa-times"></i></button>
    </div>
    <div *ngIf="selectedUnit" style="padding: 10px;">
        <app-unit-detail nation="1" [selectedUnit]="selectedUnit" [hideUnitDetailFlg]="true"></app-unit-detail>
    </div>
</div>

<div id="battleshipPopup" class="popupScreen2" style="text-align:center; padding: 0;">
    <div class="darkBlueBg">
        <i class="fa fa-ship"></i> Battleship Construction
    </div>

    <div style="padding: 10px;">
        <img src="assets/graphics/units/piece12u.png" height="60">
        <table style="width: 100%; background-color: transparent;">
            <tr>
                <td>
                    Extra HP:</td>
                <td>
                    <div class="squaredOne" style="display: inline-block; padding: 0; margin: 1px;">
                        <input (click)="addUpBattleShipCost()" type="checkbox" value="None" id="bsb1" name="check" />
                        <label for="bsb1"></label>
                    </div>
                    <div class="squaredOne" style="display: inline-block; padding: 0; margin: 1px;">
                        <input (click)="addUpBattleShipCost()" type="checkbox" value="None" id="bsb2" name="check" />
                        <label for="bsb2"></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Air Defense:</td>
                <td>
                    <div class="squaredOne" style="display: inline-block; padding: 0; margin: 1px;">
                        <input (click)="addUpBattleShipCost()" type="checkbox" value="None" id="bsb3" name="check" />
                        <label for="bsb3"></label>
                    </div>
                    <div class="squaredOne" style="display: inline-block; padding: 0; margin: 1px;">
                        <input (click)="addUpBattleShipCost()" type="checkbox" value="None" id="bsb4" name="check" />
                        <label for="bsb4"></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Extra Attack:</td>
                <td>
                    <div class="squaredOne" style="display: inline-block; padding: 0; margin: 1px;">
                        <input (click)="addUpBattleShipCost()" type="checkbox" value="None" id="bsb5" name="check" />
                        <label for="bsb5"></label>
                    </div>
                    <div class="squaredOne" style="display: inline-block; padding: 0; margin: 1px;">
                        <input (click)="addUpBattleShipCost()" type="checkbox" value="None" id="bsb6" name="check" />
                        <label for="bsb6"></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Extra Defend:</td>
                <td>
                    <div class="squaredOne" style="display: inline-block; padding: 0; margin: 1px;">
                        <input (click)="addUpBattleShipCost()" type="checkbox" value="None" id="bsb7" name="check" />
                        <label for="bsb7"></label>
                    </div>
                    <div class="squaredOne" style="display: inline-block; padding: 0; margin: 1px;">
                        <input (click)="addUpBattleShipCost()" type="checkbox" value="None" id="bsb8" name="check" />
                        <label for="bsb8"></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Attack at 5:</td>
                <td>
                    <div class="squaredOne" style="display: inline-block; padding: 0; margin: 1px;">
                        <input (click)="addUpBattleShipCost()" type="checkbox" value="None" id="bsb9" name="check" />
                        <label for="bsb9"></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Defend at 5:</td>
                <td>
                    <div class="squaredOne" style="display: inline-block; padding: 0; margin: 1px;">
                        <input (click)="addUpBattleShipCost()" type="checkbox" value="None" id="bsb10" name="check" />
                        <label for="bsb10"></label>
                    </div>
                </td>
            </tr>
        </table>
        <hr>
        Select All:
        <div class="squaredOne" style="display: inline-block; padding: 0; margin: 1px;">
            <input (click)="selectAllBattleShipUpg()" type="checkbox" value="None" id="bsb99" name="check" />
            <label for="bsb99"></label>
        </div>
        <hr>
        <div>
            <button onClick="closePopup('battleshipPopup')" type="button"
                class="btn btn-danger roundButton"><i class="fa fa-times"></i> Cancel</button>
            <button [disabled]="brokeFlg" (click)="buyBattleShipButtonClicked()" type="button"
                class="btn btn-success roundButton"><i class="fa fa-check"></i> Purchase</button>
            Cost: <span class="bgHighlight">{{battleshipCost}}</span>
        </div>
    </div>
</div>