<div class="modal fade" id="videoPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <b><i class="fa fa-youtube-play"></i> Videos</b>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center;">

                <button (click)="playVideo(1)" type="button" class="btn btn-secondary roundButton"
                    style="height: 60px;"><i class="fa fa-film"></i> Intro
                    Video</button>
                <button (click)="playVideo(2)" type="button" class="btn btn-secondary roundButton"
                    style="height: 60px;"><i class="fa fa-film"></i> Gameplay
                    Video</button>
                <button (click)="playVideo(3)" type="button" class="btn btn-secondary roundButton"
                    style="height: 60px;"><i class="fa fa-film"></i> Homescreen Icon
                    Video</button>


                <div style="text-align: center;">
                    <video *ngIf="showVideoPlayerFlg" id="mainVideo"
                        style="width: 100%; height: auto; min-width: 480px; min-height: 320px;">
                        <source src="http://www.superpowersgame.com/superpowers480.mov" type="video/mp4">
                    </video>
                    <div *ngIf="showVideoPlayerFlg">
                        <button (click)="turnOffVideo()" type="button" class="btn btn-secondary roundButton"><i
                                class="fa fa-times"></i>
                            Cancel
                        </button>
                    </div>
                </div>

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>