
<div style="text-align: center;">
<img *ngFor="let player of gameObj.players" src="assets/graphics/images/flag{{player.nation}}.gif" height="50" 
class="shadowed" (click)="selectPlayer(player)" style="cursor: pointer;" [ngClass]="ngClassClickableFlag(selectedPlayer.nation, player.nation)">
</div>

<div *ngFor="let terr of selectedPlayer.territories" [ngStyle]="ngStyleLogs2(terr.nation)" 
><b>{{terr.name}}:</b>&nbsp; 

<span *ngIf="gameObj.fogOfWar && terr.treatyStatus < 3">
    <img *ngIf="terr.piece>0 || terr.unitCount>0" src="{{ngUnitSrc(terr.piece, terr.owner)}}" height="30"> {{terr.displayUnitCount}} units
</span>
<span *ngIf="!gameObj.fogOfWar || terr.treatyStatus>=3">
<img *ngFor="let unit of terr.units" src="{{ngUnitSrc(unit.piece, unit.owner)}}" height="25"></span>
</div>
