<span *ngIf="adminFlg" style="color: gray; font-size: 10px;">[{{tech.id-1}}]</span> 
<i class="fa fa-shield" *ngIf="tech.id==19"></i>
<i class="fa fa-train" *ngIf="tech.id==20"></i>
<span style="color: black; font-size: 16px;"><b>{{tech.name}}</b></span>
<div *ngIf="descFlg" style="color: gray; font-size: 12px;">{{tech.desc}}</div>
<div *ngIf="gameObj">
     <span *ngFor="let player of gameObj.players">
         <img *ngIf="player.tech[tech.id-1]" src="assets/graphics/images/flag{{player.nation}}.gif" height="20">
     </span>
</div>

 