<div class="modal fade" id="purchasePopup" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <b><i class="fa fa-usd"></i> Boardgame Purchase</b>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center;" *ngIf="showPageFlg">

                <img src="assets/graphics/images/box_top.jpg" width="100%">
                <img src="assets/graphics/images/box_bottom.jpg" width="100%">

                <div class="spCard">
                    <div>
                        <div class="spCardTitle">Superpowers Game</div>
                        <div class="spCardBody" style="color: gray;">
                            Military Strategy Game<br>
                            Ages 12 and up<br>
                            2-6 players<br>
                            438 plastic pieces!<br>
                            <div style="font-size: 12px; color: blue;">Only 6 copies remaining!</div>
                        </div>
                    </div>
                </div>

                <div class="spCard">
                    <div>
                        <div class="spCardTitle">Complete Game</div>
                        <div class="spCardBody">
                            <font color=black size=4>$145.00</font><br>
                            (sorry only 3 games left!)<br>
                            <font size=2>Plus $15 S&H</font><br>
                            <font size=1>Note: USA sales only.</font><br>


                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="J49G82RTW3NF2">
                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                </form>
                            <div>Customer Questions</div>
                            <div><a href=mailto:rickmedved@hotmail.com>rickmedved@hotmail.com</a></div>
                            <div>425-501-0350</div>

                        </div>
                    </div>
                </div>

                <div class="spCard">
                    <div>
                        <div class="spCardTitle">Plastic Pieces</div>
                        <div class="spCardBody">
                            <div><img src="assets/graphics/misc/piece_sample.jpg" width="200"></div>
                            <b>6 Colors - Each color Includes:</b><br>
                            <li>12 Infantry<br>
                            <li>8 Tanks<br>
                            <li>6 Artillery<br>
                            <li>8 Fighters<br>
                            <li>4 Bombers<br>
                            <li>6 Transports<br>
                            <li>6 Subs<br>
                            <li>2 Aircraft Carriers<br>
                            <li>2 Battle Cruisers<br>
                                <p>
                                    <b>Game Also Includes:</b><br>
                            <li>8 national Rulers<br>
                            <li>8 Generals<br>
                            <li>16 factories
                            <li>16 Air Defense Units
                            <li>8 Nuclear Missiles
                        </div>
                    </div>
                </div>




            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>