<div class="modal fade" id="diplomacyPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border: 0;">
                <img src="assets/graphics/images/superpowers.png" title="Superpowers!" height=30> &nbsp; <b>Diplomacy</b>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center; padding: 0;" *ngIf="currentPlayer">


                <img src="assets/graphics/misc/diplomacy.jpg" width="100%">

                <!--News-->
                <div *ngIf="currentPlayer.news.length>0" style="text-align: center;" class="borderClass3">
                    <div class="blueBgWhite"><i class="fa fa-newspaper-o"></i> News</div>
                    <div *ngFor="let news of currentPlayer.news" (click)="dismissNews(news)" class="borderClass2">
                        <img src="assets/graphics/images/flag{{news.nation}}.gif" height="40">
                        {{newsMessage[news.type]}}
                        <img src="assets/graphics/misc/news{{news.type}}.png" height="40">
                    </div>
                </div>
                
                <!--allyRequests-->
                <div *ngIf="currentPlayer.allyRequests.length > 0" class="borderClass3">
                    <div class="blueBgWhite"><i class="fa fa-users"></i> allyRequests</div>
                    <div>You have the following ally request</div>
                    <div *ngFor="let request of currentPlayer.allyRequests">{{request}}</div>
                 </div>
                <!--over limit of allies-->
                <div *ngIf="currentPlayer.allySpotsOpen < 0 && currentPlayer.offers.length == 0" class="borderClass3">
                    <div class="blueBgWhite"><i class="fa fa-users"></i> Too many Allies!</div>
                    <div>You are over your limit of allies. Click on an ally to drop</div>
                    <button *ngFor="let ally of currentPlayer.allies" (click)="dropAlly(ally)" type="button"
                        class="btn btn-success roundButton">
                        <i class="fa fa-trash"></i> <img src="assets/graphics/images/flag{{ally}}.gif" height="40">
                    </button>
                </div>

                <!--bot request-->
                <div *ngIf="currentPlayer.botRequests.length>0" class="borderClass3">
                    <div style="background-color: #444; color: white;"><i class="fa fa-users"></i> Ally Requests</div>
                    <div *ngFor="let botRequests of currentPlayer.botRequests" style="border-bottom: 1px solid gray;">
                        <img src="assets/graphics/images/flag{{botRequests.fromN}}.gif" height="20">
                        <span *ngIf="botRequests.type==1">Fortify</span>
                        <span *ngIf="botRequests.type==2">Attack</span>
                        {{gameObj.territories[botRequests.terr-1].name}}!
                    </div>
                </div>

                <!--offers-->
                <div *ngIf="currentPlayer.offers.length>0" style="text-align: center;" class="borderClass3">
                    <div class="blueBgWhite"><i class="fa fa-handshake-o"></i> Diplomacy</div>
                    <div *ngIf="gameObj.maxAllies > 0">
                        <div>Maximum # allies: <span class="bgHighlight">{{gameObj.maxAllies}}</span></div>
                        <div class="borderClass3">
                            <div class="blueBgWhite">Current Allies</div> 
                            <img *ngFor="let ally of currentPlayer.allies" src="assets/graphics/images/flag{{ally}}.gif" height="40">
                            <div *ngIf="currentPlayer.allies.length == 0">None</div>
                        </div>
                    </div>

                    <div *ngFor="let offer of currentPlayer.offers" class="borderClass2">
                        <table width=100%>
                            <tr>
                                <td><img src="assets/graphics/images/flag{{offer}}.gif" height="40"></td>
                                <td>
                                    <span *ngIf="currentPlayer.treaties[offer-1]<2">
                                        <div>Peace treaty offered!</div>
                                        <div style="font-size: 12px; color: gray;">{{superpowersData.superpowers[offer]}} would like to declare peace. By accepting, you agree not to attack each other, or face a 10-coin penalty to break the peace.</div>
                                    </span>
                                    <span *ngIf="currentPlayer.treaties[offer-1]==2">
                                        <div>Alliance offered!</div>
                                        <div style="font-size: 12px; color: gray;">{{superpowersData.superpowers[offer]}} would like to form an alliance. This means would be on the same team and can win the game together!</div>
                                    </span>
                                </td>
                                <td>
                                    <img *ngIf="currentPlayer.treaties[offer-1]<2" src="assets/graphics/misc/news2.png"
                                        height="40">
                                    <img *ngIf="currentPlayer.treaties[offer-1]==2" src="assets/graphics/misc/news3.png"
                                        height="40">
                                </td>
                            </tr>
                        </table>


                        <div>
                            <button (click)="acceptOffer(offer)" type="button"
                                class="btn btn-success roundButton">Accept</button>
                            <button (click)="rejectOffer(offer)" type="button"
                                class="btn btn-danger roundButton">Reject</button>
                        </div>
                    </div>
                </div>
                <!--end offers-->


            </div>

            <div class="modal-header" style="background-color: #337ab7;  border: 0">
                <button (click)="closeModal('#diplomacyPopup')" type="button"
                    class="btn btn-secondary roundButton">Close</button>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


        </div>
    </div>
</div>