
    <div
    *ngIf="gameObj.type!='freeforall' && gameObj.type!='ffa-5' && gameObj.type!='ffa-6' && gameObj.type!='ffa-7' && displayTeams.length < gameObj.players.length">
    <div>Team Income</div>
    <div><canvas class="borderClass3" id="teamCanvas" height="340"></canvas></div>

    <span *ngFor="let team of gameObj.teams">
        <div *ngIf="team.income>0" class="borderClass3" [ngStyle]="ngStyleLogs(team.teamPlayers[0])"
            style="text-align: center;">
            <div class="blueBgWhite">Team {{team.name}}</div>
            <div style="font-size: 10px;">-Players-</div>
            <span *ngFor="let nation of team.teamPlayers"><img src="assets/graphics/images/flag{{nation}}.gif"
                    height=30></span>
            <hr style="margin: 3px;">
            <div style="font-size: 10px;">-Capitals-</div>
            <img *ngFor="let nation of team.nations" src="assets/graphics/images/flag{{nation}}.gif" height=20>
            <hr style="margin: 3px;">
            <div style="font-size: 10px;">-Income-</div>
            <div style="font-size: 22px; color: #007; font-weight: 700;">{{team.income}}</div>
        </div>
    </span>
 
</div>

<hr>



    <div>Player Income</div>
    <div><canvas class="borderClass3" id="playersCanvas" height="340"></canvas></div>


<span *ngFor="let player of gameObj.players" class="borderClass3" [ngStyle]="ngStyleLogs(player.nation)"
    style="text-align: center;">
    <div class="blueBgWhite" style="font-size: 10px;"><i *ngIf="player.cpu && player.alive" class="fa fa-android"
            title="Computer Player"></i>
        {{player.userName}}</div>
    <img src="assets/graphics/images/flag{{player.nation}}.gif" height=35
        title="{{superpowersData.superpowers[player.nation]}}">
    <div style="font-size: 10px;">-Income-</div>
    <div *ngIf="player.alive" style="font-size: 20px; color: #007;"><b>{{player.income}}</b></div>
    <div *ngIf="!player.alive"><img src="assets/graphics/misc/skull.png" height=25 title="Eliminated"></div>
    <div style="font-size: 10px;">-Capitals-</div>
    <img *ngFor="let nation of player.capitals" src="assets/graphics/images/flag{{nation}}.gif" height=20>
    <div *ngIf="player.capitals.length==0">None</div>
    <hr style="margin: 2px;">
    <div>
        <img src="assets/graphics/units/piece10u.png" height=20 width=15 title="General">
        <img src="assets/graphics/units/piece11u.png" height=20 width=15 title="Leader">
    </div>
    <span *ngIf="player.generalFlg" class="circle" style="background-color: #0c0;" title="General Alive"></span>
    <span *ngIf="!player.generalFlg" class="circle" style="background-color: red;" title="General Dead"></span>
    <span *ngIf="player.leaderFlg" class="circle" style="background-color: #0c0;" title="Leader Alive"></span>
    <span *ngIf="!player.leaderFlg" class="circle" style="background-color: red;" title="Leader Dead"></span>
    <div style="font-size: 10px; padding: 5px;">{{player.unitCount}} units</div>
</span>
