<div class="modal fade" id="statsPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content gradient">
            <div class="modal-header">
                <img src="assets/graphics/images/superpowers.png" title="Superpowers!" height=30>
                &nbsp;<b>Stats</b>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="gameObj">


                <section class="" style="width: 100%; color: white;">
                    <div
                        *ngIf="gameObj.type!='freeforall' && gameObj.type!='ffa-5' && gameObj.type!='ffa-6' && gameObj.type!='ffa-7' && numTeams<gameObj.players.length">
                        <div>Team Income</div>
                        <canvas id="teamCanvas" width="640" height="340"></canvas>
                        <div *ngFor="let team of gameObj.teams" class="borderClass2"
                            ng-style="ngStyleLogs(team.nations[0])">
                            <div style="font-size: 12px;">Team {{team.name}}</div>
                            <span *ngFor="let nation of team.nations"><img
                                    src="assets/graphics/images/flag{{nation}}.gif" height=30></span>
                            <div style="font-size: 24px; color: #070;"> {{team.income}}</div>
                        </div>
                        <hr>
                    </div>

                    <div>Player Income</div>
                    <canvas id="playersCanvas" width="640" height="340"></canvas>

                    <span *ngFor="let player of gameObj.players" class="borderClass3"
                        [ngStyle]="ngStyleLogs(player.nation)" style="text-align: center;">
                        <div style="font-size: 10px; background-color: #444; color: white;"><i *ngIf="player.cpu && player.alive"
                                class="fa fa-android" title="Computer Player"></i> {{player.userName}}</div>
                        <img src="assets/graphics/images/flag{{player.nation}}.gif" height=35
                            title="{{superpowersData.superpowers[player.nation]}}">

                        <div *ngIf="player.alive" style="font-size: 20px; color: #070;"> {{player.income}}</div>
                        <div *ngIf="!player.alive"><img src="assets/graphics/misc/skull.png" height=25
                                title="Eliminated"></div>
                        <div>
                            <img src="assets/graphics/units/piece10u.png" height=20 width=15 title="General">
                            <img src="assets/graphics/units/piece11u.png" height=20 width=15 title="Leader">
                        </div>
                        <span *ngIf="player.generalFlg" class="circle" style="background-color: #0c0;"
                            title="General Alive"></span>
                        <span *ngIf="!player.generalFlg" class="circle" style="background-color: red;"
                            title="General Dead"></span>
                        <span *ngIf="player.leaderFlg" class="circle" style="background-color: #0c0;"
                            title="Leader Alive"></span>
                        <span *ngIf="!player.leaderFlg" class="circle" style="background-color: red;"
                            title="Leader Dead"></span>
                        <div style="font-size: 10px; padding: 5px;">{{player.unitCount}} units</div>
                    </span>

                </section>

            </div>
            <!--body-->
        </div>
    </div>
</div>