<div class="modal fade" id="ranksPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border: 0;">
                <b><i class="fa fa-star"></i> Ranks</b>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding: 0; text-align: center;">



                <div style="text-align: center; padding-bottom: 5px;">
                    <div class="btn-group">
                        <button (click)="changeSegment(0)" type="button" class="btn btn-default roundButton"
                            [ngClass]="ngClassSegment(segmentIdx,0)">
                            <img src="assets/graphics/ranks/rank1.png" height="40" width="40">
                            <div style="font-size: 10px;">Private</div>
                        </button>
                        <button (click)="changeSegment(1)" type="button" class="btn btn-default roundButton"
                            [ngClass]="ngClassSegment(segmentIdx,1)">
                            <img src="assets/graphics/ranks/rank4.png" height="40" width="40">
                            <div style="font-size: 10px;">Sergeant</div>
                        </button>
                        <button (click)="changeSegment(2)" type="button" class="btn btn-default roundButton"
                            [ngClass]="ngClassSegment(segmentIdx,2)">
                            <img src="assets/graphics/ranks/rank7.png" height="40">
                            <div style="font-size: 10px;">Officer</div>
                        </button>
                        <button (click)="changeSegment(3)" type="button" class="btn btn-default roundButton"
                            [ngClass]="ngClassSegment(segmentIdx,3)">
                            <img src="assets/graphics/ranks/rank12.png" height="40" width="40">
                            <div style="font-size: 10px;">Major</div>
                        </button>
                        <button (click)="changeSegment(4)" type="button" class="btn btn-default roundButton"
                            [ngClass]="ngClassSegment(segmentIdx,4)">
                            <img src="assets/graphics/ranks/rank14.png" height="40" width="40">
                            <div style="font-size: 10px;">General</div>
                        </button>
                    </div>
                </div>

                <table class="spTable">
                    <tr>
                        <th>Rank</th>
                        <th>Needed to reach the level</th>
                    </tr>
                    <tr *ngFor="let rank of ranks" style="border-bottom: 1px solid black;">
                        <td><i *ngIf="user && user.rank == rank.id" class="fa fa-hand-o-right" style="font-size: 24px; color: blue;"
                            title="Your current rank"></i>
                            <img src="assets/graphics/ranks/rank{{rank.id}}.png" title="{{rank.id}}: {{rank.name}}"
                                style="max-width: 100px; max-height: 44px;">
                            <div style="font-size: 10px;">{{rank.name}}</div>
                        </td>
                        <td style="text-align: left;">
                            <b>{{rank.name}}</b>: {{rank.desc}}</td>
                    </tr>
                </table>

                <div *ngIf="specialUnits.length>0" class="borderClass3" style="text-align: center;">
                    <div class="darkBlueBg">Special Units Available</div>
                    <span *ngFor="let piece of specialUnits" style="display: inline-block;">
                        <img (click)="showUnitPopup(piece)" src="{{ngUnitSrc(piece)}}"
                        height="50" title="{{superpowersData.units[piece].name}}" class="shadowed">
                        <div style="font-size: 10px;">{{superpowersData.units[piece].name}}</div>
                    </span>
                 </div>

            </div>
            <!--modal-body-->
            <div class="modal-footer">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="unitPopup" class="popupScreenNoPad" style="z-index: 9999; position: absolute; min-width: 320px; cursor: auto;">
    <div class="darkBlueBg" style="height: 44px;">Unit Detail
        <button onClick="closePopup('unitPopup')" type="button" class="btn btn-secondary roundButton"
            style="float: right;"><i class="fa fa-times"></i></button>
    </div>
    <div *ngIf="selectedUnit" style="padding: 10px;">
        <app-unit-detail nation="1" [selectedUnit]="selectedUnit" [hideUnitDetailFlg]="true"></app-unit-detail>
    </div>
</div>