<div class="modal fade" id="homeScreenPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <b><i class="fa fa-home"></i> Add to Home Screen</b>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center;" *ngIf="0">

                <div class="darkBlue">Add an icon to your phone's desktop! It's easy</div>
                <hr>
                <div><b>Step 1:</b> Click your browser's menu options</div>

                <div style="text-align: center; padding: 5px;">
                    <div class="btn-group">
                        <button (click)="buttonIdx=0" type="button" class="btn btn-default segmentButton roundButton"
                            [ngClass]="ngClassSegment(buttonIdx,0)" style="min-width: 60px;">
                            <i class="fa fa-android" style="font-size: 26px;"></i>
                            <div style="font-size: 10px;">Android</div>
                        </button>
                        <button (click)="buttonIdx=1" type="button" class="btn btn-default segmentButton roundButton"
                            [ngClass]="ngClassSegment(buttonIdx,1)" style="min-width: 60px;">
                            <i class="fa fa-apple" style="font-size: 26px;"></i>
                            <div style="font-size: 10px;">IOS</div>
                        </button>
                    </div>
                </div>


                <img *ngIf="buttonIdx==0" src="assets/graphics/misc/androidView.png" height="85">
                <img *ngIf="buttonIdx==1" src="assets/graphics/misc/iosView.png" height="85">
                <hr>
                <div><b>Step 2:</b> Click "Add to Home Screen"</div>
                <img src="assets/graphics/misc/desktop2.png" width="320">
                <img src="assets/graphics/misc/desktop.png" width="320">


            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>