<div style="padding-left: 5px; font-size: 18px; font-weight: 700; text-align: left;">
    {{terr.name}}
    <span style="float: right;">
        <span *ngIf="terr.movableTroopCount >= 2" style="font-size: 10px;">Select All
        </span>
        <div *ngIf="terr.units.length>=2" class="squaredOne squaredOneGreen"
            style="display: inline-block; padding: 0; margin: 1px;">
            <input (click)="selectAllUnitsForTerr(terr)" type="checkbox" value="None"
                id="{{'ter'+terr.id}}" name="check" />
            <label for="{{'ter'+terr.id}}"></label>

        </div>
    </span>
</div>
<hr style="padding: 0; margin: 5px;">
<div *ngFor="let unit of terr.units" style="display: inline-block;">
    <span *ngIf="checkMovement(terr.distObj, unit, optionType)">
        <div (click)="checkSendButtonStatus(unit)" class="squaredOne"
            style="display: inline-block; padding: 0; margin: 1px;">
            <input type="checkbox" value="None" id="{{'unit'+unit.id}}" name="check" />
            <label for="{{'unit'+unit.id}}"></label>
        </div> <i class="fa fa-hourglass-half"
            *ngIf="unit.piece==28 && gameObj.round-1 == unit.medicRound"></i>
        <span style="margin-right: 10px;"> <img *ngIf="unit.piece>0"
                ng-click="unitPopup(unit.piece)"
                src="{{ngUnitSrc(unit.piece, unit.nation)}}" height=20
                title="{{unit.name}}"><span *ngIf="unit.cargoOf>0">(c)</span><span
                *ngFor="let cargo of unit.cargo"><img src="{{ngUnitSrc(cargo.piece)}}"
                    height=10></span></span>
    </span>
</div>
<div *ngIf="selectedUnitForm==terr.id"
    style="margin-top: 5px; border: 1px solid gray; display: block; white-space: nowrap;">
    ({{selectedFormUnit.max}})
    <img ng-if="1" ng-click="unitPopup(2)" src="{{ngUnitSrc(selectedFormUnit.piece, 1)}}"
        style="max-height: 30px; max-width: 40px;">
    <button disabled id="unitCountToOne" ng-click="unitCountToZero(terr)" type="button"
        class="btn btn-primary tight roundButton"><i
            class="fa fa-fast-backward"></i></button>
    <button disabled id="unitCountDown" ng-click="unitCountDownF(terr)" type="button"
        class="btn btn-primary tight roundButton"><i class="fa fa-backward"></i></button>
    <button id="unitCountUp" ng-click="unitCountUpF(terr)" type="button"
        class="btn btn-primary tight roundButton"><i class="fa fa-forward"></i></button>
    <button id="unitCountToMax" ng-click="setUnitCountToMax(terr)" type="button"
        class="btn btn-primary tight roundButton"><i
            class="fa fa-fast-forward"></i></button>
    <span
        style="background-color: white; border: 1px solid black; font-size: 18px; padding: 1px;">{{selectedFormUnit.num}}</span>
</div>
