<div class="modal fade" id="startGamePopup" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document" style="max-width: 400px;">
        <div class="modal-content">
            <div class="modal-header" style="border: 0;">
                <b><i class="fa fa-arrow-right"></i> Single Player Game</b>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding: 0; text-align: center;">
                <img [src]="mainImageSrc" width="100%">
                <div *ngIf="campaignId > 0">
                    <div *ngIf="campaignId>0">
                        <div style="font-size: 14px; font-weight: 700;">Campaign
                            #{{superpowersData.campaigns[campaignId-1].id}}</div>
                        <img src="assets/graphics/units/piece{{superpowersData.campaigns[campaignId-1].unit}}u.png"
                            style="max-height: 120px; max-width: 200px;">
                        <div style="font-size: 24px; font-weight: 700;">
                            {{superpowersData.campaigns[campaignId-1].name}}</div>
                        <div style="font-size: 11px;">{{superpowersData.campaigns[campaignId-1].desc}}</div>
                    </div>
                </div>
                <div *ngIf="campaignId == 0">
                    <div class="btn-group">
                        <button (mousedown)="changeMainGameType(1)" type="button"
                            class="btn btn-default roundButton tall" [ngClass]="ngClassSegment(mainGameType,1)">
                            Superpowers</button>
                        <button *ngIf="0" (mousedown)="changeMainGameType(2)" type="button"
                            class="btn btn-default roundButton tall" [ngClass]="ngClassSegment(mainGameType,2)">
                            Axis & Allies</button>
                    </div>
                    <div *ngIf="mainGameType==1">
                        <div style="border: 1px solid black; margin: 3px; background-color: #ddd;">
                            <div class="btn-group">
                                <button (mousedown)="changeSegmentIdx(0)" type="button"
                                    class="btn btn-default roundButton" [ngClass]="ngClassSegment(segmentIdx,0)"><i
                                        class="fa fa-handshake-o"></i>
                                    Diplomacy</button>
                                <button (mousedown)="changeSegmentIdx(1)" type="button"
                                    class="btn btn-default roundButton" [ngClass]="ngClassSegment(segmentIdx,1)"><i
                                        class="fa fa-user"></i>
                                    Free-For-All</button>
                                <button (mousedown)="changeSegmentIdx(2)" type="button"
                                    class="btn btn-default roundButton" [ngClass]="ngClassSegment(segmentIdx,2)"><i
                                        class="fa fa-star-o"></i> WW2</button>
                            </div>
                            <div class="borderClass2">
                                <div *ngIf="segmentIdx==0">
                                    <b><i class="fa fa-handshake-o"></i> Diplomacy</b>: You can make alliances to form a
                                    2v2
                                    matchup.
                                </div>
                                <div *ngIf="segmentIdx==1">
                                    <b><i class="fa fa-user"></i> Free-For-All</b>: You are on your own. First player to
                                    control 6 capitals wins the game.
                                </div>
                                <div *ngIf="segmentIdx==2">
                                    <b><i class="fa fa-star"></i> World-War-II</b>: United States & Russia vs Nazi
                                    Germany &
                                    japan.
                                </div>
                            </div>

                            <div># Players:
                                <button (mousedown)="changeNumPlayers()" type="button"
                                    class="btn btn-primary roundButton">{{numPlayers}}</button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="mainGameType>0">
                        <div style="border: 1px solid black; margin: 3px; background-color: #ddd;" *ngIf="user.rank>=2">
                            <div class="btn-group">
                                <button (click)="fogIdx=0" type="button" class="btn btn-default roundButton"
                                    [ngClass]="ngClassSegment(fogIdx,0)"><i class="fa fa-sun-o"></i><br>
                                    Standard</button>
                                <button (click)="fogIdx=1" type="button" class="btn btn-default roundButton"
                                    [ngClass]="ngClassSegment(fogIdx,1)"><i class="fa fa-moon-o"></i><br>
                                    Fog-of-War</button>
                                <button (click)="fogIdx=2" type="button" class="btn btn-default roundButton"
                                    [ngClass]="ngClassSegment(fogIdx,2)"><i class="fa fa-cloud"></i><br> Hardcore
                                    Fog</button>
                            </div>
                            <div class="borderClass2">
                                <div *ngIf="fogIdx==0"><b><i class="fa fa-sun-o"></i> Standard:</b> All units are
                                    visible to
                                    all players.</div>
                                <div *ngIf="fogIdx==1"><b><i class="fa fa-moon-o"></i> Fog:</b> You get approximate unit
                                    counts for each territory but not specific
                                    units.
                                </div>
                                <div *ngIf="fogIdx==2"><b><i class="fa fa-cloud"></i> Hardcore:</b> Total fog blackout
                                    for
                                    all territories unless you have a unit that
                                    borders it.</div>
                            </div>
                        </div>

                        <div *ngIf="0" style="border: 1px solid black; margin: 3px; background-color: #ddd;">
                            <div class="btn-group">
                                <button (click)="difficultyIdx=0" type="button" class="btn btn-default roundButton"
                                    [ngClass]="ngClassSegment(difficultyIdx,0)"> Easy</button>
                                <button (click)="difficultyIdx=1" type="button" class="btn btn-default roundButton"
                                    [ngClass]="ngClassSegment(difficultyIdx,1)"> Standard</button>
                                <button (click)="difficultyIdx=2" type="button" class="btn btn-default roundButton"
                                    [ngClass]="ngClassSegment(difficultyIdx,2)"> Difficult</button>
                            </div>
                        </div>

                        <div style="border: 1px solid black; margin: 3px; background-color: #ddd;">
                            <table>
                                <tr>
                                    <td valign="top" style="width: 120px;">
                                        <div style="font-size: 12px;">Starting Superpower</div>
                                        <div *ngIf="yourNation==0"
                                            style="margin-top: -40px; font-size: 120px; padding: 0; height: 150px;">?
                                        </div>
                                        <img *ngIf="yourNation>0" [src]="flagOfNation(yourNation, mainGameType)"
                                            height="120">
                                    </td>
                                    <td>
                                        <img *ngFor="let nation of nations" (click)="yourNation = nation"
                                            [src]="flagOfNation(nation, mainGameType)" height="60"
                                            class="hoverShadowed">
                                        <button (click)="yourNation=0" type="button"
                                            class="btn btn-default roundButton">Random</button>
                                    </td>
                                </tr>
                            </table>
                        </div>


                    </div>
                    <div *ngIf="user.rank > 2" style="font-size: 10px;">Note single player games are just for fun. Stats
                        are
                        not saved and do not
                        affect your multi-player record or standings. You can surrender at any time without penalty.
                    </div>
                </div>

                <div><button (click)="startGame()" type="button"
                    class="btn btn-danger roundButton tall glowRed">Start Game!</button></div>



            </div>


            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>