<div class="modal fade" id="unitsPopup" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<b><i class="fa fa-fighter-jet"></i> Units</b>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" style="padding: 5px; text-align: center;">
				<div>
					<div class="btn-group">
						<button *ngFor="let button of buttonList; let i = index;" (click)="selectButton(i)"
							type="button" class="btn btn-default roundButton" [ngClass]="ngClassSegment(segmentIdx,i)"
							style="min-width: 45px;">
							<i class="fa {{button.icon}}" style="font-size: 20px;"></i>
							<div style="font-size: 10px;">{{button.name}}</div>
						</button>
					</div>
				</div>


				<div class="spCard">
					<div>
						<div class="spTitle"><i class="fa {{buttonList[segmentIdx].icon}}"></i>
							{{classTypes[segmentIdx]}}</div>
						<div class="spCardBody">
							<div *ngIf="rankTypes[segmentIdx].length>0" style="font-size: 12px;">These units available
								once you achieve rank of <b>{{rankTypes[segmentIdx]}}</b></div>
							<span *ngFor="let unit of unitList" (click)="selectUnit(unit)" class="shadowed"
								[ngClass]="ngClassUnit(selectedUnit.id,unit.id)"
								style="padding: 5px; display: inline-block;">
								<img *ngIf="unit.flag>0" src="assets/graphics/images/flag{{unit.flag}}.gif" height=30>
								<img src="{{ngUnitSrc(unit.id)}}" style="max-height:40px; max-width:80px">
								<div style="font-size: 10px;">{{unit.name}}</div>
							</span>
							<!--				<button *ngFor="let unit of unitList" (click)="selectUnit(unit)" type="button"
							class="btn btn-light roundButton" [ngClass]="ngClassSegment(selectedUnit.id,unit.id)">
							<img *ngIf="unit.flag>0" src="assets/graphics/images/flag{{unit.flag}}.gif" height=30> <img
								src="{{ngUnitSrc(unit.id)}}" style="max-height:40px; max-width:80px"></button>-->
						</div>
					</div>
				</div>

				<div *ngIf="adminModeFlg" style="background-color: yellow;">{{selectedUnit.name}}
					[id={{selectedUnit.id}}]</div>
				<app-unit-detail nation="1" [selectedUnit]="selectedUnit"></app-unit-detail>


				<div *ngIf="loadingFlg"><i class="fa fa-spinner fa-spin"></i> Loading...</div>
				<div *ngIf="!loadingFlg && user && user.userId>0" class="borderClass3" style="width: 100%;">
					<div style="background-color: #337ab7; color: white;">User Strategy Tips</div>
					<div *ngFor="let strategy of userStrategies" class="borderClass3" style="text-align: left; width: 100%;">

						<div style="float:left; padding: 5px;">
							<div><img src="http://www.superpowersgame.com/graphics/avitars/{{strategy.graphic}}"
									style="max-height: 150px; max-width: 150px;">
							</div>
							<img src="assets/graphics/ranks/rank{{strategy.rank}}.png"
									style="height: 25px; max-width: 100px;">
							<span style="font-size: 24px;"><b>{{strategy.userName}}</b></span>
						</div>
						<div [innerHTML]="strategy.desc"></div>

						<button (click)="deleteStratButtonPressed(strategy)" *ngIf="user.userName==strategy.userName || user.userName=='Rick'"
							id="homeButton" type="button" class="btn btn-danger roundButton"><i
								class="fa fa-trash"></i></button>
					</div>
					<div *ngIf="user.rank>3" style="color: black;">
						<table width=100%>
							<tr>
								<td>
									<input name="strategyText" id="strategyText" placeholder="Add your strategy tips"
										style="width: 100%;">
								</td>
								<td width=80>
									<button id="uploadStrategyButton" type="button"
										(click)="uploadStrategyPressed()"
										class="btn btn-primary roundButton">Upload</button>
								</td>
							</tr>
						</table>
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
	</div>
</div>

<div id="confirmationPopup" class="popupScreen2" style="width: 300px;">
	<div>Delete this strategy hint?</div>
	<button onClick="closePopup('confirmationPopup')" type="button" class="btn btn-danger roundButton tall2"><i
			class="fa fa-times"></i> Cancel</button>
	<button (click)="deleteStratConfirmed()" type="button" class="btn btn-success roundButton tall2"><i
			class="fa fa-trash"></i> Delete!</button>
</div>
