<div class="spCard" style="max-width: 340px;">
	<div>
		<table *ngIf="gameObj" class="spTable">
			<tr>
				<td colspan="2"> <i class="{{gameObj.icon}}"></i> {{gameObj.typeName}}</td>
			</tr>
			<tr>
				<td colspan="2" style="font-size: 12px;">{{gameObj.desc}}</td>
			</tr>
			<tr *ngIf="gameObj.mmFlg">
				<td colspan="2">
					<font color=red><i class="fa fa-trophy"></i> Official Matchmaking</font>
				</td>
			</tr>
			<tr>
				<td><b>Created:</b></td>
				<td>{{createdDay}}</td>
			</tr>
			<tr *ngIf="gameObj.multiPlayerFlg">
				<td><b>Host:</b></td>
				<td><i class="fa fa-h-square"></i> {{gameObj.host}}</td>
			</tr>
			<tr *ngIf="gameObj.turboFlg">
				<td><b>Turbo Game:</b></td>
				<td>
					<font color=#000>Y</font>
				</td>
			</tr>
			<tr *ngIf="gameObj.fogOfWar!='Y' && gameObj.hardFog!='Y'">
				<td><b>Visibility:</b></td>
				<td>
					<font color=#08f><i class="fa fa-sun-o"></i> Standard</font>
				</td>
			</tr>
			<tr *ngIf="gameObj.fogOfWar=='Y' && gameObj.hardFog!='Y'">
				<td><b>Visibility:</b></td>
				<td>
					<font color=#08f><i class="fa fa-moon-o"></i> Fog-of-War</font>
				</td>
			</tr>
			<tr *ngIf="gameObj.hardFog=='Y'">
				<td><b>Visibility:</b></td>
				<td>
					<font color=#08f><i class="fa fa-cloud"></i> Hardcore Fog</font>
				</td>
			</tr>
			<tr *ngIf="gameObj.autoSkip=='Y'">
				<td><b>Skip?</b></td>
				<td>
					<font color=#c00><i class="fa fa-check"></i> Allows-Skip</font>
				</td>
			</tr>
			<tr *ngIf="gameObj.restrict_units_flg=='Y'">
				<td><b>No Special Units:</b></td>
				<td>
					<font color=#c00>{{gameObj.restrict_units_flg}}</font>
				</td>
			</tr>
			<tr *ngIf="gameObj.no_stats_flg=='Y' && !gameObj.mmFlg">
				<td><b>No Stats:</b></td>
				<td>
					<font color=#c00>{{gameObj.no_stats_flg}}</font>
				</td>
			</tr>
			<tr *ngIf="gameObj.maxAllies>0">
				<td><b>Team Size:</b></td>
				<td>{{gameObj.maxAllies+1}}</td>
			</tr>
			<tr>
				<td colspan="2"><div><b>Current Situation</b></div>{{gameObj.currentSituation}}</td>
			</tr>
		</table>
	</div>
</div>

<app-team-balancing [gameObj]="gameObj"></app-team-balancing>

<div style="text-align: center;">
	<button *ngIf="ableToTakeThisTurn" (click)="surrenderButtonPressed()" type="button"
		class="btn btn-danger roundButton">
		<i class="fa fa-flag" style="font-size: 26px;"></i>
		<div style="font-size: 10px;">Surrender</div>
	</button>
	<button *ngIf="ableToTakeThisTurn || user.userName=='Rick'" (click)="computerGo()" type="button" class="btn btn-secondary roundButton">
		<i class="fa fa-android" style="font-size: 26px;"></i>
		<div style="font-size: 10px;">Let AI Take Turn</div>
	</button>
	<button (click)="reportBug()" type="button" class="btn btn-warning roundButton">
		<i class="fa fa-bug" style="font-size: 26px;"></i>
		<div style="font-size: 10px;">Report Bug</div>
	</button>
	<button (click)="undoMoves()" type="button" class="btn btn-success roundButton">
		<i class="fa fa-refresh" style="font-size: 26px;"></i>
		<div style="font-size: 10px;">Undo-Moves</div>
	</button>
	<span *ngIf="user.userName=='Rick'" style="border: 1px solid black; height: 80px;">
		<button *ngIf="user.userName=='Rick'" (click)="adminSaveGame()" type="button" class="btn btn-danger roundButton">
			<i class="fa fa-floppy-o" style="font-size: 26px;"></i>
			<div style="font-size: 10px;">Save Game</div>
		</button>
		<button *ngIf="0" (click)="turnAllPlayersHuman()" type="button" class="btn btn-danger roundButton">
			<i class="fa fa-user" style="font-size: 26px;"></i>
			<div style="font-size: 10px;">Turn all Human</div>
		</button>
		<button *ngIf="user.userName=='Rick'" (click)="turnIntoCPU()" [disabled]="disableButtonFlg" type="button" class="btn btn-danger roundButton">
			<i class="fa fa-android" style="font-size: 26px;"></i>
			<div style="font-size: 10px;">Turn into CPU</div>
		</button>
	</span>
</div>

<div *ngIf="infoFlg" class="borderClass3">
	<div style="font-size: 24px;"><i class="fa fa-bug"></i> File a Bug Report</div>
	<div>Explain the problem here and it should be fixed in a few hours.</div>

	<input style="width: 100%;" name="msgField" id="msgField" type=text placeholder="Message" maxlength=256
	(keyup.enter)="postChat()">

	<button id="chatSendButton" (click)="postChat()" type="button"
		class="btn btn-primary roundButton tall">Send</button>
</div>