<div class="spCard">
	<div>
		<table width=100% class="spTable" *ngIf="gameObj">
			<tr>
				<th style="padding: 5px; text-align: center;">Field</th>
				<th style="padding: 5px; text-align: center;">Value</th>
			</tr>
			<tr>
				<td><b>Type:</b></td>
				<td>{{gameObj.typeName}}</td>
			</tr>
			<tr>
				<td><b>Created:</b></td>
				<td>{{gameObj.created}}</td>
			</tr>
			<tr>
				<td><b>Attack Round:</b></td>
				<td>{{gameObj.attack}}</td>
			</tr>
			<tr>
				<td><b>Max Allies:</b></td>
				<td>{{gameObj.maxAllies}}</td>
			</tr>
			<tr *ngIf="gameObj.multiPlayerFlg">
				<td><b>Host:</b></td>
				<td>{{gameObj.host}}</td>
			</tr>
			<tr *ngIf="gameObj.turboFlg">
				<td><b>Turbo Game:</b></td>
				<td>
					<font color=#000>Y</font>
				</td>
			</tr>
			<tr *ngIf="gameObj.fogOfWar!='Y' && gameObj.hardFog!='Y'">
				<td><b>Visibility:</b></td>
				<td>
					<font color=#08f>Standard</font>
				</td>
			</tr>
			<tr *ngIf="gameObj.fogOfWar=='Y' && gameObj.hardFog!='Y'">
				<td><b>Visibility:</b></td>
				<td>
					<font color=#08f>Fog-of-War</font>
				</td>
			</tr>
			<tr *ngIf="gameObj.hardFog=='Y'">
				<td><b>Visibility:</b></td>
				<td>
					<font color=#08f>Hardcore Fog</font>
				</td>
			</tr>
			<tr *ngIf="gameObj.autoSkip=='Y'">
				<td><b>Auto Skip:</b></td>
				<td>
					<font color=#c00>{{gameObj.autoSkip}}</font>
				</td>
			</tr>
			<tr *ngIf="gameObj.restrict_units_flg=='Y'">
				<td><b>No Special Units:</b></td>
				<td>
					<font color=#c00>{{gameObj.restrict_units_flg}}</font>
				</td>
			</tr>
			<tr *ngIf="gameObj.no_stats_flg=='Y' && !gameObj.mmFlg">
				<td><b>No Stats:</b></td>
				<td>
					<font color=#c00>{{gameObj.no_stats_flg}}</font>
				</td>
			</tr>
			<tr *ngIf="gameObj.mmFlg">
				<td><b>League:</b></td>
				<td>
					<font color=red>Official Matchmaking</font>
				</td>
			</tr>
			<tr>
				<td><b>Current Situation</b></td>
				<td>{{gameObj.currentSituation}}</td>
			</tr>
		</table>
	</div>
</div>

<div *ngIf="gameObj && gameObj.allowAlliances && gameObj.multiPlayerFlg && gameObj.top1.length>0 && gameObj.type != 'barbarian'"
	class="borderClass3">
	<div>Team-balancing enforced. Top 2 players cannot be allies with each other in this game:</div>
	<img src="assets/graphics/images/flag{{gameObj.top1Nation}}.gif" height=15>
	<b>{{gameObj.top1}}</b> and <img src="assets/graphics/images/flag{{gameObj.top2Nation}}.gif" height=15>
	<b>{{gameObj.top2}}</b>
</div>

<div style="text-align: center;">
	<button *ngIf="ableToTakeThisTurn" (click)="surrenderButtonPressed()" type="button"
		class="btn btn-danger roundButton">
		<i class="fa fa-flag" style="font-size: 26px;"></i>
		<div style="font-size: 10px;">Surrender</div>
	</button>
	<button *ngIf="ableToTakeThisTurn || user.userName=='Rick'" (click)="computerGo()" type="button" class="btn btn-secondary roundButton">
		<i class="fa fa-android" style="font-size: 26px;"></i>
		<div style="font-size: 10px;">Let AI Take Turn</div>
	</button>
	<button *ngIf="user.userName=='Rick'" (click)="adminSaveGame()" type="button" class="btn btn-secondary roundButton">
		<i class="fa fa-floppy-o" style="font-size: 26px;"></i>
		<div style="font-size: 10px;">Save Game</div>
	</button>
	<button (click)="reportBug()" type="button" class="btn btn-secondary roundButton">
		<i class="fa fa-bug" style="font-size: 26px;"></i>
		<div style="font-size: 10px;">Report Bug</div>
	</button>
</div>

<div *ngIf="infoFlg" class="borderClass3">
	<div style="font-size: 24px;"><i class="fa fa-bug"></i> File a Bug Report</div>
	<div>Explain the problem here and it should be fixed in a few hours.</div>

	<input style="width: 100%;" name="msgField" id="msgField" type=text placeholder="Message" maxlength=256
	(keyup.enter)="postChat()">

	<button id="chatSendButton" (click)="postChat()" type="button"
		class="btn btn-primary roundButton tall">Send</button>
</div>