<div class="modal fade" id="loginPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document" style="max-width: 320px;">
        <div class="modal-content">
            <div class="modal-header" style="border: 0;">
                <b><i class="fa fa-user"></i> Login</b>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center; background: url('assets/graphics/splash/splash1024.png')">


		<div class="popupScreen" style="display: inline-block; padding:20px; margin-top: 20px;" *ngIf="showLoginFlg">
			<div><input type=email id="emailField" name="email" placeholder="Username/Email" (click)="clearValue($event)" [value]="email"></div>
			<div><input type=password id="passwordField" name="password" placeholder="Password" (click)="clearValue($event)" [value]="password"></div>
			<div><button (click)="loginPressed()" type="button" class="btn btn-primary tall roundButton glowButton">Login</button></div>
			<!--<fb:login-button 
			  scope="public_profile,email"
			  onlogin="checkLoginState();">
			</fb:login-button>-->
	
			<div><button (click)="forgotPasswordPressed()" type="button" class="btn btn-secondary roundButton">Forgot Password</button></div>
			<div>&nbsp;</div>
			<div><button (click)="createFormButtonPressed()" type="button" class="btn btn-primary roundButton">Create New Account</button></div>
		</div>

		<div class="popupScreen" style="display: inline-block; padding:20px; margin-top: 20px;" *ngIf="!showLoginFlg && !requestSentFlg">
			<div>New Player Signup</div>
			<div><input type=email id="emailField2" name="emailField2" placeholder="Email" maxlength="60"  (click)="clearValue($event)" [value]="email"></div>
			<div><input type=text id="firstName" name="firstName" placeholder="Username" maxlength="20"  (click)="clearValue($event)" [value]="userName"></div>
			<div><input type=password name="password1" id="password1" placeholder="Password" maxlength="20"  (click)="clearValue($event)" [value]="password"></div>
			<div><input type=password name="password2"id="password2"  placeholder="Retype Password" maxlength="20"  (click)="clearValue($event)" [value]="password2"></div>
			<div>
				<button (click)="showLoginFlg=!showLoginFlg" id="createButton" type="button" class="btn btn-secondary roundButton"><i class="fa fa-arrow-left"></i></button>
				<button (click)="createNewPressed()" id="createButton" type="button" class="btn btn-primary tall roundButton">Create</button>
			</div>
		</div>

		<div class="popupScreen" style="display: inline-block; padding:20px; margin-top: 20px;" *ngIf="requestSentFlg">
			<i class="fa fa-spinner fa-spin"></i> Sending...
		</div>


            </div>
            <div class="modal-footer">
			<button (click)="displaySPPopup('privacyPopup')" id="" type="button" class="btn btn-primary roundButton"><i class="fa fa-check"></i> Privacy Policy</button>
            </div>
        </div>
    </div>
</div>

<div id="privacyPopup" class="popupScreen2" onClick="closePopup('privacyPopup')">
	<p style="font-size: 20px;"><b>Privacy Policy</b></p>
	<div>Superpowers will not give or sell your data to anyone for any reason.</div>
	<button type="button" class="btn btn-primary roundButton"><i class="fa fa-times"></i> Close</button>
</div>

