.grayBox {
    text-align: center; 
    background-color: gray;
    padding: 5px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px #444; 
	border-radius: 10px; 
}
.main-page-item {
    width: 100%; 
    max-width: 220px; 
    cursor: pointer;
}