<app-header></app-header>

<div style="display: table; position: absolute; left: 0; top: 0; height: 100%; width: 100%;">
    <div style="display: table-cell; vertical-align: middle; text-align: center;">
        <div style="max-width: 800px; display: block; margin-left: auto; margin-right: auto; text-align: center;">
            <div class="grayBox">
                <img routerLink="/" id="spLogo" src="assets/graphics/images/superpowers.png" style="width: 100%; cursor: pointer;">
                <div class="container-fluid" *ngIf="!showVideoPlayerFlg && !showCampaignsFlg">
                    <div class="row">
                        <div class="col-sm-4" style="padding: 0;">
                            <button (mousedown)="showCampaignsFlg = !showCampaignsFlg" type="button"
                                class="btn btn-primary roundButton">
                                <div><i class="fa fa-flag" style="font-size: 48px;"></i></div>
                                Campaign
                            </button>
                        </div>
                        <div class="col-sm-4" style="padding: 0;">
                            <button routerLink="/" type="button" class="btn btn-secondary roundButton"><i
                                    class="fa fa-home"></i>
                                Home
                            </button>
                        </div>
                        <div class="col-sm-4" style="padding: 0;">
                            <button (mousedown)="singlePlayerGame(startGamePopup)" type="button"
                                class="btn btn-primary roundButton">
                                <div><i class="fa fa-user" style="font-size: 48px;"></i></div>
                                <i class="fa fa-lock" *ngIf="this.user.rank < 2"></i> Single Player
                            </button>
                        </div>
                    </div>
                </div>
                <div *ngIf="showCampaignsFlg">
                    <div>
                        <button *ngIf="0" routerLink="/" type="button" class="btn btn-secondary roundButton"><i
                                class="fa fa-home"></i>
                            Home
                        </button>
                        <div class="borderClass3" *ngIf="superpowersData && campaignId <= 8">
                            <div style="padding: 10px; text-align: left;">
                                <p *ngIf="user.rank == 0">Welcome <b>{{superpowersData.ranks[user.rank].name}}</b>! Working through these short
                                    campaign tutorials will teach you everything you need to conquer the world. Good luck!</p>
                                <p *ngIf="user.rank > 0">Nice job <b>{{superpowersData.ranks[user.rank].name}}</b>! Once you complete all the way through Campaign #8 you will be able to play multi-player online games.
                                    Good luck!</p>
                            </div>
                        </div>
                    </div>
                    <button *ngFor="let campaign of superpowersData.campaigns" (mousedown)="selectCampaign(campaign, startGamePopup)"
                        type="button" [ngClass]="ngClassCampButton(campaign)" style="width: 250px;">
                        <div style="font-size: 14px; font-weight: 700;">Campaign #{{campaign.id}}</div>
                        <img src="assets/graphics/units/piece{{campaign.unit}}u.png" height="60">
                        <div style="font-size: 24px; font-weight: 700;"><i class="fa fa-lock" *ngIf="campaign.lock"></i>
                            {{campaign.name}}</div>
                        <div style="font-size: 11px;">{{campaign.desc}}</div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-start-game-popup #startGamePopup></app-start-game-popup>