<div class="modal fade" id="alliesPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="assets/graphics/images/superpowers.png" title="Superpowers!" height=30>
                &nbsp;<b>alliesPopup</b>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="gameObj">

                <div *ngIf="gameObj.allowAlliances && gameObj.multiPlayerFlg && gameObj.top1.length>0"
                    style="background-color: #ace;">Team-balancing enforced. Top 2 players:
                    <img src="assets/graphics/images/flag{{gameObj.top1Nation}}.gif" height=15> <b>{{gameObj.top1}}</b>
                    and
                    <img src="assets/graphics/images/flag{{gameObj.top2Nation}}.gif" height=15> <b>{{gameObj.top2}}</b>
                    cannot be allies with each other in this game.</div>
                <div *ngIf="gameObj.victoryRound>0 && !gameObj.gameOver && gameObj.allowAlliances"
                    style="background-color: #ace; color: black; padding: 2px;"> Victory conditions met! One team has
                    control of 6 capitals. Game will end in round {{gameObj.victoryRound}} if all 6 capitals are held.
                </div>
                <div *ngIf="gameObj.victoryRound>0 && !gameObj.gameOver && !gameObj.allowAlliances"
                    style="background-color: #ace; color: black; padding: 2px;"> Victory conditions met! One player has
                    control of 6 capitals. Game will end in round {{gameObj.victoryRound}} if all 6 capitals are held.
                </div>
                <div *ngIf="gameObj.gameOver" style="background-color: yellow; color: red; padding: 2px;">
                    {{gameObj.finalMessage}}</div>
                <font color=white *ngIf="gameObj.allowAlliances">Max Allies: {{gameObj.maxAllies}}</font>

                <button (click)="showInfoFlg=!showInfoFlg" type="button" class="btn btn-secondary roundButton"><i
                        class="fa fa-info-circle"></i> Diplomacy Info</button>

                <div class="borderClass2" *ngIf="showInfoFlg">
                    Players in the game will be in one of 4 diplomacy stances. Note you can only offer one treaty
                    per turn (peace or alliance), however you can declare war as much as you want.<br>
                    <b>Neutral:</b><br>
                    <div>At the beginning of the game you have a neutral stance with other players. It will cost you
                        5 coins to attack another player. However if you declare war, you can attack at no cost
                        starting with your next turn.</div>

                    <img src="assets/graphics/misc/news2.png" height=20 title="Peace"> <b>Peace Treaties:</b><br>
                    <div *ngIf="gameObj.allowPeace">You are allowed to offer peace treaties to anyone in the game.
                        Upon accepting, you each get 1 fighter plane placed on your capital as a sign of increased
                        trade relations. Attacking someone you are at peace with will cost you 10 coins.</div>
                    <div *ngIf="!gameObj.allowPeace">Peace treaties are not allowed in this game.</div>

                    <img src="assets/graphics/misc/news3.png" height=20 title="Alliance"> <b>Alliances:</b><br>
                    <div *ngIf="gameObj.allowAlliances">Maximum alliance partners in this game:
                        {{gameObj.maxAllies}}. If you already have a peace treaty with another player, you can offer
                        an alliance. If accepted this means you are now on the same team and can win the game
                        together by controlling 6 of the 8 capitals.. Attacking someone you have an alliance with
                        will cost you 15 coins.</div>
                    <div *ngIf="!gameObj.allowAlliances">Alliances are not allowed in this game.</div>

                    <img src="assets/graphics/misc/news0.png" height=20 title="War"> <b>War:</b><br>
                    <div>Players at war can attack each other at no cost.</div>
                </div>



                <div class="blueBg">Treaties</div>
                <table class="spTable" border=1>
                    <tr>
                        <th>Player</th>
                        <th style="text-align: center; font-size: 10px;"><img src="assets/graphics/misc/news0.png"
                                height=30 title="War"><br>
                            War</th>
                        <th style="text-align: center; font-size: 10px;"><img src="assets/graphics/misc/news2.png"
                                height=30 title="Peace"><br>Peace</th>
                        <th *ngIf="gameObj.maxAllies>0" style="text-align: center; font-size: 10px;"><img
                                src="assets/graphics/misc/news3.png" height=30 title="Alliance"><br>Ally</th>
                        <th *ngIf="ableToTakeThisTurn" style="text-align: center;">Offer</th>
                    </tr>
                    <tr *ngFor="let player of gameObj.players" [ngStyle]="ngStyleLogs(player.nation)">
                        <td align=center>
                            <i class="fa fa-check" style="font-size: 20px; color: green;"
                                *ngIf="gameObj.gameOver && player.wonFlg" title="Victory!"></i>
                            <img src="assets/graphics/images/flag{{player.nation}}.gif" height=30>
                            <div style="font-size: 10px;"><i *ngIf="player.cpu" class="fa fa-android"></i>
                                {{player.userName}}</div>
                        </td>
                        <td ng-style="ngStyleAllies(player, 'red')">
                            <img *ngIf="player.treaties[0]==0" src="assets/graphics/images/flag1.gif" height=25>
                            <img *ngIf="player.treaties[1]==0" src="assets/graphics/images/flag2.gif" height=25>
                            <img *ngIf="player.treaties[2]==0" src="assets/graphics/images/flag3.gif" height=25>
                            <img *ngIf="player.treaties[3]==0" src="assets/graphics/images/flag4.gif" height=25>
                            <img *ngIf="player.treaties[4]==0" src="assets/graphics/images/flag5.gif" height=25>
                            <img *ngIf="player.treaties[5]==0" src="assets/graphics/images/flag6.gif" height=25>
                            <img *ngIf="player.treaties[6]==0" src="assets/graphics/images/flag7.gif" height=25>
                            <img *ngIf="player.treaties[7]==0" src="assets/graphics/images/flag8.gif" height=25>
                        </td>
                        <td ng-style="ngStyleAllies(player, 'yellow')">
                            <img *ngIf="player.treaties[0]==2" src="assets/graphics/images/flag1.gif" height=25>
                            <img *ngIf="player.treaties[1]==2" src="assets/graphics/images/flag2.gif" height=25>
                            <img *ngIf="player.treaties[2]==2" src="assets/graphics/images/flag3.gif" height=25>
                            <img *ngIf="player.treaties[3]==2" src="assets/graphics/images/flag4.gif" height=25>
                            <img *ngIf="player.treaties[4]==2" src="assets/graphics/images/flag5.gif" height=25>
                            <img *ngIf="player.treaties[5]==2" src="assets/graphics/images/flag6.gif" height=25>
                            <img *ngIf="player.treaties[6]==2" src="assets/graphics/images/flag7.gif" height=25>
                            <img *ngIf="player.treaties[7]==2" src="assets/graphics/images/flag8.gif" height=25>
                        </td>
                        <td *ngIf="gameObj.maxAllies>0" ng-style="ngStyleAllies(player, '#00FF00')">
                            <img *ngIf="player.treaties[0]==3" src="assets/graphics/images/flag1.gif" height=25>
                            <img *ngIf="player.treaties[1]==3" src="assets/graphics/images/flag2.gif" height=25>
                            <img *ngIf="player.treaties[2]==3" src="assets/graphics/images/flag3.gif" height=25>
                            <img *ngIf="player.treaties[3]==3" src="assets/graphics/images/flag4.gif" height=25>
                            <img *ngIf="player.treaties[4]==3" src="assets/graphics/images/flag5.gif" height=25>
                            <img *ngIf="player.treaties[5]==3" src="assets/graphics/images/flag6.gif" height=25>
                            <img *ngIf="player.treaties[6]==3" src="assets/graphics/images/flag7.gif" height=25>
                            <img *ngIf="player.treaties[7]==3" src="assets/graphics/images/flag8.gif" height=25>
                        </td>
                        <td *ngIf="ableToTakeThisTurn" ng-style="ngStyleAllies(player, 'white')">
                            <button title="Offer Peace"
                                *ngIf="player.alive && ableToTakeThisTurn && !currentPlayer.diplomacyFlg && player.treaties[currentPlayer.nation-1]!=2 && player.treaties[currentPlayer.nation-1]!=3 && player.nation != currentPlayer.nation"
                                ng-click="offerTreaty(2, player.nation)" type="button" class="btn btn-warning roundButton"><img
                                    src="assets/graphics/misc/news2.png" height=25>
                                <div style="font-size: 10px; margin-top: -2px;">Peace</div>
                            </button>
                            <button title="Offer Alliance"
                                *ngIf="player.alive && ableToTakeThisTurn && gameObj.allowAlliances && !currentPlayer.diplomacyFlg && player.treaties[currentPlayer.nation-1]==2 && gameObj.type!='barbarian' && gameObj.type!='battlebots'"
                                ng-click="offerTreaty(3, player.nation)" type="button" class="btn btn-success roundButton"><img
                                    src="assets/graphics/misc/news3.png" height=25>
                                <div style="font-size: 10px; margin-top: -2px;">Ally</div>
                            </button>
                        </td>
                    </tr>
                </table>
                <hr>
                <div class="blueBg">Teams/Capitals</div>
                <table class="spTable">
                    <tr>
                        <th>Team</th>
                        <th>Players</th>
                        <th>Capitals</th>
                        <th>Income</th>
                    </tr>
                    <tr *ngFor="let team of gameObj.teams" ng-style="ngStyleLogs(team.nations[0])">
                        <td align=center> {{team.name}}</td>
                        <td>
                            <span *ngFor="let player of gameObj.players">
                                <img *ngIf="player.team==team.name"
                                    src="assets/graphics/images/flag{{player.nation}}.gif" height=25>
                            </span>
                        </td>
                        <td> <img *ngFor="let nation of team.capitalList"
                                src="assets/graphics/images/flag{{nation}}.gif" height=18></td>
                        <td> {{team.income}} </td>
                    </tr>
                </table>





            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>