<div class="modal fade" id="userPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" *ngIf="displayUser">
                <b><i class="fa fa-user"></i> {{displayUser.userName}} - User Profile</b>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="displayUser && showPageFlg" style="text-align: center;">


                <div style="text-align: center;">
                    <div class="btn-group">
                        <button (click)="segmentIdx=0" type="button" class="btn btn-default roundButton segmentButton"
                            [ngClass]="ngClassSegment(segmentIdx,0)" style="min-width: 60px;">
                            <i class="fa fa-picture-o" style="font-size: 26px;"></i>
                            <div style="font-size: 10px;">Profile</div>
                        </button>
                        <button *ngIf="selfProfileFlg" (click)="segmentIdx=1" type="button"
                            class="btn btn-default roundButton segmentButton" [ngClass]="ngClassSegment(segmentIdx,1)"
                            style="min-width: 60px;">
                            <i class="fa fa-user" style="font-size: 26px;"></i>
                            <div style="font-size: 10px;">Single Player</div>
                        </button>
                        <button *ngIf="displayUser.userId>0" (click)="segmentIdx=2" type="button"
                            class="btn btn-default roundButton segmentButton" [ngClass]="ngClassSegment(segmentIdx,2)"
                            style="min-width: 60px;">
                            <i class="fa fa-users" style="font-size: 26px;"></i>
                            <div style="font-size: 10px;">Multi-Player</div>
                        </button>
                        <button *ngIf="displayUser.userId>0" (click)="segmentIdx=3" type="button"
                            class="btn btn-default roundButton segmentButton" [ngClass]="ngClassSegment(segmentIdx,3)"
                            style="min-width: 60px;">
                            <i class="fa fa-trophy" style="font-size: 26px;"></i>
                            <div style="font-size: 10px;">Match-Making</div>
                        </button>
                    </div>
                </div>
                <div *ngIf="loadingFlg">
                    <i class="fa fa-spinner fa-spin"></i> Loading...
                </div>
                <!-------profile--------------------->
                <div *ngIf="segmentIdx==0">


                    <div class="spCard" style="cursor: pointer; max-width: 300px;"
                        (click)="editProfileImageButtonClicked()">
                        <div>
                            <div *ngIf="serverUser" class="spTitle">
                                <app-player-name [player]="serverUser"></app-player-name>
                                <i class="fa fa-pencil-square-o"
                                    style="font-size: 10px; float: right; padding: 3px;"></i>
                            </div>
                            <div *ngIf="serverUser" class="darkBlueBg" style="font-size: 12px;">Ave Turn Speed: <i
                                    class="fa fa-bolt" *ngIf="serverUser.fastFlg"></i> <i class="fa fa-hourglass-end"
                                    *ngIf="serverUser.slowFlg"></i> {{serverUser.hourlyRate}} hrs </div>
                            <div *ngIf="!serverUser" class="spTitle">Profile Image <i *ngIf="selfProfileFlg"
                                    class="fa fa-pencil-square-o"
                                    style="float: right; padding-right: 5px; padding-top: 3px;"></i></div>
                            <img src="{{displayUser.imgSrc}}" style="width: 100%; max-height: 185px;">
                            <div class="spCardBody">
                                <div *ngIf="serverUser && serverUser.message" style="color: #0a0;">
                                    <b>&nbsp;&nbsp;"{{serverUser.message}}"&nbsp;&nbsp;</b>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="editUserImageFlg" class="spCard" style="text-align: center;">
                        <div>
                            <div style="height: 48px;">Choose a new Profile Image
                                <button (click)="editUserImageFlg=false" type="button"
                                    class="btn btn-primary roundButton" style="float: right;"><i
                                        class="fa fa-times"></i>
                                </button>
                            </div>
                            <div class="spCardBody && displayUser">
                                <div *ngIf="displayUser.userGraphic.length>0">-Picture stored on server-</div>
                                <div *ngIf="displayUser.userGraphic.length==0">
                                    <img *ngFor="let image of localAvatars" src="assets/graphics/avatars/{{image}}"
                                        height="100" class="roundedPanel" (click)="changeImage(image)">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="spCard" style="cursor: pointer;" (click)="editUserName()">
                        <div>
                            <div class="spTitle">{{displayUser.userName}} <i *ngIf="this.displayUser.userId==0"
                                    class="fa fa-pencil-square-o"
                                    style="float: right; padding-right: 5px; padding-top: 3px;"></i></div>
                            <div style="background-color: white; color: black;">
                                <img src="assets/graphics/ranks/rank{{displayUser.rank}}.png"
                                    style="max-width: 180px; max-height: 160px;">
                            </div>
                            <div>{{yourRankName}}</div>
                        </div>
                    </div>

                    <div *ngIf="editUseNameFlg" class="spCard" style="text-align: center;">
                        <div>
                            <div style="height: 48px;">Choose a User Name
                                <button (click)="editUseNameFlg=false" type="button" class="btn btn-primary roundButton"
                                    style="float: right;"><i class="fa fa-times"></i>
                                </button>
                            </div>
                            <div>
                                <input type="text" id="userName" name="userName" placeholder="User Name" maxlength="16"
                                    (click)="clearValue($event)" [value]="displayUser.userName">
                                <button (click)="updateUsername()" type="button"
                                    class="btn btn-primary roundButton tall">Update
                                </button>
                            </div>
                        </div>
                    </div>


                    <div (click)="infoFlg=!infoFlg"
                        *ngIf="selfProfileFlg && displayUser && displayUser.rank && displayUser.rank<18" class="spCard"
                        style="max-width: 200px;">
                        <div>
                            <div class="spTitle">Your Next Rank</div>
                            <table class="spTable">
                                <tr>
                                    <td style="font-size: 12px;"><img src="assets/graphics/ranks/rank{{nextRank}}.png"
                                            height="40"><br>
                                        <b>{{yourNextRankName}}</b>
                                    </td>
                                    <td class="darkBlue">{{yourNextRankDesc}}</td>
                                </tr>
                            </table>
                            <div *ngIf="infoFlg">Click on the 'Ranks' button below for details.</div>
                        </div>
                    </div>
                    <app-sp-table *ngIf="displayUser.userId>0 && personalInfoObj" [dataObj]="personalInfoObj">
                    </app-sp-table>
                    <app-sp-table *ngIf="displayUser.userId>0 && adminObj && user.userId==10" [dataObj]="adminObj">
                    </app-sp-table>
                    <app-sp-table (click)="editServerProfileSettings(2)"
                        *ngIf="displayUser.userId>0 && selfProfileFlg && profileCustomizationObj"
                        [dataObj]="profileCustomizationObj">
                    </app-sp-table>
                    <app-sp-table (click)="editUserEmailSettings()"
                        *ngIf="displayUser.userId>0 && selfProfileFlg && profileEmailObj" [dataObj]="profileEmailObj">
                    </app-sp-table>
                    <button *ngIf="serverUser && selfProfileFlg && !serverUser.confirmEmailFlg"
                        (click)="editUserEmailSettings()" type="button" class="btn btn-warning roundButton">
                        <i class="fa fa-envelope"></i> Confirm Email
                    </button>
                    <button *ngIf="serverUser && selfProfileFlg && serverUser.textFlg != 'Y'"
                        (click)="editUserEmailSettings()" type="button" class="btn btn-warning roundButton">
                        <i class="fa fa-mobile"></i> Add Text Notifications
                    </button>
                    <span *ngIf="serverUser && selfProfileFlg && serverUser.away_flg == 'Y'"
                        style="display: inline-block; border: 1px solid black; background-color: yellow; padding: 5px;">
                        <i class="fa fa-exclamation-triangle"></i> Away Message is on! Click Profile Options to turn it
                        off.
                    </span>


                    <!-------end profile--------------------->

                </div>
                <div *ngIf="segmentIdx==1">
                    <div class="spCard" style="width: 100%">
                        <div style="width: 100%">
                            <div class="spTitle">Single Player Games</div>
                            <table class="spTable">
                                <tr>
                                    <th>nation</th>
                                    <th>created</th>
                                    <th>type</th>
                                    <th>round</th>
                                    <th>winLoss</th>
                                    <th>Del</th>
                                </tr>
                                <tr *ngFor="let game of gameScores">
                                    <td><img src="assets/graphics/images/flag{{game.nation}}.gif" height="50"></td>
                                    <td>{{game.created}}</td>
                                    <td>{{game.type}}</td>
                                    <td>{{game.round}}</td>
                                    <td>{{game.winLoss}}</td>
                                    <td>
                                        <button (click)="deleteThisGame(game)"
                                            type="button" class="btn btn-danger roundButton">
                                            <i class="fa fa-trash"></i>
                                        </button>            
                                    </td>
                                </tr>
                            </table>
                            <button *ngIf="gameScores.length>0" (click)="deleteAllGames()"
                                type="button" class="btn btn-danger roundButton">
                                <i class="fa fa-trash"></i> Delete All Games
                            </button>
                        </div>
                    </div>
                </div>



                <div *ngIf="segmentIdx==2">
                    <app-sp-table *ngIf="regularGamesObj" [dataObj]="regularGamesObj"></app-sp-table>
                    <app-sp-table *ngIf="awardsObj" [dataObj]="awardsObj"></app-sp-table>
                    <app-sp-table *ngIf="currentGamesObj" [dataObj]="currentGamesObj"></app-sp-table>
                    <app-sp-table *ngIf="recentRegularGamesObj" [dataObj]="recentRegularGamesObj"></app-sp-table>
                    <app-sp-table *ngIf="savedRegularGamesObj && savedRegularGamesObj.rows.length>0"
                        [dataObj]="savedRegularGamesObj"></app-sp-table>
                </div>

                <div *ngIf="segmentIdx==3">
                    <app-sp-table *ngIf="matchmakingObj" [dataObj]="matchmakingObj"></app-sp-table>
                    <app-sp-table *ngIf="recentMMGamesObj" [dataObj]="recentMMGamesObj"></app-sp-table>
                    <app-sp-table *ngIf="savedMMGamesObj && savedMMGamesObj.rows.length>0" [dataObj]="savedMMGamesObj">
                    </app-sp-table>
                </div>



            </div>
            <div class="modal-footer" *ngIf="displayUser">
                <button *ngIf="user.userId || !displayUser.userName" (click)="userLogout()" type="button"
                    class="btn btn-secondary roundButton">
                    <i class="fa fa-sign-out"></i> Logout
                </button>
                <button (click)="openRanksModal(ranksPopup)" type="button" class="btn btn-secondary roundButton">
                    <i class="fa fa-star"></i> Ranks
                </button>
                <button (click)="closeModal('#userPopup')" type="button" class="btn btn-secondary roundButton">
                    <i class="fa fa-times"></i> Close
                </button>
            </div>
        </div>
    </div>
</div>




<app-edit-profile-popup [user]="user" [serverUser]="serverUser"></app-edit-profile-popup>
<app-ranks-popup #ranksPopup></app-ranks-popup>

<app-user-notifications-popup [serverUser]="serverUser"></app-user-notifications-popup>