<app-header></app-header>

<div style="text-align: center;">
    <div
        style="max-width: 800px; display: inline-block; width: 100%; box-shadow: 15px 15px 15px #000; background-color: black; padding-top: 60px; padding-bottom: 60px;">

        <app-progress-bar *ngIf="loadingFlg"></app-progress-bar>

        <div *ngIf="!loadingFlg">
            <div style="background-color: #007; text-align: center; padding: 3px; color: white;">
                <button (mousedown)="filterGames(1)" [disabled]="buttonIdx==1" type="button"
                    class="btn btn-success roundButton"><i class="fa fa-arrow-down"></i>
                    Join <span class="hide-sm">Game</span></button>
                <button (mousedown)="createGamePopup.show()" type="button" class="btn btn-secondary roundButton"><i
                        class="fa fa-plus"></i>
                    Create <span class="hide-sm">Game</span></button>
                <button *ngIf="multiPlayerObj && multiPlayerObj.mmPoints == 0"
                    (mousedown)="matchmakerStandingsPopup.show()" [disabled]="buttonIdx==1" type="button"
                    class="btn btn-success roundButton">
                    <i class="fa fa-trophy"></i>
                </button>

                <button (mousedown)="gameStandingsPopup.show()" type="button" class="btn btn-secondary roundButton"><i
                        class="fa fa-list-alt"></i>
                </button>
                <button (mousedown)="matchmakerStandingsPopup.show()" class="btn btn-secondary roundButton"><i
                        class="fa fa-trophy"></i>
                </button>

            </div>

            <!---    new players   -->
            <div *ngIf="!multiPlayerObj.confirmEmailFlg" style="background-color: #ccc; color: #900;">
                <i class="fa fa-exclamation-triangle"></i> Your email address has not been confirmed. Please press
                'Profile' button above to confirm your email address.
            </div>
            <!--<div *ngIf="0" class="borderClass3">
                <div style="font-size: 24px; font-weight: 700;">Welcome to Superpowers!</div>
                <div style="padding: 10px; font-size: 12px; color: gray;">Keep in mind games take several days to
                    play. Each player has up to 24 hours to take their turn. Check back regularly.</div>

                <button *ngIf="buttonIdx!=1" (mousedown)="filterGames(1)" [disabled]="buttonIdx==1" type="button"
                    class="btn btn-primary roundButton mainButton">
                    <div><i style="font-size: 32px;" class="fa fa-arrow-down"></i></div>
                    <b>Join Game</b>
                </button>
                <button (mousedown)="createGamePopup.show()" type="button"
                    class="btn btn-primary roundButton mainButton">
                    <div><i style="font-size: 32px;" class="fa fa-plus"></i></div>
                    <b>Create Game</b>
                </button>

                <button (mousedown)="matchmakerStandingsPopup.show()" type="button"
                    class="btn btn-primary roundButton mainButton">
                    <div><i style="font-size: 32px;" class="fa fa-trophy"></i></div>
                    <b>Match</b>
                    <div style="color: cyan;">Join Now!</div>
                    <div style="font-size: 10px; color: yellow;" class="hidden-xxs">Games automatically start when
                        filled up</div>
                </button>
            </div>-->


            <table *ngIf="multiPlayerObj" align="center">
                <tr>
                    <td>

                        <div class="spCard2" (mousedown)="gameStandingsPopup.show()">
                            <div class="spTitle"><i class="fa fa-list-alt"></i> Top 5 Standings</div>
                            <table class="spTable" width="100%">
                                <tr class="small-text">
                                    <th>#</th>
                                    <th>Player</th>
                                    <th>W</th>
                                    <th>L</th>
                                    <th>Pts</th>
                                </tr>
                                <tr *ngFor="let player of playerStandingsList; let i = index" class="small-text">
                                    <td>#{{i+1}}</td>
                                    <td>{{player.name}}</td>
                                    <td>{{player.wins}}</td>
                                    <td>{{player.losses}}</td>
                                    <td><b>{{player.points}}</b></td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td>
                        <button *ngIf="multiPlayerObj.games_max == 0" (mousedown)="matchmakerStandingsPopup.show()"
                            type="button" class="btn btn-primary roundButton">
                            <b> <i class="fa fa-trophy"></i> Matchmaking</b>
                            <div style="color: cyan;">Join Now!</div>
                            <div style="color: #ccc; font-size: 10px;">Games start automatically</div>
                        </button>
                        <div *ngIf="multiPlayerObj.games_max > 0" class="spCard2"
                            (mousedown)="matchmakerStandingsPopup.show()" style="width: 100%;">
                            <div class="spTitle"><i class="fa fa-trophy"></i> Matchmaking Top 5</div>
                            <table class="spTable" width="100%">
                                <tr class="small-text">
                                    <th>#</th>
                                    <th>Player</th>
                                    <th>W</th>
                                    <th>L</th>
                                    <th>Pts</th>
                                </tr>
                                <tr *ngFor="let player of matchStandingsList; let i = index" class="small-text">
                                    <td>#{{i+1}}</td>
                                    <td>{{player.name}}</td>
                                    <td>{{player.wins}}</td>
                                    <td>{{player.losses}}</td>
                                    <td><b>{{player.points}}</b></td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>



            <div class="mediumBlueBg" style="text-align: center; padding-bottom: 5px;">
                <div class="btn-group">
                    <button (mousedown)="filterGames(0)" type="button" class="btn btn-default roundButton segmentButton"
                        [ngClass]="ngClassSegment(buttonIdx,0)" style="min-width: 60px;">
                        <i class="fa fa-star" style="font-size: 26px;"></i>
                        <div class="small-text">My Games</div>
                        <div style="font-size: 12px; font-weight: 700;">({{count0}})</div>
                    </button>
                    <button (mousedown)="filterGames(1)" type="button" class="btn btn-default roundButton segmentButton"
                        [ngClass]="ngClassSegment(buttonIdx,1)" style="min-width: 60px;">
                        <i class="fa fa-plus" style="font-size: 26px;"></i>
                        <div class="small-text">Open</div>
                        <div style="font-size: 12px; font-weight: 700;">({{count1}})</div>
                    </button>
                    <button (mousedown)="filterGames(2)" type="button" class="btn btn-default roundButton segmentButton"
                        [ngClass]="ngClassSegment(buttonIdx,2)" style="min-width: 60px;">
                        <i class="fa fa-play" style="font-size: 26px;"></i>
                        <div class="small-text">Playing</div>
                        <div style="font-size: 12px; font-weight: 700;">({{count2}})</div>
                    </button>
                    <button (mousedown)="filterGames(3)" type="button" class="btn btn-default roundButton segmentButton"
                        [ngClass]="ngClassSegment(buttonIdx,3)" style="min-width: 60px;">
                        <i class="fa fa-stop" style="font-size: 26px;"></i>
                        <div class="small-text">Completed</div>
                        <div style="font-size: 12px; font-weight: 700;">({{count3}})</div>
                    </button>
                    <button (mousedown)="filterGames(4)" type="button" class="btn btn-default roundButton segmentButton"
                        [ngClass]="ngClassSegment(buttonIdx,4)" style="min-width: 60px;">
                        <i class="fa fa-trophy" style="font-size: 26px;"></i>
                        <div class="small-text">MatchMaking</div>
                        <div style="font-size: 12px; font-weight: 700;">({{count4}})</div>
                    </button>
                    <button *ngIf="adminFlg && count5>0" (mousedown)="filterGames(5)" type="button"
                        class="btn btn-warning roundButton  segmentButton hidden-xxs" style="min-width: 60px;">
                        <i class="fa fa-bug" style="font-size: 26px;"></i>
                        <div class="small-text">Bugs</div>
                        <div style="font-size: 12px; font-weight: 700;">({{count5}})</div>
                    </button>
                    <button *ngIf="adminFlg && count6>0" (mousedown)="filterGames(6)" type="button"
                        class="btn btn-warning roundButton  segmentButton hidden-xxs" style="min-width: 60px;">
                        <i class="fa fa-clock-o" style="font-size: 26px;"></i>
                        <div class="small-text">Stale</div>
                        <div style="font-size: 12px; font-weight: 700;">({{count6}})</div>
                    </button>
                </div>
            </div>

            <div class="mediumBlueBg">
                <div *ngIf="multiPlayerObj && gameList.length>0">
                    <table width="100%">
                        <tr style="background-color: #000; color: white; height: 40px; border-bottom: 1px solid gray; ">
                            <td style="text-align: left; padding-left: 5px;">
                                <font color=gray><i class="fa fa-comment"></i> Latest Chat:</font>
                                {{multiPlayerObj.chatMsg}}
                            </td>
                            <td>
                                <button (mousedown)="chatPopup.show(null, null, null, user, null)"
                                    style="float: right; padding-right: 8px;" type="button"
                                    class="btn btn-primary roundButton"><i class="fa fa-comment"></i>
                                    Chat</button>
                            </td>
                        </tr>
                    </table>
                </div>


                <div *ngIf="buttonIdx==1 && gameList.length==0" class="borderClass3">
                    <img src="assets/graphics/advisors/leader.png" height=170>
                    <div style="font-size: 20px; font-weight: 700;">No open games. Get one started!
                    </div>
                    <button (mousedown)="createGamePopup.show()" type="button"
                        class="btn btn-primary roundButton mainButton">
                        <div><i style="font-size: 32px;" class="fa fa-plus"></i></div>
                        <b>Create Game</b>
                    </button>
                    <div>Note: Games usually take a couple of days to fill up.</div>
                </div>

                <app-game-detail *ngFor="let game of gameList" [game]="game" [user]="user"
                    (messageEvent)="enterGame($event)" (openGamePressed)="openGamePressed($event)"
                    (editPlayerPressed)="editPlayerPressed($event)"></app-game-detail>



                <!----end card-->
            </div>
            <div *ngIf="multiPlayerObj" class="darkBlueBg" style="color: #ccc;">
                Newest User: <span style="color: yellow;">{{multiPlayerObj.lastestUser}}</span>&nbsp;&nbsp;&nbsp;
                Users Online: <span style="color: white;">{{multiPlayerObj.usersOnline}}</span>
            </div>

        </div>
        <div style="border: 1px solid gray;">
            <div style="text-align: center; font-size: 12px; color: gray;">Google Ads</div>
            <ins class="adsbygoogle" style="display:block;" data-ad-client="ca-pub-2626924352662007"
                data-ad-slot="3410873039" data-ad-format="auto" data-full-width-responsive="true"></ins>
        </div>
        <!--<app-google-ads></app-google-ads>-->

    </div>
</div>

<div class="top-bar">
    <span class="hidden-xs" style="color: #aaa; font-size: 12px;">{{spVersion}}</span>

    <a routerLink="/"><button type="button" class="btn btn-secondary roundButton"><i class="fa fa-home"></i>
        </button></a>
    <button (mousedown)="userPopup.show(user)" type="button" class="btn btn-secondary roundButton">
        <i class="fa fa-user"></i> <span class="hidden-xxs"> Profile</span>
    </button>
    <button (mousedown)="mailPopup.show()" type="button" class="btn btn-secondary roundButton">
        <i class="fa fa-envelope"></i> Mail <span
            *ngIf="multiPlayerObj && multiPlayerObj.mailCount>0">({{multiPlayerObj.mailCount}})</span>
    </button>
    <button (mousedown)="forumPopup.show()" type="button" class="btn btn-secondary roundButton">
        <i class="fa fa-commenting"></i> Forum <span
            *ngIf="multiPlayerObj && multiPlayerObj.forumPosts>0">({{multiPlayerObj.forumPosts}})</span>
    </button>
    <a routerLink="/info"><button type="button" class="btn btn-secondary roundButton">
            <i class="fa fa-book"></i> Rules
        </button></a>


    <button (mousedown)="loadGames()" type="button" class="btn btn-secondary roundButton hidden-xs">
        <i class="fa fa-refresh"></i>
    </button>

</div>



<div id="joinConfirmationPopup" class="popupScreen2">
    <div *ngIf="selectedGame">
        <div class="mediumBlueBg">{{selectedGame.name}}</div>
        <div *ngIf="0"><input type=text id="passField" name="passField" placeholder="Password" value="" maxlength=20>
        </div>
        <div *ngIf="selectedGame.gameType=='locked'">Team: <button (mousedown)="changeTeam()" id="" type="button"
                class="btn btn-primary roundButton">{{selectedTeam}}</button></div>
        <div *ngIf="!selectedGame.auto_assign_flg">
            <div style="border: 1px solid black;">
                <div>Nations Available: </div>
                <img *ngFor="let nation of availableNations" src="assets/graphics/images/flag{{nation}}.gif" height=20>
            </div>
            <div>Choose one: <button (mousedown)="cycleNationsButtonPressed()" type="button"
                    class="btn btn-light roundButton"><img src="assets/graphics/images/flag{{selectedNation}}.gif"
                        height=50></button></div>
        </div>
        <button onClick="closePopup('joinConfirmationPopup')" type="button" class="btn btn-danger roundButton"><i
                class="fa fa-times"></i> Cancel</button>
        <button (mousedown)="joinAcceptButtonPressed()" id="" type="button" class="btn btn-primary roundButton tall2"><i
                class="fa fa-check"></i> Join Game</button>
        <p>
    </div>
</div>

<div id="actionConfirmationPopup" class="popupScreen2">
    <div *ngIf="selectedGame" class="mediumBlueBg">{{selectedGame.name}}</div>
    <div>{{buttonActionMessage}}</div>
    <button onClick="closePopup('actionConfirmationPopup')" type="button" class="btn btn-danger roundButton"><i
            class="fa fa-times"></i> Cancel</button>
    <button (mousedown)="confirmButtonPressed()" id="" type="button" class="btn btn-primary roundButton tall2"><i
            class="fa fa-check"></i> Yes!</button>
</div>

<div id="newGamePopup" class="popupScreenNoPad" style="max-width: 320px;" onClick="closePopup('newGamePopup')">
    <div *ngIf="multiPlayerObj && multiPlayerObj.newGame">
        <img src="assets/graphics/misc/parade.jpg" width=100%>
        <div>New Game Started!</div>
        <div class="glowBlue">{{multiPlayerObj.newGame}}</div>
    </div>
    <div *ngIf="multiPlayerObj && !multiPlayerObj.newGame">
        <img *ngIf="multiPlayerObj.gameResult!='Win'" src="assets/graphics/misc/cityNuked.jpg" width=100%>
        <img *ngIf="multiPlayerObj.gameResult=='Win'" src="assets/graphics/misc/victory.jpg" width=100%>
        <div style="font-size: 20px;">Multiplayer Game Ended!</div>
        <div class="glowRed">{{multiPlayerObj.oldGame}}</div>
        <div style="font-size: 30px;">{{multiPlayerObj.gameResult}}</div>
    </div>
</div>



<app-user-popup #userPopup [user]="user" (messageEvent)="userUpdated($event)"></app-user-popup>
<app-create-game-popup #createGamePopup [user]="user" (messageEvent)="refreshGames($event)"></app-create-game-popup>
<app-game-standings #gameStandingsPopup [user]="user" (messageEvent)="showPlayer($event)"></app-game-standings>
<app-mail-popup #mailPopup [user]="user"></app-mail-popup>
<app-forum-popup #forumPopup [user]="user"></app-forum-popup>
<app-matchmaking-standings #matchmakerStandingsPopup [user]="user" (messageEvent)="showPlayer($event)">
</app-matchmaking-standings>
<app-chat-popup #chatPopup></app-chat-popup>