<app-header></app-header>

<div style="text-align: center;">
    <div
        style="max-width: 800px; display: inline-block; width: 100%; box-shadow: 15px 15px 15px #000; background-color: white;">

        <a routerLink="/">
            <div style="background-color: #444; text-align: center;">
                <i class="fa fa-arrow-left" style="font-size: 20px;"></i> <img
                    src="assets/graphics/images/superpowers.png" title="Superpowers!" height=60>
                <span style=" color: white;">Multiplayer</span>
            </div>
        </a>

        <div *ngIf="loadingFlg" style="font-size: 24px;"><i class="fa fa-spinner fa-spin"></i>&nbsp; Working...</div>

        <div *ngIf="!loadingFlg">

            <div class="mediumBlueBg" style="text-align: center; white-space: nowrap; overflow: hidden;">
                <button (click)="userPopup.show()" type="button" class="btn btn-secondary roundButton">
                    <i class="fa fa-user"></i> {{user.userName}}
                </button>
                <button (click)="filterGames(1)" [disabled]="buttonIdx==1" type="button"
                    class="btn btn-success roundButton">
                    <i class="fa fa-arrow-down" style="font-size: 32px;"></i><br>
                    Join Game
                </button>

                <button (click)="createGamePopup.show()" type="button" class="btn btn-primary roundButton">
                    <i class="fa fa-plus" style="font-size: 32px;"></i><br>
                    Create Game
                </button>
            </div>

            <div style="background-color: #ccc;">
                <span style="display: inline-block;">
                    <button (click)="gameStandingsPopup.show()" type="button" class="btn btn-secondary roundButton">
                        <i class="fa fa-list"></i>
                    </button><br>
                    <div style="font-size: 10px; color: gray;">Standings</div>
                </span>
                <div class="spCard" style="cursor: pointer; font-size: 12px;" (click)="gameStandingsPopup.show()">
                    <div>
                        <div class="spTitle"><i class="fa fa-list"></i> Regular Games</div>
                        <table class="spTable">
                            <tr>
                                <td>Wins</td>
                                <td>{{user.wins}}</td>
                            </tr>
                            <tr>
                                <td>Losses</td>
                                <td>{{user.losses}}</td>
                            </tr>
                            <tr>
                                <td>Points</td>
                                <td style="color: green; font-weight: 700">{{user.points}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="spCard" style="cursor: pointer; font-size: 12px; background-color: purple;"
                    (click)="matchmakerStandingsPopup.show()">
                    <div>
                        <div class="spTitle"><i class="fa fa-trophy"></i> Matchmaking Games</div>
                        <table class="spTable">
                            <tr>
                                <td>Wins</td>
                                <td>{{user.mmWins}}</td>
                            </tr>
                            <tr>
                                <td>Losses</td>
                                <td>{{user.mmLosses}}</td>
                            </tr>
                            <tr>
                                <td>Points</td>
                                <td style="color: green; font-weight: 700">{{user.mmPoints}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <span style="display: inline-block;">
                    <button (click)="matchmakerStandingsPopup.show()" type="button"
                        class="btn btn-secondary roundButton">
                        <i class="fa fa-trophy"></i>
                    </button><br>
                    <div style="font-size: 10px; color: gray;">Standings</div>
                </span>
            </div>

            <div style="text-align: center; padding-bottom: 5px; background-color: #ccc;">
                <div class="btn-group">
                    <button (click)="filterGames(0)" type="button" class="btn btn-default roundButton"
                        [ngClass]="ngClassSegment(buttonIdx,0)" style="min-width: 60px;">
                        <i class="fa fa-star" style="font-size: 26px;"></i>
                        <div style="font-size: 10px;">My Games</div>
                        <div style="font-size: 12px; font-weight: 700;">({{count0}})</div>
                    </button>
                    <button (click)="filterGames(1)" type="button" class="btn btn-default roundButton"
                        [ngClass]="ngClassSegment(buttonIdx,1)" style="min-width: 60px;">
                        <i class="fa fa-plus" style="font-size: 26px;"></i>
                        <div style="font-size: 10px;">Open</div>
                        <div style="font-size: 12px; font-weight: 700;">({{count1}})</div>
                    </button>
                    <button (click)="filterGames(2)" type="button" class="btn btn-default roundButton"
                        [ngClass]="ngClassSegment(buttonIdx,2)" style="min-width: 60px;">
                        <i class="fa fa-play" style="font-size: 26px;"></i>
                        <div style="font-size: 10px;">Playing</div>
                        <div style="font-size: 12px; font-weight: 700;">({{count2}})</div>
                    </button>
                    <button (click)="filterGames(3)" type="button" class="btn btn-default roundButton"
                        [ngClass]="ngClassSegment(buttonIdx,3)" style="min-width: 60px;">
                        <i class="fa fa-stop" style="font-size: 26px;"></i>
                        <div style="font-size: 10px;">Completed</div>
                        <div style="font-size: 12px; font-weight: 700;">({{count3}})</div>
                    </button>
                    <button (click)="filterGames(4)" type="button" class="btn btn-default roundButton"
                        [ngClass]="ngClassSegment(buttonIdx,4)" style="min-width: 60px;">
                        <i class="fa fa-trophy" style="font-size: 26px;"></i>
                        <div style="font-size: 10px;">MatchMaking</div>
                        <div style="font-size: 12px; font-weight: 700;">({{count4}})</div>
                    </button>
                    <button *ngIf="adminFlg" (click)="filterGames(5)" type="button" class="btn btn-default roundButton"
                        [ngClass]="ngClassSegment(buttonIdx,5)" style="min-width: 60px;">
                        <i class="fa fa-bug" style="font-size: 26px;"></i>
                        <div style="font-size: 10px;">Bugs</div>
                        <div style="font-size: 12px; font-weight: 700;">({{count5}})</div>
                    </button>
                    <button *ngIf="adminFlg" (click)="filterGames(6)" type="button" class="btn btn-default roundButton"
                        [ngClass]="ngClassSegment(buttonIdx,6)" style="min-width: 60px;">
                        <i class="fa fa-clock-o" style="font-size: 26px;"></i>
                        <div style="font-size: 10px;">Stale</div>
                        <div style="font-size: 12px; font-weight: 700;">({{count6}})</div>
                    </button>
                </div>
            </div>

            <div class="mediumBlueBg">
                <div style="font-size: 24px;"><b><i class="fa {{titles[buttonIdx].icon}}"></i>
                        {{titles[buttonIdx].title}}</b></div>
                <div *ngFor="let game of gameList" class="spCard" style="width: 100%; max-width: 360px;">
                    <div style="width: 100%;">
                        <div class="spTitle" [style.background-color]="game.mmFlg?'purple':'#033a77'">
                            <div *ngIf="!game.mmFlg"><i class="fa fa-list"></i> Regular Game</div>
                            <div *ngIf="game.mmFlg"><i class="fa fa-trophy"></i> Matchmaking Game</div>
                        </div>
                        <div class="spCardBody">
                            <div (click)="selectGame(game)" class="darkBlueBg"
                                style="font-size: 24px; font-weight: 700; cursor: pointer;">
                                <span class="corner-icon"><i class="fa fa-info-circle"></i></span>

                                <i *ngIf="game.bugFlg" class="fa fa-bug" style="font-size: 12px; color: yellow;"></i>
                                <i *ngIf="game.chatFlg" class="fa fa-commenting-o"
                                    style="font-size: 12px; color: yellow;"></i>
                                {{game.name}}</div>
                            <table style="width: 100%;">
                                <tr>
                                    <td>
                                        <div class="gameCard" style="min-width: 100px;">
                                            <div class="darkBlueBg"><i class="fa fa-h-square"></i> Host</div>
                                            <div> {{game.host}}</div>
                                            <div>{{game.size}} Players</div>
                                        </div>
                                        <div *ngIf="game.inGame && game.myNation>0">
                                            <div style="color: #bbb; font-weight: 700;">You</div>
                                            <div><img src="assets/graphics/images/flag{{game.myNation}}.gif"
                                                    height="50">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div style="font-size: 12px; color: #777;"><i
                                                class="fa {{ngClassGameType(game.gameType)}}"></i> {{game.type}}</div>
                                        <button (click)="enterGame(game)" type="button"
                                            [ngClass]="ngClassGameButton(game)" class="btn btn-default roundButton"
                                            style="font-size: 26px;">
                                            <i class="fa fa-arrow-right"></i>
                                            <span *ngIf="game.joinGameFlg">Join</span>
                                            <span *ngIf="!game.joinGameFlg">Enter</span>
                                        </button>
                                        <div>
                                            <div class="gameCard">
                                                <div class="darkBlueBg">Round</div>
                                                <div
                                                    style="font-size: 48px; font-weight: 700; height: 65px; margin-top: -15px;">
                                                    {{game.round}}</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="gameCard" style="min-width: 100px;">
                                            <div class="darkBlueBg"><i class="fa fa-clock-o"></i> Timer</div>
                                            <app-player-name [player]="game.turnObj"></app-player-name>
                                            <div>{{game.timeLeft}}</div>
                                            <div style="font-size: 10px; color: gray;">Last Login:
                                                <span
                                                    style="font-size: 12px; color: green;"><b>{{game.turnObj.last_login_time}}</b></span>
                                                hr ago</div>
                                        </div>
                                        <div *ngIf="game.turnObj.nation>0">
                                            <div style="color: #bbb; font-weight: 700;">Turn</div>
                                            <div><img src="assets/graphics/images/flag{{game.turnObj.nation}}.gif"
                                                    height="50"></div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div *ngIf="selectedGameNum == game">
                                <div class="spCard">
                                    <div>
                                        <div class="spTitle">Game Options</div>
                                        <div class="spCardBody" style="font-size: 12px;">
                                            <div style="background-color: #ccc;">{{game.type}}</div>
                                            <div *ngIf="game.mmFlg"><i class="fa fa-trophy"></i> Matchmaking</div>
                                            <div *ngIf="game.autoStart && game.status=='Open'"><i
                                                    class="fa fa-check"></i> Auto-Start</div>
                                            <div *ngIf="game.autoSkip"><i class="fa fa-check"></i> Auto-Skip</div>
                                            <div *ngIf="game.fogofwar && !game.hardFog"><i class="fa fa-check"></i>
                                                Fog-of-War</div>
                                            <div *ngIf="game.hardFog"><i class="fa fa-check"></i> Hard-Fog</div>
                                            <div *ngIf="game.auto_assign_flg && game.status=='Open'"><i
                                                    class="fa fa-check"></i> Auto-Nations</div>
                                            <div *ngIf="game.restrict_units_flg"><i class="fa fa-check"></i> No Spec
                                                Units</div>
                                            <div *ngIf="game.no_stats_flg && !game.mmFlg"><i class="fa fa-check"></i> No
                                                Stats</div>
                                            <div *ngIf="game.minRank>0 && game.minRank== game.maxRank"><i
                                                    class="fa fa-check"></i>
                                                {{superpowersData.ranks[game.maxRank].name}} only!</div>
                                            <div *ngIf="game.minRank==7"><i class="fa fa-check"></i> No Newbs</div>
                                            <div *ngIf="game.maxRank==13"><i class="fa fa-check"></i> No Generals</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="spCard">
                                    <div>
                                        <div class="spTitle">Players in Game</div>
                                        <table class="spTable">
                                            <tr>
                                                <th>N</th>
                                                <th>Player</th>
                                                <th>$</th>
                                                <th><i class="fa fa-clock-o"></i></th>
                                            </tr>
                                            <tr *ngFor="let player of game.players">
                                                <td><img src="assets/graphics/images/flag{{player.nation}}.gif"
                                                        height="20"></td>
                                                <td>
                                                    <i *ngIf="player.top" class="fa fa-star"></i>
                                                    <i *ngIf="player.turnFlg" class="fa fa-check"></i>
                                                    {{player.name}}
                                                </td>
                                                <td style="color: green; font-weight: 700;">{{player.income}}</td>
                                                <td style="font-size: 12px; color: gray;">{{player.clock}}hr</td>
                                            </tr>
                                        </table>
                                        <div class="spTitle"><i class="fa fa-star"></i>: Top-2 Player, <i
                                                class="fa fa-check"></i>: Turn</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!----end card-->

            </div>
        </div>
    </div>
</div>


<div id="joinConfirmationPopup" class="popupScreen2">
    <div *ngIf="selectedGame">
        <div class="mediumBlueBg">{{selectedGame.name}}</div>
        <div *ngIf="0"><input type=text id="passField" name="passField" placeholder="Password" value="" maxlength=20>
        </div>
        <div *ngIf="selectedGame.gameType=='locked'">Team: <button ng-click="teamButtonClicked()" id="" type="button"
                class="btn ptp-yellow">{{teamName}}</button></div>
        <div *ngIf="!selectedGame.auto_assign_flg">
            <div style="border: 1px solid black;">
                <div>Nations Available: </div>
                <img *ngFor="let nation of availableNations"
                    src="assets/graphics/images/flag{{nation}}.gif" height=20></div>
            <div>Choose one: <button (click)="cycleNationsButtonPressed()" type="button" class="btn btn-light roundButton"><img
                        src="assets/graphics/images/flag{{selectedNation}}.gif" height=50></button></div>
        </div>
        <button onClick="closePopup('joinConfirmationPopup')" type="button" class="btn btn-danger roundButton"><i
                class="fa fa-times"></i> Cancel</button>
        <button (click)="joinAcceptButtonPressed()" id="" type="button" class="btn btn-primary roundButton tall2"><i
                class="fa fa-check"></i> Join Game</button>
        <p>
    </div>
</div>


<app-user-popup #userPopup [user]="user" (messageEvent)="userUpdated($event)"></app-user-popup>
<app-create-game-popup #createGamePopup [user]="user" (messageEvent)="refreshGames($event)"></app-create-game-popup>
<app-game-standings #gameStandingsPopup [user]="user"></app-game-standings>
<app-matchmaking-standings #matchmakerStandingsPopup [user]="user"></app-matchmaking-standings>