.mainButton {
    height: 120px;
    max-width: 150px;
    width: 30%;
}
.spCard2 {
    background-color: #033a77;
    color: white;
    border-radius: 5px;
    overflow: hidden;
    margin: 3px;
}
.small-text {
    font-size: 12px;
}

@media screen and (max-width: 440px) {
    .small-text {
        font-size: 8px;
    }
    .hide-sm {
        display: none;
    }
}