<app-header></app-header>


<span style="display: inline-block; position: absolute; padding: 5px; color: #555; font-size: 10px; top: -8px;">Version:
	{{appVersion}}</span>

<div style="display: table; position: absolute; left: 0; top: 0; height: 100%; width: 100%;">
	<div style="display: table-cell; vertical-align: middle; text-align: center;">
		<div
			style="max-width: 800px; display: block; margin-left: auto; margin-right: auto; padding-bottom: 60px; text-align: center;">
			<img id="spLogo" src="assets/graphics/images/superpowers.png" style="width: 100%;">
			<div class="container-fluid" style="text-align: center;" *ngIf="!showVideoPlayerFlg">
				<div class="row">
					<div class="col-sm-6" style="padding: 0;">
						<img (mousedown)="singlePlayerGame()" *ngIf="user.rank>=2" class="shadowed main-page-item"
							src="assets/graphics/buttons/singleButton.png" title="Single Player">
						<img (mousedown)="singlePlayerGame()" *ngIf="!user || !user.rank || user.rank<2" class="shadowed main-page-item"
							src="assets/graphics/buttons/basicTrainButton.png" title="Basic Training">

						<div *ngIf="singleGameId>0"
							style="color: #337ab7; margin-top: -15px; z-index: 100; font-size: 12px;">
							<b>Game in Progress!</b>
						</div>

						<button *ngIf="0" (mousedown)="multiplayGameClicked(loginPopup)" type="button"
							class="btn btn-primary circleButton"
							style="width: 180px; height: 180px; background-size: cover; background-image: url('assets/graphics/buttons/multiplayer.png'); background-position: center; background-size: cover;">
						</button>

					</div>

					<div class="col-sm-6" style="padding: 0;">

						<img (mousedown)="multiplayGameClicked(loginPopup)" class="shadowed main-page-item"
							src="assets/graphics/buttons/multiButton.png" title="Multi-Player Games">

						<div *ngIf="user && user.gamesTurn > 0"
							style="color: #337ab7; margin-top: -15px; z-index: 100; font-size: 12px;"><b>Your turn in
								{{user.gamesTurn}} games!</b>
						</div>

					</div>
				</div>
			</div>

			<div *ngIf="0" style="display: inline-block; border: 1px solid gray; width: 100%; max-width: 400px;">
				<div style="text-align: center; font-size: 12px; color: gray;">Google Ads</div>
				<ins class="adsbygoogle" style="display:block;" data-ad-client="ca-pub-2626924352662007"
					data-ad-slot="3410873039" data-ad-format="auto" data-full-width-responsive="true"></ins>
			</div>
		</div>
	</div>
</div>

<div class="bottom-bar">

	<button (mousedown)="userPopup.show(user)" type="button" class="btn btn-primary roundButton">
		<img src="assets/graphics/ranks/rank{{user.rank}}.png" style="max-height: 28px; max-width: 60px;"
			title="{{yourRankName}}">
		<span style="padding: 5px;">{{user.userName}}</span>
	</button>
	<span *ngIf="user.userId == 0" class="whiteLink" (mousedown)="multiplayGameClicked(loginPopup)">
		Login
	</span>

	<a routerLink="/info"><button type="button" class="btn btn-primary roundButton"><i class="fa fa-book"></i>
			Rules </button></a>

	<button *ngIf="guestNum ==0" (mousedown)="playVideo(1)" type="button" class="btn btn-secondary roundButton"
		style="height: 60px;"><i class="fa fa-film"></i>
		Intro
		Video</button>
	<button *ngIf="guestNum==1" (mousedown)="playVideo(2)" type="button"
		class="btn btn-secondary roundButton glowButton"><i class="fa fa-film"></i> Gameplay
	</button>
	<button *ngIf="guestNum==2" (mousedown)="playVideo(2)" type="button" class="btn btn-secondary roundButton"><i
			class="fa fa-film"></i> Gameplay
	</button>
	<button *ngIf="guestNum==3" (mousedown)="playVideo(3)" type="button"
		class="btn btn-secondary roundButton glowButton"><i class="fa fa-film"></i> Homescreen
		Icon
		Video</button>

</div>

<div *ngIf="showVideoPlayerFlg"
	style="position: absolute; left: 0; top: 0; text-align: center; width: 100%; z-index: 100; background-color: gray; padding-bottom: 50px; box-shadow: 5px 5px 10px #444;">
	<video id="mainVideo" style="width: 100%; height: auto; min-width: 480px; min-height: 320px;">
		<source src="http://www.superpowersgame.com/superpowers480.mov" type="video/mp4">
	</video>
	<div>
		<button (mousedown)="turnOffVideo()" type="button" class="btn btn-secondary roundButton"><i
				class="fa fa-times"></i>
			Cancel
		</button>
	</div>
	<button (mousedown)="turnOffVideo()" type="button" class="btn btn-secondary roundButton"
		style="z-index: 1000; position: fixed; top: 0; left: 0;"><i class="fa fa-times"></i>
	</button>
</div>

<!-------popups------------------>
<div class="popupScreenNoPad" style="width: 280px; z-index: 5;" id="continueGamePopup">
	<img src="assets/graphics/advisors/leader.png" height=170 onClick="closePopup('continueGamePopup')">
	<div style="font-size: 24px;">Game in Progress!</div>
	<div>You have a single player game in progress.</div>
	<button (mousedown)="startSPGame(1)" type="button"
		class="btn btn-secondary roundButton tall glowButton">Continue</button>
	<button (mousedown)="startSPGame(2)" type="button" class="btn btn-primary roundButton">Start New Game</button>
</div>
<div class="popupScreenNoPad" style="width: 280px; z-index: 5;" id="initPopup" onClick="closePopup('initPopup')">
	<div style="background-color: #337ab7; color: white; text-align: center;">Superpowers Game Master
		<button type="button" class="btn btn-secondary roundButton"><i class="fa fa-times"></i></button>
	</div>
	<div style="padding: 5px;" *ngIf="user">
		<img src="assets/graphics/advisors/leader.png" height=170>
		<div *ngIf="user.rank == 0">
			Welcome newbie! Want to take over the world? Yes, of course you do! Press 'Basic Training' to get started!
		</div>
		<div *ngIf="user.rank == 1">
			Nice work! Press 'Basic Training' to continue with your training!
		</div>
		<div *ngIf="user.rank == 2">Congratulations! You can now continue with your training, or try multi-player!</div>
		<div *ngIf="user.gamesTurn>0">It's your turn in {{user.gamesTurn}} of the multi-player games!</div>
		<div *ngIf="user.newGameCount>0">New multiplayer game has started!</div>
		<div *ngIf="user.endGameCount>0">One of your multi-player Games has ended!</div>

		<div *ngIf="user.newRankFlg">
			<img src="assets/graphics/misc/crowdCheer.jpg" width="100%">
			<table width=95%>
				<tr>
					<td><img src="assets/graphics/misc/trophy.png" width="75"></td>
					<td>
						<div>You have been promoted!</div>
					</td>
					<td><img src="assets/graphics/ranks/rank{{user.rank}}.png"
							style="max-width: 75px; max-height: 100px;">
						<div style="font-size: 12px; font-weight: 700;">{{yourRankName}}</div>
					</td>
				</tr>
			</table>
			<div class="borderClass2"> Next Rank: <img src="assets/graphics/ranks/rank{{user.rank+1}}.png" height="22">
				{{yourNextRankName}}
				<div style="font-size: 12px;">{{yourNextRankDesc}}</div>
			</div>
		</div>

		<div *ngIf="user.newEmpFlg">
			<img class="shadowed" src="assets/graphics/units/emp.png" title="Matchmaking" height="200">
			<div>You have earned a new EMP! These can be used in matchmaking games only. Check out the units page to
				see
				how they work.</div>
		</div>
		<div><button type="button" class="btn btn-primary roundButton medium">Got it!</button>
		</div>
	</div>
</div>

<app-login-popup #loginPopup (messageEvent)="userUpdated($event)"></app-login-popup>
<app-user-popup #userPopup [user]="user" (messageEvent)="userUpdated($event)"></app-user-popup>