<app-header></app-header>


<div style="max-width: 800px; display: block; margin-left: auto; margin-right: auto; text-align: center;">
	<img id="spLogo" src="assets/graphics/images/superpowers.png" title="Superpowers!"
		style="width: 100%; cursor: pointer;">
	<div class="container-fluid" style="text-align: center;">
		<div class="row">
			<div class="col-sm-4">
				<img title="Multi-Player" (click)="multiplayGameClicked(loginPopup)"
					style="cursor: pointer; width: 100%; max-width: 300px;"
					src="assets/graphics/buttons/multiButton.png">
			</div>
			<div class="col-sm-4">

				<div *ngIf="user.rank>=0" class="roundedCard" style="cursor: pointer;" (click)="userPopup.show()">
					<div style="background-color: #444; color: white;">
						<img src="http://www.superpowersgame.com/graphics/avitars/{{user.userGraphic}}"
							style="height: 25px; max-width: 30px;" align=left>
						<b> <span *ngIf="!user.userName || user.userName.length==0">Your
								Rank</span>{{user.userName}}</b>
						<img style="float: right;" *ngIf="myEMPCount>0" src="assets/graphics/units/piece52u.png"
							height=25>
						<img style="float: right;" *ngIf="myEMPCount>1" src="assets/graphics/units/piece52u.png"
							height=25>
					</div>
					<div style="padding: 5px;">
						<div style="font-size: 14px;"><img src="assets/graphics/ranks/rank{{user.rank}}.png"
								style="max-height: 45px; max-width: 120px;" title="{{superpowersData.ranks[user.rank].name}}"></div>
					</div>
					<div *ngIf="superpowersData" style="background-color: #444; color: white;">
						{{superpowersData.ranks[user.rank].name}}
					</div>
				</div>
				<div>
					<a routerLink="/info"><button type="button" class="btn btn-primary roundButton"><i
								class="fa fa-info-circle"></i> Info & Rules </button></a>
					<div class="hidden-sm">
						<button (click)="scoreboardPopup.show()" type="button" class="btn btn-primary roundButton"><i
								class="fa fa-chevron-right"></i> Scoreboard </button>
					</div>
					<!--<span *ngIf="owner_flg"><a href="#!userStats"><button type="button" class="btn btn-primary roundButton"><i class="fa fa-user"></i> User Stats</button></a> </span>-->
					<!--<span *ngIf="showInstallButton && user.rank<5"><button type="button" class="btn ptp-gray roundButton"><i class="fa fa-map-pin"></i> Install/Setup</button></span>-->
					<!--<a href="#!forum" *ngIf="0"><button type="button" class="btn btn-primary roundButton"><i class="fa fa-comment"></i> Forum <span *ngIf="forumCount>0">({{forumCount}})</span></button></a>-->
					<!--<a href="https://itunes.apple.com/us/app/superpowers-game/id539807409?ls=1&mt=8" *ngIf="user.rank==0"><img src="graphics/misc/iosAppStore.png" width=150></a>
			<a href="https://play.google.com/store/apps/details?id=com.superpowersgame" *ngIf="user.rank==0"><img src="graphics/misc/googlePlay.png" width=150></a>	-->
				</div>


			</div>
			<div class="col-sm-4">
				<button (click)="singlePlayerGame(startGamePopup)" type="button" class="btn btn-primary circleButton"
					style="background-image: url('assets/graphics/buttons/singleButton.png'); background-position: center; background-size: cover;"><img
						id="button2" title="singleButton.png"
						style="cursor: pointer; width: 100%; max-width: 300px;"
						src="assets/graphics/buttons/singleButton.png"></button> 
						<div *ngIf="singleGameId>0" style="color: #337ab7;"><b>Game in Progress!</b></div>
			</div>
		</div>
	</div>
</div>

hostname: {{hostname}}



<div><a routerLink="/board"> Board </a></div>
<div><a routerLink="/info"> Info </a></div>
<div><a routerLink="/multiplayer"> multiplayer </a></div>

<app-rules-popup #rulesPopup></app-rules-popup>
<app-login-popup #loginPopup></app-login-popup>
<app-user-popup #userPopup></app-user-popup>
<app-scoreboard-popup #scoreboardPopup></app-scoreboard-popup>
<app-start-game-popup #startGamePopup></app-start-game-popup>