<app-header></app-header>

<span style="display: inline-block; position: absolute; padding: 5px; color: #555; font-size: 10px; top: -8px;">Version: {{appVersion}}</span>
<div style="max-width: 800px; display: block; margin-left: auto; margin-right: auto; text-align: center;">
	<img id="spLogo" src="assets/graphics/images/superpowers.png" title="Superpowers!" style="width: 100%;">
	<div class="container-fluid" style="text-align: center;">
		<div class="row">
			<div class="col-sm-4" style="padding: 0;">


				<img (click)="singlePlayerGame(startGamePopup)" class="shadowed"
					src="assets/graphics/buttons/singleButton.png" height="220" style="cursor: pointer;">

				<div *ngIf="singleGameId>0" style="color: #337ab7; margin-top: -15px; z-index: 100; font-size: 12px;">
					<b>Game in Progress!</b></div>

				<button *ngIf="0" (click)="multiplayGameClicked(loginPopup)" type="button"
					class="btn btn-primary circleButton"
					style="width: 180px; height: 180px; background-size: cover; background-image: url('assets/graphics/buttons/multiplayer.png'); background-position: center; background-size: cover;">
				</button>

			</div>
			<div class="col-sm-4" style="padding-top: 10px;">

				<div *ngIf="user" class="spCard" style="cursor: pointer;" (click)="userPopup.show(user)">
					<div>
						<div class="spTitle" style="height: 32px; padding-left: 0;">
							<img src="{{user.imgSrc}}" style="height: 32px; max-width: 44px; float: left;">
							<span style="padding: 5px;">{{user.userName}}</span>
							<img style="float: right;" *ngIf="user.empCount>0" src="assets/graphics/units/piece52u.png"
								height=25>
							<img style="float: right;" *ngIf="user.empCount>1" src="assets/graphics/units/piece52u.png"
								height=25>
							<i class="fa fa-pencil-square-o"
								style="float: right; padding-right: 5px; padding-top: 3px;"></i>
						</div>
						<div style="padding: 5px; background-color: white;">
							<div style="font-size: 14px;"><img src="assets/graphics/ranks/rank{{user.rank}}.png"
									style="max-height: 45px; max-width: 120px;"
									title="{{superpowersData.ranks[user.rank].name}}"></div>
						</div>
						<div *ngIf="superpowersData" style="background-color: #444; color: white;">
							{{superpowersData.ranks[user.rank].name}}
						</div>
					</div>
				</div>
				<div>
					<a routerLink="/info"><button type="button" class="btn btn-primary roundButton"><i
								class="fa fa-info-circle"></i> Info & Rules </button></a>
					<button (click)="scoreboardPopup.show()" type="button" class="btn btn-primary roundButton"><i
							class="fa fa-book"></i> Rule Changes </button>
					<a href="http://superpowersgame.com/app/index.html"><button type="button" class="btn btn-primary roundButton"><i
								class="fa fa-star"></i> Old Game Engine </button></a>
					<!--<span *ngIf="owner_flg"><a href="#!userStats"><button type="button" class="btn btn-primary roundButton"><i class="fa fa-user"></i> User Stats</button></a> </span>-->
					<!--<span *ngIf="showInstallButton && user.rank<5"><button type="button" class="btn ptp-gray roundButton"><i class="fa fa-map-pin"></i> Install/Setup</button></span>-->
					<!--<a href="#!forum" *ngIf="0"><button type="button" class="btn btn-primary roundButton"><i class="fa fa-comment"></i> Forum <span *ngIf="forumCount>0">({{forumCount}})</span></button></a>-->
					<!--<a href="https://itunes.apple.com/us/app/superpowers-game/id539807409?ls=1&mt=8" *ngIf="user.rank==0"><img src="graphics/misc/iosAppStore.png" width=150></a>
			<a href="https://play.google.com/store/apps/details?id=com.superpowersgame" *ngIf="user.rank==0"><img src="graphics/misc/googlePlay.png" width=150></a>	-->
				</div>


			</div>
			<div class="col-sm-4" style="padding: 0;">

				<img (click)="multiplayGameClicked(loginPopup)" class="shadowed"
					src="assets/graphics/buttons/multiButton.png" height="220" style="cursor: pointer;">

				<div *ngIf="user && user.gamesTurn > 0"
					style="color: #337ab7; margin-top: -15px; z-index: 100; font-size: 12px;"><b>Your turn in
						{{user.gamesTurn}} games!</b>
				</div>

			</div>
		</div>
	</div>
</div>

<!-------popups------------------>
<div class="popupScreenNoPad" style="width: 280px; z-index: 5;" id="initPopup" onClick="closePopup('initPopup')">
	<div style="background-color: #337ab7; color: white; text-align: center;">Superpowers Game Master
		<button type="button" class="btn btn-secondary roundButton"><i class="fa fa-times"></i></button>
	</div>
	<div style="padding: 5px;" *ngIf="user">
		<img src="assets/graphics/advisors/leader.png" height=170>
		<div *ngIf="user.rank < 2">
			Welcome newbie! Want to take over the world? Yes, of course you do! Your first step will be to win a single
			player game.
		</div>
		<div *ngIf="user.rank==2">Nice work! Now you are ready for multi-player!</div>
		<div *ngIf="user.gamesTurn>0">It's your turn in {{user.gamesTurn}} of the multi-player games!</div>
		<div *ngIf="user.newGameCount>0">New multiplayer game has started!</div>
		<div *ngIf="user.endGameCount>0">One of your multi-player Games has ended!</div>

		<div *ngIf="user.newRankFlg">
			<img src="assets/graphics/misc/crowdCheer.jpg" width="100%">
			<table width=95%>
				<tr>
					<td><img src="assets/graphics/misc/trophy.png" width="75"></td>
					<td>
						<div>You have been promoted!</div>
					</td>
					<td><img src="assets/graphics/ranks/rank{{user.rank}}.png"
							style="max-width: 75px; max-height: 100px;">
						<div style="font-size: 12px; font-weight: 700;">{{superpowersData.ranks[user.rank].name}}</div>
					</td>
				</tr>
			</table>
			<div class="borderClass2"> Next Rank: <img src="assets/graphics/ranks/rank{{user.rank+1}}.png" height="22">
				{{superpowersData.ranks[user.rank+1].name}}
				<div style="font-size: 12px;">{{superpowersData.ranks[user.rank+1].desc}}</div>
			</div>
		</div>

		<div *ngIf="user.newEmpFlg">
			<img class="shadowed" src="assets/graphics/units/emp.png" title="Matchmaking" height="200">
			<div>You have earned a new EMP! These can be used in matchmaking games only. Check out the units page to see
				how they work.</div>
		</div>
		<div><button type="button" class="btn btn-primary roundButton medium">Got it!</button>
		</div>
	</div>
</div>

<app-rules-popup #rulesPopup></app-rules-popup>
<app-login-popup #loginPopup (messageEvent)="userUpdated($event)"></app-login-popup>
<app-user-popup #userPopup [user]="user" (messageEvent)="userUpdated($event)"></app-user-popup>
<app-scoreboard-popup #scoreboardPopup></app-scoreboard-popup>
<app-start-game-popup #startGamePopup></app-start-game-popup>