<div class="modal fade" id="emailPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <b><i class="fa fa-envelope"></i> Email Developer</b>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="font-size: 18px; text-align: center;">

                <div>Question or comments? Send them to:</div>
                <div><a href="mailto:rick@superpowersgame.com">rick@superpowersgame.com</a></div>
        
            </div>
			<div class="modal-footer">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
        </div>
    </div>
</div>