<div class="modal fade" id="matchmakerStandingsPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <b><i class="fa fa-trophy"></i> Matchmaking League</b>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bgImageClass" style="padding: 0; text-align: center;">

                <div *ngIf="maxGames>0 && !loadingFlg" style="background-color: #777; color: white;">
                    <span style="font-size: 12px;"><span class="hidden-xxs">Max</span> Games:</span>
                    <button (click)="changeMaxGames(-1)" [disabled]="maxGames==0" type="button"
                        class="btn btn-primary roundButton"><i class="fa fa-minus"></i></button>
                    <span class="borderClass2">{{maxGames}}</span>
                    <button (click)="changeMaxGames(1)" [disabled]="maxGames==5" type="button"
                        class="btn btn-primary roundButton"><i class="fa fa-plus"></i></button>
                    <button *ngIf="maxGames>0" (click)="exitLeague()" type="button" class="btn btn-danger roundButton">
                        <i class="fa fa-sign-out"></i> Exit League
                    </button>
                </div>
                <div>
                    <div class="spCard">
                        <div>
                            <div class="spTitle">Matchmaking League Details</div>
                            <div class="spCardBody" style="font-size: 12px;">
                                <div *ngIf="maxGames>0">
                                    <button (click)="infoFlg = !infoFlg" type="button"
                                        class="btn btn-secondary roundButton">
                                        <i class="fa fa-info-circle"></i> League Info
                                    </button>
                                </div>
                                <div *ngIf="maxGames==0 && !loadingFlg" style="padding: 20px;">
                                    <div>Join Matchinging now!</div>
                                    <button (click)="joinLeague()" type="button"
                                        class="btn btn-success roundButton" style="font-size: 32px;">
                                        <i class="fa fa-sign-in"></i> Join League
                                    </button>
                                </div>
                                <div *ngIf="infoFlg" class="borderClass3">
                                    <div><i class="fa fa-hand-o-right"></i> Games start automatically</div>
                                    <div><i class="fa fa-hand-o-right"></i> Play against people at your own skill level</div>
                                    <div><i class="fa fa-hand-o-right"></i> Settings are random</div>
                                    <div><i class="fa fa-hand-o-right"></i> Can be in up to 5 games at once</div>
                                    <div><i class="fa fa-hand-o-right"></i> Earn 1 EMP for every 5 games</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="spCard" *ngIf="availablePlayers">
                        <div>
                            <div class="spTitle">Players Ready</div>
                            <div class="spCardBody" style="padding: 5px;">
                                <div>Players queued and ready: <span class="bgHighlight">{{availablePlayers}}</span>
                                </div>
                                <div *ngIf="userWaiting">On Deck: <span
                                        class="bgHighlight">{{userWaiting.userName}}</span></div>

                                <div *ngIf="user.userName=='Rick'">
                                    <button [disabled]="availablePlayers < 8" (click)="startMMGames(userWaiting.points)"
                                        type="button" class="btn btn-primary roundButton">
                                        <i class="fa fa-play"></i> Start Games
                                    </button>
                                    <button *ngIf="0" [disabled]="availablePlayers < 8" (click)="startMMGames(1500)"
                                        type="button" class="btn btn-primary roundButton">
                                        <i class="fa fa-play"></i> Start 1500
                                    </button>
                                    <button *ngIf="ipViolateFlg" (click)="ipShowPlayersFlg = !ipShowPlayersFlg"
                                        type="button" class="btn btn-danger roundButton">
                                        <i class="fa fa-exclamation-triangle"></i> IP
                                    </button>
                                    <div *ngIf="ipShowPlayersFlg">
                                        <div>{{ipViolator}}</div>
                                        <div class="spTable">
                                            <tr *ngFor="let player of fullLeaderList">
                                                <td>{{player.userName}} {{player.ip}}</td>
                                            </tr>
                                        </div>
                                    </div>
                                </div>
                                <!---Rick (admin)-->

                            </div>
                        </div>
                    </div>
                </div>


                <div *ngIf="loadingFlg" style="font-size: 24px;">
                    <i class="fa fa-spinner fa-spin"></i> Loading...
                </div>
                <div *ngIf="!loadingFlg">


                    <div class="spCard">
                        <div>
                            <div class="spTitle"><i class="fa fa-trophy"></i> Matchmaking Standings</div>
                            <table class="spTable">
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>W</th>
                                    <th>L</th>
                                    <th>G</th>
                                    <th>Stk</th>
                                    <th class="hidden-xxs"># Playing</th>
                                    <th class="hidden-xxs">Max</th>
                                    <th>Pts</th>
                                </tr>
                                <tr *ngFor="let player of fullLeaderList; let i = index" (click)="showPlayer(player)">
                                    <td>#{{i+1}}</td>
                                    <td>
                                        <app-player-name [player]="player"></app-player-name>
                                    </td>
                                    <td>{{player.wins}}</td>
                                    <td>{{player.losses}}</td>
                                    <td>{{player.games}}</td>
                                    <td>{{player.streak}}</td>
                                    <td class="hidden-xxs">{{player.games_playing}}</td>
                                    <td class="hidden-xxs">{{player.games_max}}</td>
                                    <td>{{player.points}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div>
                        <div class="spCard">
                            <div>
                                <div class="spTitle"><i class="fa fa-fire"></i> Hot Streak</div>
                                <table class="spTable">
                                    <tr>
                                        <th>Name</th>
                                        <th>Streak</th>
                                    </tr>
                                    <tr *ngFor="let player of hotStreakList" (click)="showPlayer(player)">
                                        <td>
                                            <app-player-name [player]="player"></app-player-name>
                                        </td>
                                        <td> {{player.streak}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="spCard">
                            <div>
                                <div class="spTitle"><i class="fa fa-cube"></i> Cold Streak</div>
                                <table class="spTable">
                                    <tr>
                                        <th>Name</th>
                                        <th>Streak</th>
                                    </tr>
                                    <tr *ngFor="let player of coldStreakList" (click)="showPlayer(player)">
                                        <td>
                                            <app-player-name [player]="player"></app-player-name>
                                        </td>
                                        <td> {{player.streak}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>