<!------------------leader----------------------------->
<div class="terr-card">
    <div style="color: white;"><img src="assets/graphics/images/flag{{selectedTerritory.nation}}.gif" height=20>&nbsp;
        <span *ngIf="selectedTerritory.nation>0">{{superpowersData.superpowers[selectedTerritory.nation]}}
            Leader</span>
        <span *ngIf="selectedTerritory.nation==0">{{selectedTerritory.leaderName}} </span>
    </div>
    <table width=100%>
        <tr [ngStyle]="ngStyleLogs(selectedTerritory.owner)">
            <td>
                <img src="assets/graphics/advisors/{{selectedTerritory.leaderPic}}"
                    style="height: 100%; max-height: 120px;" title="{{selectedTerritory.leaderName}}">
            </td>
            <td>
                <div><b>{{selectedTerritory.leaderName}}</b></div>
                <div style="font-size: 12px;">"{{selectedTerritory.leaderMessage}}"</div>

                <div *ngIf="currentPlayer.status=='Attack'">
                    <div *ngIf="currentPlayer.diplomacyFlg && currentPlayer.treatyOfferedNation>0" class="borderClass2">
                        <i class="fa fa-flag"></i> Treaty has been offered to
                        {{superpowersData.superpowers[currentPlayer.treatyOfferedNation]}}
                    </div>
                    <div *ngIf="selectedTerritory.owner>0 && selectedTerritory.treatyStatus < 4">
                        <button *ngIf="!currentPlayer.diplomacyFlg && selectedTerritory.treatyStatus < 2"
                            (click)="offerTreaty(2)" style="font-size: 12px;" type="button"
                            class="btn btn-warning roundButton"><i class="fa fa-flag"></i> Offer
                            Peace</button>

                        <button
                            *ngIf="!currentPlayer.diplomacyFlg && selectedTerritory.treatyStatus == 2 && gameObj.allowAlliances && gameObj.type!='barbarian' && gameObj.type!='battlebots'"
                            (click)="offerTreaty(3)" style="font-size: 12px;" type="button"
                            class="btn btn-success roundButton"><i class="fa fa-flag"></i> Offer
                            Alliance</button>

                        <button *ngIf="selectedTerritory.treatyStatus > 0" style="font-size: 12px;"
                            (click)="declareWar()" type="button" class="btn btn-danger roundButton"><i
                                class="fa fa-bell"></i>
                            Declare War!</button>
                    </div>
                    <span *ngIf="selectedTerritory.requestedHotSpot>0"
                        style="border: 1px solid black; background-color: #cfc;" title="Territory Fortified"><img
                            src="assets/graphics/images/flag{{selectedTerritory.requestedHotSpot}}.gif" height=15> <i
                            class="fa fa-shield"></i></span>
                    <span *ngIf="selectedTerritory.requestedTarget>0"
                        style="border: 1px solid black; background-color: #fcc;" title="Territory Targeted"><img
                            src="assets/graphics/images/flag{{selectedTerritory.requestedTarget}}.gif" height=15> <i
                            class="fa fa-bullseye"></i></span>
                </div>
            </td>
        </tr>
    </table>
</div>
<!------------------strategyHint----------------------------->
<div *ngIf="selectedTerritory.strategyHint.length>0 && selectedTerritory.nation<99" class="terr-card">
    <div style="color: white;">
        <img src="assets/graphics/images/flag{{currentPlayer.nation}}.gif" height=20>
        {{superpowersData.superpowers[currentPlayer.nation]}} Military Advisor
    </div>
    <table width=100%>
        <tr [ngStyle]="ngStyleLogs(currentPlayer.nation)">
            <td><img src="assets/graphics/advisors/general{{currentPlayer.nation}}.jpg"
                    style="height: 100%; max-height: 70px;"></td>
            <td style="font-size: 12px;"><i class="fa fa-flag"></i> {{selectedTerritory.strategyHint}}
            </td>
        </tr>
    </table>
</div>

