<img src="assets/graphics/images/map.png" style="margin-top: 100px; z-index: -10; box-shadow: 10px 10px 15px #000;">

<div style="display: inline-block; width: 100%; max-width: 1200px;">
	<div style="text-align: center; font-size: 12px; color: gray;">Google Ads</div>
	<ins class="adsbygoogle" style="display:block;" data-ad-client="ca-pub-2626924352662007" data-ad-slot="3410873039"
		data-ad-format="auto" data-full-width-responsive="true"></ins>
</div>

<div *ngIf="isDesktopFlg">
	<svg *ngFor="let svg of svgs" [attr.x]="svg.left" [attr.y]="svg.top" [attr.width]="svg.width"
		[attr.height]="svg.height" [attr.top]="svg.top" [attr.left]="svg.left" [attr.viewBox]="svg.viewBox"
		[ngStyle]="ngStylePositionSvg(svg)" style="z-index: 0; position: absolute;">
		<!--width: {{svg.width}}; left: {{svg.left}}; top: {{svg.top}};-->
		<g id="svg{{svg.id}}" fill="transparent" stroke="none" stroke-width="60">
			<path [attr.d]="svg.path" />
		</g>
	</svg>
</div>
<!---flags--->
<div *ngFor="let terr of gameObj.territories" id="{{'terr'+terr.id}}" style="position: absolute; z-index: 0;">
	<img (mousedown)="terrClicked(territoryPopup, terr, gameObj, ableToTakeThisTurn, currentPlayer, user)"
		src="assets/graphics/images/{{terr.flag || 'flag10.gif'}}" [class]="ngClassFlag(terr, isDesktopFlg)"
		id="{{'flag'+terr.id}}" title='{{terr.title}}' alt='{{terr.title}}' style="cursor: pointer; z-index: 1;"
		(mouseenter)="changeSVGColor(true, terr.id, terr.owner)"
		(mouseleave)="changeSVGColor(false, terr.id, terr.owner)">
	<div style="padding-top: 0px; margin-top: -6px; max-width: 60px; white-space: nowrap;" *ngIf="terr.nation<99"><span
			class="boardBlack">{{terr.displayUnitCount}}</span>&nbsp;<img *ngIf="terr.piece>0"
			src="{{ngUnitSrc(terr.piece, terr.owner)}}" title="{{terr.pieceName}}"
			style="max-height: 18px; max-width: 24px;"></div>
	<div style="padding-top: 0px; margin-top: -6px; white-space: nowrap;"
		*ngIf="terr.nation==99 && terr.totalUnitCount>0">
		<span class="boardBlack" style="background-color: blue;">{{terr.displayUnitCount}}</span>
		<img *ngIf="terr.piece>0" src="{{ngUnitSrc(terr.piece, terr.owner)}}" title="{{terr.pieceName}}"
			style="max-height: 22px; max-width: 45px;">

	</div>
	<img *ngIf="terr.showGeneralFlg" src="assets/graphics/units/piece10u.png" height="25" style="position: absolute; top: 0; left: 0; z-index: 2; pointer-events: none;">
	<img *ngIf="terr.showLeaderFlg" src="{{ngUnitSrc(11, terr.owner)}}" height="25" style="position: absolute; top: 0; left: 15px; z-index: 2; pointer-events: none;">
	<img *ngIf="terr.nuked" src="assets/graphics/images/nuke3.png" height="25" style="position: absolute; top: 0; left: -10px; z-index: 2; pointer-events: none;">
	<img *ngIf="terr.defeatedByNation > 0" src="assets/graphics/images/attack.png" height="25" style="position: absolute; top: 0; left: -10px; z-index: 3; pointer-events: none;">
</div>

<!---nation labels--->
<span *ngFor="let terr of gameObj.territories" id="name{{terr.id}}" [ngStyle]="ngStyleNameLabel(terr)"
	style="z-index: 0; display: none; position: absolute; text-align: center; width: 55px; background-color: black; color: white; font-size: 10px; border: 1px solid white; box-shadow: 5px 5px 5px #000;">{{terr.name}}
	<div *ngIf="terr.capital && terr.id<79" style="color: yellow; font-size: 10px;"><i class="fa fa-star"></i>Capital
	</div>
</span>

<img onClick="closePopup('target')" src="assets/graphics/images/target.png" id="target" class="targetSign off">

<!---top bar--->
<section *ngIf="gameObj" [class]="ngClassGradient()"
	style="z-index: 201; text-align: center; background-color: #08c; position: fixed; width: 100%; top: 0px; height: 44px; box-shadow: 2px 2px 3px #000; max-height: 44px; line-height: 1.5em; overflow: hidden;">
	<span class="hidden-xxs" style="float: left; color: white; font-size: 12px; padding: 10px;">Version
		{{spVersion}} &nbsp;<i class="fa fa-mobile" *ngIf="!isDesktopFlg"></i> <i class="fa fa-desktop"
			*ngIf="isDesktopFlg"></i></span>
	<button (mousedown)="exitButtonPressed()" type="button" class="btn btn-secondary roundButton"><i
			class="fa fa-arrow-left"></i>
		Exit</button> 
	<span *ngIf="currentPlayer && gameObj.actionButtonMessage==''">{{currentPlayer.status}}</span>
	<button *ngIf="ableToTakeThisTurn && gameObj.actionButtonMessage && gameObj.actionButtonMessage.length>0 && !hideActionButton"
		(mousedown)="completeTurnButtonPressed()" id="completeTurnButton" type="button"
		class="btn btn-success roundButton">{{gameObj.actionButtonMessage}}</button>
	<button *ngIf="ableToTakeThisTurn && hideActionButton" (mousedown)="redoPurchase()" type="button"
		class="btn btn-success roundButton"><i class="fa fa-refresh"></i> Redo</button>
	<button *ngIf="gameObj.actionButtonMessage == 'Complete Turn' && ableToTakeThisTurn && hideActionButton" (mousedown)="completeTurnButtonPressed()" type="button"
		class="btn btn-success roundButton"><i class="fa fa-arrow-right"></i> End Turn</button>
	<span *ngIf="this.gameObj.gameOver" style="font-size: 20px; font-weight: 700;">
		Game Over!
	</span>
	<span *ngIf="currentPlayer && !this.gameObj.gameOver">
		<img (mousedown)="scrollToNation(currentPlayer.nation)"
			src="{{spFlagOfNation(currentPlayer.nation, gameObj.type)}}" height=42
			title="{{superpowersData.superpowers[gameObj.currentNation]}}" style="cursor: pointer;">
		<span style="background-color: #777; color: white; border: 1px solid black;">{{currentPlayer.userName}}</span>
		<span *ngIf="currentPlayer.status == 'Purchase'" style="background-color: #ccc; color: black; font-size: 14px; padding: 3px;">
			<span><img src="assets/graphics/images/coin.png" height=30
					title="coins">{{currentPlayer.money}} </span>
		</span>
	</span>
</section>
<!---gray bar--->
<div [style.background-color]="adminModeFlg?'red':'gray'"
	style="z-index: 201; background-color: gray; text-align: center; box-shadow: 2px 2px 5px #000; position: fixed; top: 45px; width: 100%; height: 55px;">
	<span *ngIf="!showControls" style="color: white; font-size: 20px;">
		&nbsp;
		<span *ngIf="loadingFlg"><i class="fa fa-spinner fa-spin"></i> Loading...</span>
		<span *ngIf="currentPlayer && currentPlayer.cpuFlg">
			<i class="fa fa-android"></i>
			<img src="assets/graphics/images/flag{{currentPlayer.nation || 1}}.gif" height="50">
			<i class="fa fa-spinner fa-spin"></i> {{currentPlayer.status}}

			<!--<span (click)="hiSpeedFlg = !hiSpeedFlg" class="checkBoxLink">
				<i *ngIf="!hiSpeedFlg" class="fa fa-square-o"></i>
				<i *ngIf="hiSpeedFlg" class="fa fa-check-square-o"></i>
				High Speed
			</span>-->


		</span>
	</span>
</div>
<!---second bar--->
<div *ngIf="showControls"
	style="z-index: 201; text-align: center;  position: fixed; top: 45px; width: 100%; line-height: 1.5em; overflow: hidden; max-height: 55px;">
	<span
		style="max-height: 44px; line-height: 1.5em; height: 44px; background-color: #557; border: 1px solid gray; box-shadow: 5px 5px 5px #000;">
		<button id="unitsButton" (mousedown)="unitsPopup.show()" type="button" class="btn btn-primary tight roundButton"
			style="line-height: 14px;"><i class="fa fa-fighter-jet"></i><br><span
				style="font-size: 10px;">Units</span></button>
		<button id="techButton" *ngIf="!gameObj.currentCampaign || gameObj.currentCampaign == 0 || gameObj.currentCampaign > 5" (mousedown)="techPopup.show(gameObj, ableToTakeThisTurn, currentPlayer, user)" type="button"
			class="btn btn-primary tight roundButton" style="line-height: 14px;"><i class="fa fa-cogs"></i><br><span
				style="font-size: 10px;">Tech</span></button>
		<button *ngIf="!gameObj.currentCampaign || gameObj.currentCampaign == 0 || gameObj.currentCampaign > 6" id="alliesButton"
			(mousedown)="gamePlayersPopup.show(gameObj, ableToTakeThisTurn, currentPlayer, user, 1)" type="button"
			class="btn btn-primary tight roundButton" style="line-height: 14px;"><i class="fa fa-users"></i><br><span
				style="font-size: 10px;">Allies</span></button>
		<button id="logsButton" (mousedown)="logsPopup.show(gameObj, ableToTakeThisTurn, currentPlayer, user, yourPlayer)" type="button"
			class="btn btn-primary tight roundButton" style="line-height: 14px;"><i class="fa fa-list-ol"></i><br><span
				style="font-size: 10px;">Logs</span></button>
		<button *ngIf="gameObj.multiPlayerFlg" id="chatButton"
			(mousedown)="chatPopup.show(gameObj, ableToTakeThisTurn, currentPlayer, user, yourPlayer)" type="button"
			class="btn btn-primary tight roundButton" style="line-height: 14px;"><i
				class="fa fa-commenting"></i><br><span style="font-size: 10px;">Chat</span></button>
		<button *ngIf="!gameObj.currentCampaign || gameObj.currentCampaign == 0 || gameObj.currentCampaign > 6" (mousedown)="gamePlayersPopup.show(gameObj, ableToTakeThisTurn, currentPlayer, user, 2)"
			type="button" class="btn btn-primary tight roundButton" style="line-height: 14px;"><i
				class="fa fa-line-chart"></i><br><span style="font-size: 10px;">Stats</span></button>
		<button id="" (mousedown)="audioPopup.show()" type="button" class="btn btn-primary tight roundButton"
			style="line-height: 14px;"><i class="fa fa-volume-up"></i><br><span
				style="font-size: 10px;">Sound</span></button>
		<button *ngIf="user.userName=='Rick'" (mousedown)="toggleAdminFlg()" type="button"
			class="btn btn-secondary tight roundButton" style="line-height: 14px;"><i *ngIf="!haltActionFlg"
				class="fa fa-lock"></i><br>
			<span style="font-size: 10px;">
				Admin</span></button>
	</span>
</div>
<!---third bar--->
<div *ngIf="gameObj.desc"
	style="text-align: center;  position: fixed; top: 95px; width: 100%; text-align: center; font-size: 12px; z-index: 202">
	<span title="{{gameObj.typeName}}: {{gameObj.desc}}"
		(mousedown)="gamePlayersPopup.show(gameObj, ableToTakeThisTurn, currentPlayer, user, 4)"
		style="cursor: pointer; padding-left: 5px; color: #ccc; background-color: #557; border: 1px solid gray; box-shadow: 5px 5px 5px #000;">
		Round <b>{{gameObj.round}}</b>
		<span style="background-color: #007; color: white; font-weight: 700; padding-left: 5px; padding-right: 5px;"><i
				class="fa {{gameObj.icon}}"></i> {{gameObj.name}}</span></span>

</div>
<!---------- menu button-->
<button *ngIf="showControls" id="menu1Button"
	(mousedown)="gamePlayersPopup.show(gameObj, ableToTakeThisTurn, currentPlayer, user, 4)" type="button"
	class="btn btn-primary roundButton" style="z-index: 300; position: fixed; left: -2px;"><i class="fa fa-bars"></i>
	Menu</button>

<!-----------------players sidebar------------------>
<div id="sidelinePopup" *ngIf="!hidePlayersPanelFlag"
	(mousedown)="gamePlayersPopup.show(gameObj, ableToTakeThisTurn, currentPlayer, user, 0)"
	style="cursor: pointer; position: fixed; min-width: 50px; max-width: 68px; top: 150px; left: 0; border: 1px solid black; text-align: center; box-shadow: 3px 3px 5px #000; transition: all 1s ease;">
	<div id="playerPanel" class="roundedPanel" *ngIf="currentPlayer">
		<div style="background-color: #444; color: white; font-size: 10px;">Players</div>
		<div *ngFor="let player of gameObj.players" style="white-space: nowrap;"
			[style.background-color]="player.nation==yourNation?'white':'#ccc'" title="{{player.userName}}">
			<div *ngIf="player.alive">
				<i *ngIf="player.nation==currentPlayer.nation" class="fa fa-check"
					style="font-size: 10px; color: green;"></i>
				<i *ngIf="player.nation==yourNation && player.nation!=currentPlayer.nation" class="fa fa-hand-o-right"
					style="font-size: 10px; color: green;"></i>
				<img src="{{spFlagOfNation(player.nation, gameObj.type)}}" height=30>
				<img *ngIf="player.nukes" src="assets/graphics/units/piece14.gif" height=15
					style="margin-left: -4px; margin-right: -6px;">
				<span style="font-size: 10px; font-weight: 700;">{{player.income}}</span>
				<div *ngIf="player.nation==currentPlayer.nation" style="font-size: 10px;">{{player.userName}}</div>
			</div>
		</div>
	</div>
</div>

<button id="sidelineButton" *ngIf="isMobileFlg && !hidePlayersPanelFlag" (mousedown)="hidePlayersPanelFlag=true"
	type="button"
	style="cursor: pointer; position: fixed; min-width: 50px; max-width: 60px; top: 320px; left: 0; transition: all 1s ease;"
	class="btn btn-secondary roundButton"><i class="fa fa-arrow-down"></i></button>

<!-----------------purchase sidebar------------------>
<div id="purchaseSideBar" (mousedown)="productionQueuePopup.show(gameObj, ableToTakeThisTurn, currentPlayer, user)"
	*ngIf="showPanelsFlg && !hidePlayersPanelFlag"
	style="cursor: pointer; position: fixed; min-width: 50px; max-width: 60px; top: 360px; left: 0; border: 1px solid black; text-align: center; box-shadow: 3px 3px 5px #000; transition: all 1s ease;">
	<div class="roundedPanel" *ngIf="currentPlayer">
		<div style="background-color: #444; color: white; font-size: 10px;">Purchases</div>
		<img *ngFor="let unit of gameObj.unitPurchases" src="{{ngUnitSrc(unit.piece)}}"
			style="max-height: 18px; max-width: 30px;">

	</div>
</div>

<button *ngIf="hidePlayersPanelFlag" (mousedown)="eyeButtonPressed()" type="button"
	style="position: fixed; bottom: 0; left: 0;" class="btn btn-primary roundButton"><i class="fa fa-eye"></i></button>

<div id="battlePopup" onClick="closePopup('battlePopup')" class="popupMsg off"
	style="padding: 0; position: absolute; text-align: center; border-radius: 10px; overflow:hidden;">
	<div class="darkBlueBg" style="font-size: 14px; padding-left: 5px; padding-right: 5px;"><b><img
				src="assets/graphics/misc/skull.png" height="15"> Casualties</b></div>
	<table width="95%" align="center">
		<tr>
			<td *ngIf="!battleReport.cruiseFlg">
				<div><img src="assets/graphics/images/flag{{battleReport.attNation}}.gif" height="20"></div>
				<div>{{battleReport.attCasualties}}</div>
			</td>
			<td>
				<div><img src="assets/graphics/images/flag{{battleReport.defNation}}.gif" height="20"></div>
				<div>{{battleReport.defCasualties}}</div>
			</td>
		</tr>
	</table>
	<div class="darkBlueBg" style="font-size: 10px;">{{battleReport.result}}</div>
</div>
<div id="stratBombPopup" onClick="closePopup('stratBombPopup')" class="popupMsg off"
	style="padding: 0; position: absolute; text-align: center; border-radius: 10px; overflow:hidden; width: 100px;">
	<div class="darkBlueBg">Strategic Bomb</div>
	<div *ngIf="battleObj">
		<div>
			<span *ngFor="let unit of battleObj.airDefenseUnits">
				<img src="{{ngUnitSrc(unit.piece)}}" style="max-height: 18px; max-width: 30px;">
				<img *ngFor="let dice of unit.dice" src="assets/graphics/dice/{{dice}}" height="18">
			</span>
		</div>
		<div>
			<span *ngFor="let unit of battleObj.attackUnits">
				<img src="{{ngUnitSrc(unit.piece)}}" style="max-height: 18px; max-width: 30px;">
				<img *ngFor="let dice of unit.dice" src="assets/graphics/dice/{{dice}}" height="18">
			</span>
		</div>
		<div>
			<img *ngFor="let piece of battleObj.defCasualties" src="{{ngUnitSrc(piece)}}"
				style="max-height: 18px; max-width: 30px;">
		</div>
	</div>
</div>

<div *ngIf="0 && user.rank < 2 && showControls" class="bottomHelp1">
	<div class="bottomHelp2">
		<table>
			<tr>
				<td><img src="assets/graphics/advisors/general2.jpg" height="60"></td>
				<td>
					<div style="font-size: 10px;">New Player Help</div>
					<div style="font-size: 12px;"><b>{{newPlayerHelpText}}</b></div>
				</td>
			</tr>
		</table>
	</div>
</div>

<div id="popupMsgBox" onClick="closePopup('popupMsgBox')" class="popupMsg off"
	style="padding: 5px; position: absolute; width: 240px;">
	<table padding=3 style="width: 100%; background-color: yellow;">
		<tr>
			<td valign=middle><img id="popupFlag1" src="assets/graphics/images/flag1.gif" height=30></td>
			<td valign=middle><span id="popupMsg" style="font-size: 12px;">Done!</span></td>
			<td valign=middle><img id="popupFlag2" src="assets/graphics/images/flag1.gif" height=30></td>
		</tr>
	</table>
</div>
<div id="popupDiplomacyBox" onClick="closePopup('popupDiplomacyBox')" class="popupMsg off"
	style="padding: 5px; position: absolute; width: 240px;">
	<table padding=3 style="width: 100%;">
		<tr>
			<td valign=middle><img id="popupFlag1b" src="assets/graphics/images/flag1.gif" height=40></td>
			<td valign=middle><i class="fa fa-users"></i> &nbsp;<span id="popupMsgb"
					style="font-size: 12px;">Done!</span></td>
			<td valign=middle><img id="popupFlag2b" src="assets/graphics/images/flag1.gif" height=40></td>
		</tr>
	</table>
</div>
<div id="alertPopup" class="popupScreen2" style="z-index: 2000;" onClick="closePopup('alertPopup')">
	<div>
		<i class="fa fa-exclamation-triangle"></i> <span id="alertMessage">Done!</span>
	</div>
	<button onClick="closePopup('alertPopup')" id="" type="button"
		class="btn btn-primary roundButton medium">OK</button>
	<p>
</div>

<div onClick="closePopup('gameOverPopup')" id="gameOverPopup" class="popupScreenNoPad"
	style="max-width: 400px; z-index: 1000;">
	<div style="background-color: #444; color: white;">Game Over</div>
	<img *ngIf="yourPlayer && yourPlayer.wonFlg" src="assets/graphics/misc/victory.jpg" width=100%>
	<div *ngIf="yourPlayer && yourPlayer.wonFlg" style="color: green; font-size: 36px;">Victory!</div>
	<img *ngIf="yourPlayer && !yourPlayer.wonFlg" src="assets/graphics/misc/cityNuked.jpg" width=100%>
	<div *ngIf="yourPlayer && !yourPlayer.wonFlg" style="color: red; font-size: 36px;">Sorry, you lose!</div>
	<div id="winningTeam" style="color: black; font-size: 24px;">winning team</div>
	<button type="button" class="btn btn-primary roundButton medium">Got it!</button>
</div>

<div id="introPopup" class="popupScreen2" style="min-height: 440px; width: 300px; text-align:center;">
	<img src="assets/graphics/splash/spLogoSmall.png" (mousedown)="introContinuePressed()" width=280>
	<div *ngIf="gameObj && superpowersData && gameObj.currentCampaign > 0">
		<div style="font-size: 28px;">{{superpowersData.campaigns[gameObj.currentCampaign-1].name}}</div>
		<div style="font-size: 12px;">{{superpowersData.campaigns[gameObj.currentCampaign-1].desc}}</div>
		<div *ngIf="gameObj.currentCampaign>=1" style="font-size: 12px; text-align: left; border: 1px solid black; padding: 5px;">
			<div *ngIf="gameObj.currentCampaign==1">
				<div><img src="assets/graphics/units/piece3u.png" height="30"> <b>Basic Training:</b> Practice buying tanks and taking over a capital.</div>
			</div>
			<div *ngIf="gameObj.currentCampaign==2">
				<div><img src="assets/graphics/units/leader2.png" height="30"> <b>National Leader:</b> 10 bonus coins per turn as long as he is alive. Also, all ground units defend at +1 when he is attacked.</div>
				<div><img src="assets/graphics/units/piece10u.png" height="30"> <b>General:</b> All infantry attack at +1 when your general joins the battle. Also special abilities for each general. See Units tab for details.</div>
			</div>
			<div *ngIf="gameObj.currentCampaign==3">
				<div><img src="assets/graphics/units/piece7u.png" height="30"> <b>Bombers:</b> Your goal this campaign is to strategically bomb your enemy into submission. Read up on bombers on the units tab.</div>
				<div><img src="assets/graphics/units/piece13u.png" height="30"> <b>Air Defense:</b> Protect your factories with Air Defense! Up to 2 per territory can be used. See the units tab.</div>
			</div>
			<div *ngIf="gameObj.currentCampaign==4">
				<div><img src="assets/graphics/units/piece14u.png" height="30"> <b>Nukes:</b> Test out your nukes by launching them at enemy cities! Read up on nukes on the units tab.</div>
				<div><img src="assets/graphics/units/piece13u.png" height="30"> <b>Air Defense:</b> Air defense units protect against nukes by reducing the amount of damage.</div>
			</div>
			<div *ngIf="gameObj.currentCampaign==5">
				<div><img src="assets/graphics/units/piece4u.png" height="30"> <b>Transport:</b> Attempt an amphibious landings and take over the USA capital! Read up on transports on the units tab.</div>
			</div>
			<div *ngIf="gameObj.currentCampaign==6">
				<div><img src="assets/graphics/units/piece18u.png" height="30"> <b>Technology:</b> Technologies are now available for purchase, which can help turn the tide of the war. See the "Tech" tab for details.</div>
			</div>
			<div *ngIf="gameObj.currentCampaign==7">
				<div><img src="assets/graphics/misc/news3.png" height="30"> <b>Diplomacy:</b> Join forces and win as a team. Try to ally with another player through offering Peace Treaties and Alliances. Control 4 capitals to win the game.</div>
			</div>
			<div *ngIf="gameObj.currentCampaign==8">
				<div><img src="assets/graphics/units/piece5u.png" height="30"> <b>Fog of War:</b> Enemy units are now masked from view, in this diplomacy game. Control 5 capitals to win the game.</div>
			</div>
		</div>
	</div>
	<div id="intro1" class="off" style="font-size: 22px; margin-top: 20px;">Nations rise against nations...</div>
	<div id="intro2" class="off" style="font-size: 22px; margin-top: 20px;">Total war has broken out!</div>
	<div id="intro3" class="off" style="font-size: 16px; margin-top: 20px;">
		<p>You goal is to conquer at least 6 world superpowers!</p>
	</div>
	<div style="padding: 10px;"><button (mousedown)="introContinuePressed()" id="intro4" type="button"
		class="btn btn-primary roundButton tall glowBlue">Start the Game!</button></div>
	<div><a routerLink="/"><button id="intro5" type="button" class="btn btn-secondary roundButton">Exit Game</button></a></div>
</div>

<div id="currentTurnPopup" class="popupScreenNoPad" style="text-align:center;" onClick="closePopup('currentTurnPopup')">
	<div *ngIf="gameObj && currentPlayer">
		<div class="title">Current Turn</div>
		<div><img src="assets/graphics/images/flag{{currentPlayer.nation}}.gif" height=60></div>
		<div>
			<img *ngIf="currentPlayer.generalFlg" src="assets/graphics/units/piece10u.png" height="50">
			<img *ngIf="currentPlayer.leaderFlg" src="assets/graphics/units/leader{{currentPlayer.nation}}.png"
				height="50">
		</div>
		<div>Income: <span class="bgHighlight">{{currentPlayer.income}}</span></div>
		<div>Money: <span class="bgHighlight">{{currentPlayer.money}}</span></div>
		<div *ngIf="currentPlayer.status != 'Purchase'">Status: <span
				class="bgHighlight">{{currentPlayer.status}}</span>
		</div>

		<div class="borderClass3">
			<div><i class="fa fa-user"></i> <span class="bgHighlight">{{currentPlayer.userName}}</span></div>
			<div><i class="fa fa-clock-o"></i> Timer: <span class="bgHighlight">{{gameObj.timer}}</span></div>
			<div><i class="fa fa-arrow-down"></i> Last Login: <span class="bgHighlight">{{gameObj.lastLogin}}</span>
			</div>
		</div>
		<hr>

		<div *ngIf="showSkipPlayerButtonFlg" class="borderClass3" style="padding: 10px; width: 140px;">
			<div style="font-size: 12px;">Player has run out of time and can be skipped</div>
			<button (mousedown)="skipPlayerPressed()" id="" type="button" class="btn btn-danger roundButton tall2">Skip
				Player!</button>
		</div>
		<div *ngIf="showAccountSitButtonFlg" class="borderClass3" style="padding: 10px; width: 160px;">
			<div style="font-size: 12px;">You are able to account sit for this player</div>
			<button (mousedown)="accountSitButtonClicked()" id="" type="button"
				class="btn btn-warning roundButton tall">Account Sit!</button>
		</div>

	</div>

	<button type="button" class="btn btn-primary roundButton medium">Close</button>
</div>



<div id="popupSaving" class="popupScreen2" style="width: 300px;">
	<div onClick="closePopup('popupSaving')" style="font-size: 24px; color: #007;"><i *ngIf="!uploadMultiplayerFlg"
			class="fa fa-spinner fa-spin"></i>
		<span id="popupMessage">Game Save</span>
	</div>
	<div *ngIf="uploadMultiplayerFlg" id="statusMessage" style="font-size: 20px; color: #007;"><i
			class="fa fa-spinner fa-spin"></i> Computer Taking Turn</div>
	<div class="progress">
		<div id="progressBar" class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
			aria-valuemin="0" aria-valuemax="100" style="width: 0%">
		</div>
	</div>
	<div *ngIf="uploadMultiplayerFlg">
		<img id="statusImg" src="assets/graphics/misc/yellow.png" height=44>
		<button (mousedown)="closeMultiplayerStatus()" id="spinnerOKButton" type="button"
			class="btn btn-primary roundButton medium"><span id="statusOkButton">OK</span></button>
		<div id="statusMsg">Note: Game is saving, please wait...</div>
	</div>
</div>

<div id="computerTakeTurnPopup" class="popupScreen2" style="width: 300px;">
	<div>Allow computer to take your turn?</div>
	<button onClick="closePopup('computerTakeTurnPopup')" type="button" class="btn btn-danger roundButton tall2"><i
			class="fa fa-times"></i> Cancel</button>
	<button (mousedown)="computerGoClicked()" type="button" class="btn btn-success roundButton tall2"><i
			class="fa fa-check"></i> Go!</button>
</div>

<div id="invalidGamePopup" class="popupScreen2" style="width: 300px;">
	<div><i class="fa fa-exclamation-triangle"></i> Error: Invalid Game!</div>
	<a routerLink="/"><button type="button" class="btn btn-danger roundButton tall2">
			<i class="fa fa-arrow-left"></i> Exit!</button></a>
</div>


<div id="generalWithdrawPopup" class="popupScreen2" style="width: 300px;">
	<div *ngIf="displayBattle && displayBattle.wonFlg" style="font-size: 24px; color: green; font-weight: 800;">You Won!
	</div>
	<div>
		<font size=3 color=#03a><i class="fa fa-exclamation-triangle"></i> Withdraw General?</font>
	</div>
	<button (mousedown)="infoFlg = !infoFlg" id="" type="button" class="btn ptp-gray roundButton"><i
			class="fa fa-info-circle"></i> Withdraw Info</button>
	<div class="borderClass2" *ngIf="infoFlg">
		<div><b>General Withdraw Info</b></div>
		<div style="text-align: left;">
			<li> Generals have a unique ability to withdraw after a battle.
			<li> This allows him to assist in an attack, but then not be exposed to a possible counter-attack.
			<li> If you are a new player, simply press 'Stay'.
		</div>
	</div>
	<img src="assets/graphics/units/piece10u.png" height=40>
	<div>
		<button (mousedown)="withdrawGeneralButtonClicked()" id="generalWithdrawButton" type="button"
			class="btn btn-success roundButton tall2"><i class="fa fa-arrow-left"></i> Withdraw</button>
		<button onClick="closePopup('generalWithdrawPopup')" type="button" class="btn btn-danger roundButton tall2"><i
				class="fa fa-arrow-down"></i> Stay</button>
		<p>
	</div>
	<div *ngIf="user.rank <= 2" style="font-size: 12px;">Press 'Stay' to keep your General on the front lines.</div>
</div>

<div id="advisorPopup" (mousedown)="playGameButtonPressed()" class="popupScreenNoPad"
	style="width: 200px; z-index: 9999;">
	<div ng-style="ngStyleLogs(gameObj.currentNation)" style="color: black;">
		<img src="assets/graphics/images/flag{{currentPlayerNation}}.gif" height=20> Military Advisor
	</div>
	<img src="assets/graphics/advisors/general{{currentPlayerNation}}.jpg" width=100%>
	<div style="padding: 3px;">
		<i class="fa fa-certificate"></i> <span id="advisorMessage"></span>
	</div>
	<button id="" type="button" class="btn btn-primary roundButton">Sir, Yes
		Sir!</button>
</div>
<div id="infantry3Confirm" class="popupScreen2" style="width: 300px;">
	<div>Good job! Are you happy with your placement?</div>
	<button (mousedown)="redoMoves()" type="button" class="btn btn-warning roundButton tall2"><i
			class="fa fa-refresh"></i>
		Redo</button>
	<button (mousedown)="acceptInfantryPlacement()" id="" type="button" class="btn btn-success roundButton tall2"><i
			class="fa fa-check"></i> Yes!</button>
	<p>
</div>


<div *ngIf="superpowersData" id="promotionPopup" class="popupScreen2" style="width: 300px; padding: 0;">
	<img src="assets/graphics/misc/crowdCheer.jpg" width="100%">
	<table width=95%>
		<tr>
			<td><img src="assets/graphics/misc/trophy.png" width="75"></td>
			<td>
				<div>You have been promoted!</div>
			</td>
			<td><img src="assets/graphics/ranks/rank{{user.rank}}.png" style="max-width: 75px; max-height: 100px;">
				<div style="font-size: 12px; font-weight: 700;">{{superpowersData.ranks[user.rank].name}}</div>
			</td>
		</tr>
	</table>
	<div *ngIf="user.rank<18" class="borderClass2"> Next Rank: <img src="assets/graphics/ranks/rank{{user.rank+1}}.png"
			height="22">
		{{superpowersData.ranks[user.rank+1].name}}
		<div style="font-size: 12px;">{{superpowersData.ranks[user.rank+1].desc}}</div>

	</div>
	<button onClick="closePopup('promotionPopup')" id="" type="button" class="btn btn-primary roundButton tall2"><i
			class="fa fa-check"></i> Ok!</button>
	<p>
</div>

<img (mousedown)="dismissArrow()" id="arrow" src="assets/graphics/images/arrow.png"
	style="z-index: 999; position: fixed; top: 45px; left: 100px; height: 100px; display: none;">

<div id="basicTrainingMessagePopup" class="popupScreen2" style="z-index: 999"
	onClick="closePopup('basicTrainingMessagePopup')">
	<div>{{btPopupMessage}}</div>
	<button (mousedown)="dismissArrow()" type="button" class="btn btn-primary roundButton">Ok</button>
</div>

<div id="surrenderPopup" class="popupScreenNoPad" style="max-width: 400px;">
	<img src="assets/graphics/misc/cityNuked.jpg" width="100%">
	<div style="font-size: 12px;">Do you wish to surrender? Single player games are not saved to your record. Feel free
		to surrender at any time without penalty.</div>
	<button onClick="closePopup('surrenderPopup')" type="button"
		class="btn btn-primary roundButton medium">Cancel</button>
	<button (mousedown)="surrenderConfirmButtonPressed()" type="button"
		class="btn btn-danger roundButton medium">Surrender!</button>
</div>

<div id="skipPlayerPopup" class="popupScreen2">
	<div>
		<i class="fa fa-exclamation-triangle"></i> Player has run out of time! Skip player?
	</div>
	<button onClick="closePopup('skipPlayerPopup')" id="" type="button"
		class="btn btn-primary roundButton tall2">Cancel</button>
	<button (mousedown)="skipPlayerPressed()" id="" type="button"
		class="btn btn-danger roundButton tall2">Skip!</button>
	<p>
</div>

<div onClick="closePopup('technologyPopup')" id="technologyPopup" class="popupScreenNoPad" style="max-width: 400px;">
	<div style="background-color: #444; color: white;">Technology Breakthrough</div>
	<img src="assets/graphics/misc/gears.jpg" width=100%>
	<div>Technology Aquired:</div>
	<div *ngFor="let tech of technologyPurchases">
		<div><img src="assets/graphics/units/piece{{tech.piece}}u.png" height=30>
			<font size=4 color=black><b>{{tech.name}}</b></font>
		</div>
		<div>
			<font size=2 color=gray><b>{{tech.desc}}</b></font>
		</div>
	</div>
	<button onClick="closePopup('technologyPopup')" type="button"
		class="btn btn-primary roundButton medium">OK!</button>
</div>

<div id="accountSitPopup" class="popupScreen2" style="z-index: 999">
	<div>
		<font size=3 color=#03a><i class="fa fa-exclamation-triangle"></i> Account Sit?</font>
	</div>
	<div>You are an ally of this player, who has gone more than 12 hours without taking a turn. You can take the turn if
		you want.</div>
	<button onClick="closePopup('accountSitPopup')" id="" type="button" class="btn btn-danger roundButton">No
		Thanks</button>
	<button (mousedown)="accountSitButtonClicked()" id="" type="button"
		class="btn btn-primary roundButton tall">Yes!</button>
	<p>
</div>

<div id="endCampaignPopup" class="popupScreen2">
	<div style="font-size: 20px;">Campaign Completed!</div>
	<img src="assets/graphics/misc/trophy.png" width="75">
	<div>{{gameObj.currentSituation}}</div>
	<button onClick="closePopup('endCampaignPopup')" type="button" class="btn btn-primary roundButton tall">Ok!</button>
</div>

<div id="undoMovesPopup" class="popupScreen2">
	<div class="title">-Undo Moves-</div>
	<div>Note: You may or may not be able to undo your moves. By clicking "Refresh Board" it will take you back to the
		last saved state.</div>
	<button onClick="closePopup('undoMovesPopup')" type="button" class="btn btn-secondary roundButton">Cancel</button>
	<button (mousedown)="refreshGameBoard()" type="button" class="btn btn-warning roundButton">Refresh Board</button>
</div>

<div id="diplomacyWarningPopup" class="popupScreen2">
	<div class="title">-End Turn-</div>
	<div class="borderClass2" *ngIf="showAllianceMessageFlg">
		<div>Special Notice: You can form an alliance with another player and win the game together as a team. View the 'Allies' tab or 'Diplomacy' button to offer a peace treaty!</div>
		<button (mousedown)="dismissAllianceMessage()" type="button" class="btn btn-success roundButton tall">Ok!</button>
	</div>
	<div *ngIf="!showAllianceMessageFlg">
		<button onClick="closePopup('diplomacyWarningPopup')" type="button"
			class="btn btn-secondary roundButton">Cancel</button>
		<button *ngIf="currentPlayer && !currentPlayer.diplomacyFlg && (!gameObj.currentCampaign || gameObj.currentCampaign == 0 || gameObj.currentCampaign >=7)"
			(mousedown)="gamePlayersPopup.show(gameObj, ableToTakeThisTurn, currentPlayer, user, 1)" type="button"
			class="btn btn-warning roundButton">Diplomacy</button>
		<button (mousedown)="placeUnitsAndEndTurn()" type="button" class="btn btn-success roundButton tall2"><i
				class="fa fa-check"></i> End Turn</button>
	</div>
	<p>
</div>

<div id="whiteOut"
	style="width: 100%; height: 100%; position: fixed; top: 0; left: 0; background-color: white; display: none;"></div>


<img id="sprite" src="assets/graphics/units/piece{{spritePieceId}}u.png"
	style="display: none; position: absolute; left: 100px; top: 200px; max-height: 60px;; max-width: 60px;">
<img id="spriteShip" src="assets/graphics/units/piece{{spriteShipId}}u.png"
	style="display: none; position: absolute; left: 150px; top: 200px; max-height: 60px;; max-width: 60px;">
<img id="sprite144" src="assets/graphics/units/piece144u.png"
	style="display: none; position: absolute; left: 200px; top: 200px; max-height: 60px;; max-width: 60px;">
<img id="sprite7" src="assets/graphics/units/piece7u.png"
	style="display: none; position: absolute; left: 250px; top: 200px; max-height: 60px;; max-width: 60px;">
<img id="sprite14" src="assets/graphics/units/piece14u.png"
	style="display: none; position: absolute; left: 300px; top: 200px; max-height: 60px;; max-width: 60px;">
<img id="spriteInf1" src="assets/graphics/units/piece2u.png"
	style="display: none; position: absolute; left: 300px; top: 200px; max-height: 60px;; max-width: 60px;">
<img id="spriteInf2" src="assets/graphics/units/piece2u.png"
	style="display: none; position: absolute; left: 300px; top: 200px; max-height: 60px;; max-width: 60px;">
<img id="spriteInf3" src="assets/graphics/units/piece2u.png"
	style="display: none; position: absolute; left: 300px; top: 200px; max-height: 60px;; max-width: 60px;">
<img id="spriteInf4" src="assets/graphics/units/piece2u.png"
	style="display: none; position: absolute; left: 300px; top: 200px; max-height: 60px;; max-width: 60px;">
<img id="spriteInf5" src="assets/graphics/units/piece2u.png"
	style="display: none; position: absolute; left: 300px; top: 200px; max-height: 60px;; max-width: 60px;">

<img id="spriteFlg1" src="assets/graphics/images/flag1.gif"
	style="display: none; position: absolute; left: 300px; top: 200px; max-height: 40px;; max-width: 40px;">
<img id="spriteFlg2" src="assets/graphics/images/flag1.gif"
	style="display: none; position: absolute; left: 300px; top: 200px; max-height: 40px;; max-width: 40px;">
<img id="spriteFlg3" src="assets/graphics/images/flag1.gif"
	style="display: none; position: absolute; left: 300px; top: 200px; max-height: 40px;; max-width: 40px;">

<img id="nukeSprite" src="assets/graphics/anim/nuke{{nukeFrameNum}}.png"
	style="display: block; position: absolute; left: -200px; top: 200px; height: 200px;">

<img id="cruiseSprite" src="assets/graphics/anim/ex{{nukeFrameNum}}.png"
	style="display: block; position: absolute; left: -200px; top: 200px; max-height: 100px;; max-width: 100px;">



<app-leader-message-popup #leaderMessagePopup></app-leader-message-popup>
<app-loading-popup #loadingPopup></app-loading-popup>
<app-message-popup #messagePopup></app-message-popup>
<app-territory-popup #territoryPopup (messageEvent)="moveSpriteBetweenTerrs($event)"
	(battleHappened)="battleHappened($event)" (battleCompletedEmit)="battleCompletedEmit($event)"
	(withdrawGeneralClicked)="withdrawGeneralButtonClicked()" [adminModeFlg]="adminModeFlg"></app-territory-popup>

<app-game-players-popup #gamePlayersPopup></app-game-players-popup>
<app-production-queue-popup #productionQueuePopup></app-production-queue-popup>
<app-units-popup #unitsPopup [adminModeFlg]="adminModeFlg" (messageEvent)="battleHappened($event)"></app-units-popup>
<app-tech-popup #techPopup [adminModeFlg]="adminModeFlg"></app-tech-popup>
<app-logs-popup #logsPopup></app-logs-popup>
<app-chat-popup #chatPopup (messageEvent)="battleHappened($event)"></app-chat-popup>
<app-audio-popup #audioPopup (messageEvent)="musicUpdated($event)"></app-audio-popup>
<app-diplomacy-popup #diplomacyPopup (messageEvent)="diplomacyDone($event)"></app-diplomacy-popup>