<!------------------action buttons----------------------------->
<div class="terr-card">
    <div class="spTitle">Action Panel</div>
    <div *ngIf="currentPlayer.status != 'Purchase'" style="background-color: #ccc; color: black;">
        <!-- troop movement-->
        <div
            *ngIf="(selectedTerritory.treatyStatus>=3 || (selectedTerritory.nation==99 && selectedTerritory.unitCount==0))">
            <div *ngIf="0" style="font-size: 10px;">-Troop Movement-</div>

            <button (click)="changeOptionType('home')" *ngIf="optionType!='home'" type="button"
                class="btn btn-primary roundButton">
                <i class="fa fa-times"></i> Cancel</button>
           <button [disabled]="optionType=='movement'" (click)="changeOptionType('movement')" type="button"
                class="btn btn-success roundButton"><i class="fa fa-arrow-down"></i>&nbsp; Move Here</button>
            <button [disabled]="optionType=='movement'"
                *ngIf="selectedTerritory.treatyStatus==4 && selectedTerritory.nation==99"
                (click)="changeOptionType('movement')" type="button" class="btn btn-success roundButton"><i
                    class="fa fa-ship"></i>&nbsp; Load Ships</button>
            <button [disabled]="optionType=='loadPlanes'" *ngIf="selectedTerritory.bomberCount>0"
                (click)="changeOptionType('loadPlanes')" id="loadPlaneButton" type="button"
                class="btn btn-success roundButton"
                title="Each bomber can carry up to 2 infantry, plus hero units."><img
                    src="assets/graphics/units/piece7u.png" height="20" class="shadowedWhite"> Load Bombers</button>
            <button [disabled]="optionType=='loadChoppers'" *ngIf="selectedTerritory.cobraCount>0 "
                (click)="changeOptionType('loadChoppers')" type="button" class="btn btn-success roundButton"
                title=""><img src="assets/graphics/units/piece50u.png" height="20" class="shadowedWhite"> Load
                Cobras</button>
            <button *ngIf="selectedTerritory.paratrooperCount > 0" (click)="unloadAllParatroopers()" type="button"
                class="btn btn-success roundButton"><i class="fa fa-plane"></i>
                Un-Load All Paratroopers</button>
            <button
                *ngIf="currentPlayer.allies.length>0 && selectedTerritory.nation<99 && selectedTerritory.treatyStatus != 2"
                (click)="alliesInfoButtonClicked()" type="button" class="btn btn-warning roundButton">
                <i class="fa fa-users"></i> Allies</button>
        </div>
        <!---- attack buttons-->
        <div
            *ngIf="selectedTerritory.treatyStatus <= 2 && (selectedTerritory.unitCount>0 || selectedTerritory.nation<99)">
            <div *ngIf="0" style="font-size: 10px;">-Attack-</div>

            <button (click)="changeOptionType('home')" *ngIf="optionType!='home'" type="button"
                class="btn btn-primary roundButton">
                <i class="fa fa-times"></i> Cancel</button>
            <button (click)="changeOptionType('attack')" [disabled]="optionType=='attack'" type="button"
                class="btn btn-danger roundButton">
                <i class="fa fa-crosshairs" style="font-size: 28px;"></i><br>Attack</button>
            <button *ngIf="currentPlayer.nukes" [disabled]="optionType=='nuke'" (click)="changeOptionType('nuke')"
                type="button" class="btn btn-danger roundButton"><img src="assets/graphics/misc/nuke.png" height="30"
                    class="shadowedWhite" /><br>Nuke</button>
            <button *ngIf="selectedTerritory.cruiseFlg" [disabled]="optionType=='cruise'"
                (click)="changeOptionType('cruise')" type="button" class="btn btn-danger roundButton"><img
                    src="assets/graphics/misc/cruiseMissile.png" height="30" class="shadowedWhite" />
                <br>Cruise Missile</button>
            <button *ngIf="selectedTerritory.factoryCount>0" [disabled]="optionType=='bomb'"
                (click)="changeOptionType('bomb')" type="button" class="btn btn-danger roundButton">
                <i class="fa fa-plane" style="font-size: 28px;"></i>
                <!--<img src="assets/graphics/units/piece7u.png" height="30" class="shadowedWhite" />-->
                <br>Strategic Bomb</button>
            <button
                *ngIf="currentPlayer.allies.length>0 && selectedTerritory.nation<99 && selectedTerritory.treatyStatus != 2"
                (click)="alliesInfoButtonClicked()" type="button" class="btn btn-warning roundButton">
                <i class="fa fa-users"></i> Allies</button>
        </div>
        <!---- allies buttons-->
        <div *ngIf="showAlliesButtonsIdx == selectedTerritory.id && selectedTerritory.nation<99" class="borderClass3">
            <div style="font-size: 10px;">-Commands to Allies-</div>
            <button *ngIf="selectedTerritory.treatyStatus < 3" (click)="secondaryIndex=1" type="button"
                class="btn btn-warning roundButton"><i class="fa fa-bullseye"></i> Target</button>
            <button *ngIf="selectedTerritory.treatyStatus>2" (click)="secondaryIndex=2" type="button"
                class="btn btn-warning roundButton"><i class="fa fa-shield"></i> Fortify</button>
            <button *ngIf="selectedTerritory.treatyStatus==4 && selectedTerritory.owner != selectedTerritory.nation"
                (click)="secondaryIndex=3" type="button" class="btn btn-warning roundButton"><i
                    class="fa fa-arrow-right"></i>
                Transfer To Ally</button>
            <button *ngIf="selectedTerritory.treatyStatus==3 && selectedTerritory.owner != selectedTerritory.nation"
                (click)="secondaryIndex=4" type="button" class="btn btn-warning roundButton"><i class="fa fa-globe"></i>
                Request Transfer</button>

            <!------------------ally seconday buttons----------------------------->
            <div *ngIf="secondaryIndex==3" class="borderClass">
                <div>Transfer controll of this territory to an ally?</div>
                <button [disabled]="currentPlayer.allies.length==1" (click)="cycleAllies()" id="" type="button"
                    class="btn btn-primary roundButton"><img src="assets/graphics/images/flag{{allyNation}}.gif"
                        height=50></button>
                <button (click)="tranferConfirmButtonClicked()" type="button" class="btn btn-success roundButton"><i
                        class="fa fa-check"></i>Transfer!</button>
                <div style="font-size: 12px;">Note: Allies cannot transfer any of their original territories.</div>
            </div>
            <div *ngIf="secondaryIndex==4" class="borderClass">
                <div *ngIf="selectedTerritory.requestTransfer == currentPlayer.nation"><i class="fa fa-globe"></i>
                    Transfer Request Sent!</div>
                <div *ngIf="selectedTerritory.requestTransfer != currentPlayer.nation">
                    <div>Request that your ally transfer this country to you?</div>
                    <button (click)="requestTranferConfirmButtonClicked()" type="button"
                        class="btn btn-success roundButton"><i class="fa fa-check"></i> Give me
                        {{selectedTerritory.name}}!</button>
                    <div style="font-size: 12px;">Note: Allies cannot transfer any of their original territories.</div>
                </div>

            </div>
            <div *ngIf="secondaryIndex==2" class="borderClass" [ngStyle]="ngStyleLogs(allyNation)">
                <div *ngIf="selectedTerritory.requestedHotSpot == allyNation"><i class="fa fa-shield"></i>
                    Fortify Request Sent!</div>
                <div *ngIf="selectedTerritory.requestedHotSpot != allyNation">
                    <div>Request that your ally fortify this country with troops?</div>
                    <button [disabled]="currentPlayer.allies.length==1" (click)="cycleAllies()" id="" type="button"
                        class="btn btn-primary roundButton"><img src="assets/graphics/images/flag{{allyNation}}.gif"
                            height=50></button>
                    <button (click)="requestFortifyButtonClicked()" type="button" class="btn btn-success roundButton"><i
                            class="fa fa-check"></i> Fortify
                        {{selectedTerritory.name}}!</button>
                    <div style="font-size: 12px;">Note: You can only fortify one territory at a time.</div>
                </div>
            </div>
            <div *ngIf="secondaryIndex==1" class="borderClass">
                <div *ngIf="selectedTerritory.requestedTarget == allyNation"><i class="fa fa-target"></i>
                    Target Request Sent!</div>
                <div *ngIf="selectedTerritory.requestedTarget != allyNation">
                    <div>Request that your ally target this territory?</div>
                    <button [disabled]="currentPlayer.allies.length==1" (click)="cycleAllies()" id="" type="button"
                        class="btn btn-primary roundButton"><img src="assets/graphics/images/flag{{allyNation}}.gif"
                            height=50></button>
                    <button (click)="requestTargetButtonClicked()" type="button" class="btn btn-success roundButton"><i
                            class="fa fa-check"></i> Target
                        {{selectedTerritory.name}}!</button>
                    <div style="font-size: 12px;">Note: You can only target one territory at a time.</div>
                </div>
            </div>

        </div>

        <!---- secondary options--------------------------->



        <button *ngIf="infoFlg || (optionType=='attack' && totalUnitsThatCanMove>0)" (click)="infoFlg = !infoFlg" id=""
            type="button" class="btn btn-secondary roundButton"><i class="fa fa-info-circle"></i> Battle</button>


        <div *ngIf="infoFlg" class="borderClass2" style="text-align: left; font-size: 12px;">
            <div><b>Attack Details</b></div>
            <li> Attacks play out like a board game. Each unit rolls a dice.
            <li> The more units you have in the battle, the more chances to hit. So if you attack with 5
                tanks, you can get at most 5 hits per round of battle.
            <li> To score a hit, each unit must roll their attack factor or lower. See the board below as an example:
                <img src="assets/graphics/misc/combatBoard.png" width=100%>
            <li> Notice, tanks attack at 3, so they need a 1,2 or 3 to hit.
            <li> Infantry only attack at 1, so they have a 1 out of 6 chance of hitting.
            <li> If you include your general in the battle, infantry get +1 chance of hitting.
            <li> At the end of each round of battle, casualties for both attackers and defenders are
                removed from the game.
            <li> Casualties are chosen by eliminating the lowest value units first. your highest value
                units will be the last to be killed off.
            <li> Check each unit description for special abilities that each unit might have.
        </div>
        <div *ngIf="optionType!='home'" class="blueBgWhite">{{optionType}}</div>


    </div>
    <div style="background-color: #444; color: #fc0;" *ngIf="hostileMessage.length>0"><i
            class="fa fa-exclamation-triangle"></i> {{hostileMessage}}</div>
</div>