<div class="modal fade" id="territoryPopup" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document" style="max-width: 400px;">
		<div class="modal-content" *ngIf="selectedTerritory">
			<div class="modal-header"
				style="line-height: 40px; vertical-align: middle; background-color: #337ab7;  border: 0">
				<img *ngIf="selectedTerritory" src="assets/graphics/images/{{selectedTerritory.flag || 'flag1.gif'}}"
					title="{{superpowersData.superpowers[selectedTerritory.owner]}}" height=40>
				&nbsp;<span *ngIf="adminModeFlg" style="color: yellow; font-size: 12px;">[{{selectedTerritory.id}}]</span>
				&nbsp;<span style="font-size: 24px; font-weight: 700;">{{selectedTerritory.name}}</span>
				&nbsp;<span style="color: #ccc;">{{selectedTerritory.userName}}</span>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" style="padding: 0; text-align: center;">
				<div *ngIf="0" class="borderClass2">
					<div>optionType {{optionType}}</div>
					<div>attackedByNation {{selectedTerritory.attackedByNation}}</div>
					<div>defeatedByNation {{selectedTerritory.defeatedByNation}}</div>
					<div>attackedRound {{selectedTerritory.attackedRound}}</div>
					<div>defeatedByRound {{selectedTerritory.defeatedByRound}}</div>
				</div>

				<app-terr-header [selectedTerritory]="selectedTerritory" [ableToTakeThisTurn]="ableToTakeThisTurn"></app-terr-header>
				
				<div *ngIf="displayBattle && optionType == 'battle'">
					<div *ngIf="currentPlayer.nation==6 && displayBattle.generalUnit>0" style="background-color: #ccf;">
						<img src="assets/graphics/units/piece10u.png" height=20>
						General	took out unit <img src="{{ngUnitSrc(displayBattle.generalUnit)}}" height=20></div>
					<div *ngIf="currentPlayer.nation==4 && displayBattle.generalUnit>0" style="background-color: #ccf;">
						<img src="assets/graphics/units/piece10u.png" height=20>
						General	converted unit <img src="{{ngUnitSrc(displayBattle.generalUnit)}}" height=20></div>
					<div *ngIf="displayBattle.hijackerUnit>0" style="background-color: #ccf;"><img
							src="assets/graphics/units/piece41u.png" height=20> Hijacker converted unit <img
							src="{{ngUnitSrc(displayBattle.hijackerUnit)}}" height=20></div>
					<div *ngIf="displayBattle.medicHealedCount>0" style="background-color: #ccf;"><img
							src="assets/graphics/units/piece28u.png" height=20> Medic Heals:
						{{displayBattle.medicHealedCount}} <img src="{{ngUnitSrc(2)}}" height=20></div>
					<div *ngIf="displayBattle.subsDove" style="background-color: #ccf;"><img
							src="assets/graphics/units/piece5u.png" height=20> Remaining Subs dove to avoid planes.
					</div>

					<div style="padding: 3px;">
						<!--battle board-->
						<table border=1 width=100% align=center
							style="box-shadow: 3px 3px 3px #444; border-radius: 5px;">
							<tr [ngStyle]="ngStyleLogs(displayBattle.defNation)">
								<td colspan=5>
									<div style="font-size: 11px;">Air Defense <span
											*ngIf="displayBattle.airDefenseUnits.length==0">(none)</span>
									</div>
									<div *ngIf="displayBattle.airDefenseUnits.length>0">
										<div style="display: inline-block;"
											*ngFor="let unit of displayBattle.airDefenseUnits">
											<img *ngIf="unit.piece>0" src="{{ngUnitSrc(unit.piece, unit.nation)}}"
												height=20><br>
											<img *ngFor="let dice of unit.dice" src="assets/graphics/dice/{{dice}}"
												height=20 width=20>
										</div>
									</div>
								</td>
							</tr>
							<tr [ngStyle]="ngStyleLogs(displayBattle.attNation)">
								<td colspan=5><img src="assets/graphics/images/flag{{displayBattle.attNation}}.gif"
										height=20>
									<font color=red><b>Attacking Forces</b></font> <span
										*ngIf="displayBattle.phase>2 || displayBattle.attHits>0">(hits: <span
											class="bgHighlight">{{displayBattle.attHits}}</span>)</span>
								</td>
							</tr>
							<tr [ngStyle]="ngStyleLogs(displayBattle.attNation)">
								<td *ngFor="let i of boardCols">
									<div *ngFor="let unit of displayBattle.attackUnits" style="display: inline-block;">
										<span *ngIf="unit.att==i || i==5 && unit.att>=6">
											<img *ngIf="unit.piece>0" src="{{ngUnitSrc(unit.piece, unit.nation)}}"
												height=20 title="{{unit.name}}"><br>
											<span *ngIf="displayBattle.phase > 1">
												<img *ngFor="let dice of unit.dice" src="assets/graphics/dice/{{dice}}"
													height=20 width=20></span>
										</span>
									</div>
								</td>
							</tr>
							<tr style="font-weight: 900; color: white; background-color: #777;">
								<td>1</td>
								<td>2</td>
								<td>3</td>
								<td>4</td>
								<td>5+</td>
							</tr>
							<tr [ngStyle]="ngStyleLogs(displayBattle.defNation)" *ngIf="selectedTerritory.fogOfWar && displayBattle.round==0">
								<td colspan=5>-Fog of War-</td>
							</tr>
							<tr [ngStyle]="ngStyleLogs(displayBattle.defNation)" *ngIf="!selectedTerritory.fogOfWar || displayBattle.round>0">
								<td *ngFor="let i of boardCols">
									<div *ngFor="let unit of displayBattle.defendingUnits"
										style="display: inline-block;">
										<span *ngIf="unit.def==i || i==5 && unit.def>=6">
											<img *ngIf="unit.piece>0" src="{{ngUnitSrc(unit.piece, unit.nation)}}"
												height=20 title="{{unit.name}}"><br>
											<span *ngIf="displayBattle.phase > 1">
												<img *ngFor="let dice of unit.dice" src="assets/graphics/dice/{{dice}}"
													height=20 width=20></span>
										</span>
									</div>
								</td>
							</tr>
							<tr [ngStyle]="ngStyleLogs(displayBattle.defNation)">
								<td colspan=5><img src="assets/graphics/images/flag{{displayBattle.defNation}}.gif"
										height=20>
									<font color=blue><b>Defending Forces</b></font> <span
										*ngIf="displayBattle.phase>2 || displayBattle.defHits>0"> (hits: <span
											class="bgHighlight">{{displayBattle.defHits}}</span>)</span>
								</td>
							</tr>
						</table>
					</div> <!-- battle board-->

					<div *ngIf="!displayBattle.militaryObj.battleInProgress" class="terr-card2">
						<div class="darkBlueBg">Battle Completed</div>
						<div style="font-size: 32px;" [style.color]="displayBattle.militaryObj.wonFlg?'green':'red'">
							{{displayBattle.militaryObj.battleMessage}}</div>

						<div>
							<div class="borderClass3">
								<div class="darkBlueBg">Casualties</div>
								<div><img src="assets/graphics/images/flag{{displayBattle.attacker}}.gif" height="20">
									&nbsp;<span *ngIf="displayBattle.attCasualties.length==0">None</span>
									<span *ngFor="let piece of displayBattle.attCasualties" style="opacity: .5;"
										title="attacking casualties"><img src="{{ngUnitSrc(piece)}}" height=15
											title="{{superpowersData.units[piece].name}}"></span>
								</div>
								<div><img src="assets/graphics/images/flag{{displayBattle.defender}}.gif" height="20">
									&nbsp;<span *ngIf="displayBattle.defCasualties.length==0">None</span>
									<span *ngFor="let piece of displayBattle.defCasualties" style="opacity: .5;"
										title="attacking casualties"><img src="{{ngUnitSrc(piece)}}" height=15
											title="{{superpowersData.units[piece].name}}"></span>
								</div>
							</div>
							<div style="display: inline-flex; vertical-align: top;">
								<button (click)="closeModal('#territoryPopup')" type="button"
									class="btn btn-primary roundButton tall">OK</button></div>
						</div>
						<div *ngIf="displayBattle.bonusUnitsFlg && displayBattle.militaryObj.wonFlg"
							style="font-size: 12px;"><i class="fa fa-trophy"></i> You have been awarded troops:
							<img src="assets/graphics/units/piece2u.png" height="20">
							<img src="assets/graphics/units/piece2u.png" height="20">
							<img src="assets/graphics/units/piece3u.png" height="20">
						</div>
					</div>
					<div *ngIf="displayBattle.militaryObj.battleInProgress && displayBattle.phase != 2">
						<div *ngIf="displayBattle.bonusUnitsFlg" class="borderClass3" style="font-size: 12px;"><i
								class="fa fa-trophy"></i> You will be awarded troops if you win:
							<img src="assets/graphics/units/piece2u.png" height="20">
							<img src="assets/graphics/units/piece2u.png" height="20">
							<img src="assets/graphics/units/piece3u.png" height="20">
						</div>
						<table class="spTable" border=1>
							<tr>
								<td width="80"><img src="assets/graphics/advisors/general1.jpg" height="60"></td>
								<td valign="top">
									<div class="darkBlueBg" style="font-size: 12px;">Military Analysis</div>
									<div style="font-size: 12px; color: gray;">Expected Hits: <span
											class="bgHighlight">{{displayBattle.militaryObj.expectedHits}}</span>,
										Expected
										Losses: <span
											class="bgHighlight">{{displayBattle.militaryObj.expectedLosses}}</span>
									</div>
									<div style="color: green; font-weight: 500;">
										<i>"{{displayBattle.militaryObj.militaryMessage}}"</i>
									</div>
								</td>
							</tr>
						</table>
						<div *ngIf="displayBattle.round>0">Battle Round: <span
								class="bgHighlight">{{displayBattle.round}}</span></div>
						<button *ngIf="displayBattle.round==0" (click)="closeModal('#territoryPopup')" type="button"
							class="btn btn-secondary roundButton"><i class="fa fa-times"></i> Cancel</button>
						<button *ngIf="displayBattle.round==0" (click)="addMoreButtonClicked()" type="button"
							class="btn btn-primary roundButton"><i class="fa fa-plus"></i> Add More</button>

						<button *ngIf="displayBattle.phase==3" (click)="removeCasualties()" type="button"
							class="btn btn-primary roundButton"><i class="fa fa-heartbeat"></i> Remove
							Casualties</button>
						<button *ngIf="displayBattle.round>0 && displayBattle.allowRetreat" id="retreatButton"
							(click)="retreatButtonPressed()" type="button" class="btn btn-primary roundButton"><i
								class="fa fa-flag"></i> Retreat!</button>
						<button *ngIf="displayBattle.round>0 && displayBattle.militaryObj.includesGeneral"
							(click)="pullSelectTroopsMidBattle(1)" type="button" class="btn btn-warning roundButton"><i
								class="fa fa-arrow-left"></i> Pull General</button>
						<button *ngIf="displayBattle.round>0 && displayBattle.militaryObj.airunits>0"
							id="pullPlanesButton" (click)="pullSelectTroopsMidBattle(2)" type="button"
							class="btn btn-warning roundButton"><i class="fa fa-arrow-left"></i> Pull
							Planes</button>
						<button *ngIf="displayBattle.round>0 && displayBattle.militaryObj.bomberCount>0"
							id="pullBombersButton" (click)="pullSelectTroopsMidBattle(3)" type="button"
							class="btn btn-warning roundButton"><i class="fa fa-arrow-left"></i> Pull
							Bombers</button>

						<button [disabled]="!displayBattle.militaryObj.allowAttackFlg" id="fightButton"
							(click)="fightButtonPressed()" type="button" [ngClass]="fightButtonClass()"
							style="height: 60px; width: 100px;"><i class="fa fa-crosshairs"></i> Fight!</button>

						<span>
							<div class="squaredOne" style="display: inline-block; padding: 0; margin: 1px;">
								<input [checked]="autoCompleteFlg" [disabled]="displayBattle.defendingUnits.length == 0" (click)="autoCompletePressed()" type="checkbox"
									value="None" id="finalAttackBox" name="check" />
								<label for="finalAttackBox"></label>
							</div> <span style="font-size: 10px;">Auto</span>
						</span>
						<div *ngIf="autoCompleteFlg" class="borderClass2" style="font-size: 12px;"><b>Auto-Complete:</b>
							Battle will continue until resolved (no
							chance to retreat mid-battle)</div>
					</div>






				</div>
				<!--end The Battlefield-->

				<app-terr-buttons
					*ngIf="ableToTakeThisTurn && currentPlayer.status!='Purchase' && optionType != 'battle'"
					[selectedTerritory]="selectedTerritory" [currentPlayer]="currentPlayer"
					[superpowersData]="superpowersData" [gameObj]="gameObj" [user]="user" [optionType]="optionType"
					[ableToTakeThisTurn]="ableToTakeThisTurn" [hostileMessage]="hostileMessage" [totalUnitsThatCanMove]="totalUnitsThatCanMove"
					(messageEvent)="buttonClicked($event)"></app-terr-buttons>

				<app-terr-units *ngIf="optionType=='home' || optionType=='production'"
					[selectedTerritory]="selectedTerritory" [currentPlayer]="currentPlayer"
					[superpowersData]="superpowersData" [gameObj]="gameObj" [user]="user">
				</app-terr-units>

				<!--#########################################################################################-->
				<!-- troop selection panel -->
				<div *ngIf="ableToTakeThisTurn && optionType!='home' && currentPlayer.status!='Purchase' && optionType != 'battle'"
					class="terr-card">
					<div *ngIf="loadingFlg" class="progress-bar progress-bar-info progress-bar-striped"
						role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
						Busy...
					</div>
					<div *ngIf="!loadingFlg" style="background-color: #ccc; color: black;">
						<div
							*ngIf="(optionType=='movement' || optionType=='loadUnits') && selectedTerritory.nation==99 && selectedTerritory.unitCount>0">
							<button *ngIf="optionType=='movement'" (click)="optionType='loadUnits'" type="button"
								class="btn btn-success roundButton"><i class="fa fa-ship"></i> Custom Load
								Options</button>
							<button *ngIf="optionType=='loadUnits'" (click)="optionType='movement'" type="button"
								class="btn btn-success roundButton"><i class="fa fa-ship"></i> Auto Load</button>

							<button (click)="infoFlg = !infoFlg" type="button" class="btn btn-secondary roundButton"><i
									class="fa fa-info-circle"></i> Info</button>
							<div *ngIf="infoFlg" class="borderClass2">
								<div>Cargo Limits</div>
								<table class="spTable">
									<tr>
										<th>Ship</th>
										<th>Cargo</th>
									</tr>
									<tr>
										<td><img src="assets/graphics/units/piece4u.png" height=20 title="Transports">
										</td>
										<td><img src="assets/graphics/units/piece2u.png" height=20><img
												src="assets/graphics/units/piece2u.png" height=20><img
												src="assets/graphics/units/piece2u.png" height=20><img
												src="assets/graphics/units/piece2u.png" height=20></td>
									</tr>
									<tr>
										<td><img src="assets/graphics/units/piece4u.png" height=20 title="Transports">
										</td>
										<td><img src="assets/graphics/units/piece3u.png" height=20><img
												src="assets/graphics/units/piece3u.png" height=20></td>
									</tr>
									<tr>
										<td><img src="assets/graphics/units/piece8u.png" height=20
												title="Aircraft Carriers"></td>
										<td><img src="assets/graphics/units/piece6u.png" height=20><img
												src="assets/graphics/units/piece6u.png" height=20></td>
									</tr>
									<tr>
										<td>*<img src="assets/graphics/units/piece12u.png" height=20 title="All ships">
										</td>
										<td><img src="assets/graphics/units/piece13u.png" height=20><img
												src="assets/graphics/units/piece10u.png" height=20><img
												src="assets/graphics/units/piece11u.png" height=20></td>
									</tr>
								</table>
								<div> *all ships can carry heros and AA guns.</div>
							</div>
							<div *ngIf="optionType=='movement'">Select units to load, then press 'Go'</div>
							<div *ngIf="optionType=='loadUnits'">Select one ship plus cargo you want to load.</div>
						</div>

						<div *ngIf="optionType=='loadPlanes'" class="borderClass">Select units to load as paratroopers.
							<button (click)="infoFlg = !infoFlg" type="button" class="btn ptp-gray roundButton"
								style=""><i class="fa fa-info-circle"></i>Info</button>
							<div *ngIf="infoFlg">
								<img src="assets/graphics/units/piece7u.png" height="20">
								<img src="assets/graphics/units/piece2u.png" height="20">
								<img src="assets/graphics/units/piece2u.png" height="20">
								<img src="assets/graphics/units/piece10u.png" height="20">
								<img src="assets/graphics/units/piece11u.png" height="20">
								Each bomber can carry up to 2 infantry, plus hero units. Only select
								the paratroopers. Bombers are chosen automatically for you.</div>
						</div>

						<!--     each terr-->
						<div *ngFor="let terr of moveTerr; let i = index" [ngStyle]="ngStyleLogs(terr.nation)"
							class="terrClass" style="border: 1px solid black;">
							<div style="padding-left: 5px; font-size: 18px; font-weight: 700; text-align: left;">
								{{terr.name}}
								<span style="float: right;">
									<span *ngIf="terr.movableTroopCount >= 2" style="font-size: 10px;">Select All
									</span>
									<div *ngIf="terr.units.length>=2" class="squaredOne squaredOneGreen"
										style="display: inline-block; padding: 0; margin: 1px;">
										<input (click)="selectAllUnitsForTerr(terr)" type="checkbox" value="None"
											id="{{'ter'+terr.id}}" name="check" />
										<label for="{{'ter'+terr.id}}"></label>

									</div>
								</span>
							</div>
							<hr style="padding: 0; margin: 5px;">
							<div *ngFor="let unit of terr.units" style="display: inline-block;">
								<span *ngIf="checkMovement(terr.distObj, unit, optionType, currentPlayer, terr)">
									<div class="squaredOne"
										style="display: inline-block; padding: 0; margin: 1px;">
										<input (click)="checkSendButtonStatus(unit, terr)" type="checkbox" value="None" id="{{'unit'+unit.id}}" name="check" />
										<label for="{{'unit'+unit.id}}"></label>
									</div> <i class="fa fa-hourglass-half"
										*ngIf="unit.piece==28 && gameObj.round-1 == unit.medicRound"></i>
									<span style="margin-right: 10px;"> <img *ngIf="unit.piece>0"
											src="{{ngUnitSrc(unit.piece, unit.nation)}}" height=20
											title="{{unit.name}}"><span *ngIf="unit.cargoOf>0">(c)</span><span
											*ngFor="let cargo of unit.cargo"><img src="{{ngUnitSrc(cargo.piece)}}"
												height=10></span></span>
								</span>
							</div>
							<div *ngIf="selectedUnitTerr && selectedUnitTerr.max>4 && selectedUnitTerr.terrId==terr.id"
								style="margin-top: 5px; border: 1px solid gray; display: block; white-space: nowrap;">
								<button [disabled]="selectedUnitTerr.count==0" (click)="checkboxAmountOfUnit(0, terr)" type="button"
									class="btn btn-primary tight roundButton"><i
										class="fa fa-fast-backward"></i></button>
								<button [disabled]="selectedUnitTerr.count==0" (click)="checkboxAmountOfUnit(selectedUnitTerr.count-1, terr)" type="button"
									class="btn btn-primary tight roundButton"><i class="fa fa-backward"></i></button>
								<img src="{{ngUnitSrc(selectedUnitTerr.piece, 1)}}"
									style="max-height: 30px; max-width: 40px;">
								<span class="bgHighlight">{{selectedUnitTerr.count}} <font color=gray>/ {{selectedUnitTerr.max}}</font></span>
								<button [disabled]="selectedUnitTerr.count==selectedUnitTerr.max" (click)="checkboxAmountOfUnit(selectedUnitTerr.count+1, terr)" type="button"
									class="btn btn-primary tight roundButton"><i class="fa fa-forward"></i></button>
								<button [disabled]="selectedUnitTerr.count==selectedUnitTerr.max" (click)="checkboxAmountOfUnit(selectedUnitTerr.max, terr)" type="button"
									class="btn btn-primary tight roundButton"><i
										class="fa fa-fast-forward"></i></button>
							</div>

						</div> <!-- each terr-->
						<div *ngIf="totalUnitsThatCanMove==0" [ngStyle]="ngStyleLogs(selectedTerritory.nation)" style="border: 1px solid red; padding: 5px;">
							<div style="color: #700;"><b><i class="fa fa-exclamation-triangle"></i> 
								None of your units can reach {{selectedTerritory.name}}!</b>
								<button (click)="infoFlg=!infoFlg" type="button"
									class="btn btn-secondary roundButton"><i class="fa fa-info-circle"></i>
									Help</button>
								<div *ngIf="infoFlg" class="borderClass3" style="text-align: left; font-size: 12px; padding: 5px;">
									Reasons why you might not be able reach this territory:<br>
									<ol>
										<li>It's too far away.</li>
										<li>All your units have used their moves this turn.</li>
										<li>Land units must be transported across sea zones using transport ships.</li>
									</ol>
									Try moving units closer or click 'Complete Turn' and try again next turn.
								</div>
							</div>
							<div *ngIf="gameObj.round<6 && !gameObj.multiPlayerFlg" style="font-size: 12px;">This may be
								due to all your units
								having used up their moves for this turn. Click 'Complete Turn' to move to next turn.
							</div>
						</div>
						<div *ngIf="battleAnalysisObj">
							<button *ngIf="optionType=='attack'" [disabled]="totalUnitsThatCanMove==0"
								(click)="autoButtonPressed()" type="button" class="btn btn-secondary roundButton"><i
									class="fa fa-check-square-o"></i> Auto</button>
							<button *ngIf="totalUnitsThatCanMove>0" (click)="selectAllButtonChecked()" type="button"
								[disabled]="totalUnitsThatCanMove==0" class="btn btn-secondary roundButton"><i
									class="fa fa-check-square-o"></i> All</button>
							<button (click)="moveTroopsButtonPressed()" [disabled]="battleAnalysisObj.numAttUnits==0"
								type="button" class="btn btn-success roundButton"
								style="min-width: 120px; height: 50px;"><i class="fa fa-arrow-right"></i> Go</button>

						</div>
						<div *ngIf="battleAnalysisObj && totalUnitsThatCanMove>0 && (optionType=='attack' || optionType=='cruise' || optionType=='nuke')"
							style="font-size: 12px;">
							Expected Hits: <span class="highlightField">{{battleAnalysisObj.expectedHits}}</span>
							Expected Losses: <span class="highlightField">{{battleAnalysisObj.expectedLosses}}</span>
						</div>


					</div>
				</div>
				<!-- end troop selection panel -->

				<!------------------Production Queue----------------------------->
				<div *ngIf="optionType=='home' && selectedTerritory.displayQueue.length>0"
					class="terr-card">
					<div style="font-size: 10px; color: white;"><i class="fa fa-industry"></i> Production
						Queue
					</div>
					<div style="background-color: white; color: black;">
						<span *ngIf="selectedTerritory.displayQueue.length==0">&nbsp;</span>
						<span *ngFor="let unit of selectedTerritory.displayQueue"><img *ngIf="unit.piece>0"
								src="{{ngUnitSrc(unit.piece, 1)}}" height=20
								title="{{superpowersData.units[unit.piece].name}}"><span
								*ngIf="unit.count>1">({{unit.count}})</span>
						</span>
					</div>
				</div>
				<app-terr-purchase *ngIf="optionType=='production' || adminModeFlg" [selectedTerritory]="selectedTerritory"
					[currentPlayer]="currentPlayer" [superpowersData]="superpowersData" [gameObj]="gameObj"
					[user]="user" [optionType]="optionType" [ableToTakeThisTurn]="ableToTakeThisTurn"
					[allowFactoryFlg]="allowFactoryFlg" [adminModeFlg]="adminModeFlg"></app-terr-purchase>

				<app-terr-advice
					*ngIf="yourPlayer && yourPlayer.alive && selectedTerritory.leaderMessage.length>0 && (optionType=='home' || optionType == 'attack')"
					[selectedTerritory]="selectedTerritory" [currentPlayer]="currentPlayer"
					[superpowersData]="superpowersData" [gameObj]="gameObj" [user]="user" 
					[optionType]="optionType" [battleAnalysisObj]="battleAnalysisObj"
					[ableToTakeThisTurn]="ableToTakeThisTurn" [yourPlayer]="yourPlayer"></app-terr-advice>

			</div>
			<!--modal-body-->

			<div class="modal-header" style="background-color: #337ab7;  border: 0">
				<button (click)="closeModal('#territoryPopup')" type="button"
					class="btn btn-secondary roundButton">Close</button>
					<button *ngIf="ableToTakeThisTurn && optionType=='production'" (click)="completePurchaseButtonClicked()" type="button"
					class="btn btn-success roundButton">Purchase Complete</button>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
	</div>
</div>




<app-unit-detail-popup #unitDetailPopup></app-unit-detail-popup>