.gameOuter {
    display: inline-block;
    width: 100%;
    max-width: 398px;
    background-color: white;
    border-radius: 10px; 
	box-shadow: 2px 2px 3px #000;
	border: 2px solid gray;
}
.gameOuter:hover {
    border: 2px solid black;
    box-shadow: 4px 4px 5px #000;
}
.roundClass {
    background-color: #337ab7;
    padding: 2px;
    color: white;
	border-radius: 2px; 
	box-shadow: 2px 2px 3px #000;
	border: 1px solid black;
}
.gameName {
    font-size: 18px; 
    font-weight: 800;
    color: black;
    overflow: hidden;
    white-space: nowrap;
    text-shadow: 1px 1px white;
}